@import url(chunk-fontfacekit/stylesheet.css);

body {
  background-color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
}

#site-header {
  display: none;
}

.response-date {
  display: inline-block;
}
.response-date:first-letter {
  text-transform: uppercase;
}

.place-header-walking, .place-header-biking {
  padding: 8px 0 20px 72px;
  margin-bottom: 0;
}
.place-header-walking {
  background: url(images/icon-walking.png) left top no-repeat scroll;
}
.place-header-biking {
  background: url(images/icon-biking.png) left top no-repeat scroll;
}
.place-header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}
.place-header-walking h1 .bike-better,
.place-header-biking .walk-better {
  display: none;
}

.place-item-walk_better,
.place-item-bike_better {
  display: none;
}

label small {
  font-weight: normal;
}

/* The Map */
#map-container {
  top: 0;
}

/* The Add Place Button */
a.add-place {
  font-family: "ChunkFiveRegular",helvetica,arial;
  font-weight: normal;
  background-color: #00aeef;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #2e6aa7;
  text-shadow: 1px 1px #3e79b9;
}
a.add-place:hover {
  color: #fff;
}

/* The Ticker */
#ticker {
  top: 0; /* must match height of #site-header */
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

ul.recent-points {
  color: #00aeef;
}
.recent-points li {
  border-bottom: 1px solid #eee;
}
.recent-points li:hover {
  background: #eee;
}
.recent-points a {
  color: #00aeef;
}
.recent-points a:hover {
  color: #444;
}

/* Powered By */
#powered-by {
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  box-shadow: none;
  background: #fff;
  color: #777;
}
#powered-by a.shareabouts-logo {
  color: #00aaff;
}
#powered-by a.shareabouts-logo:hover {
  color: #00aaff;
  border-bottom: 1px solid #00aaff;
}
#powered-by a.openplans-logo {
  color: #ff8b38;
}
#powered-by a.openplans-logo:hover {
  color: #ff8b38;
  border-bottom: 1px solid #ff8b38;
}

input[type=text],
input[type=number],
textarea {
  padding: 0.5em;
}
.fileinput-container {
  padding: 0.25em 0.75em;
}
.inline-label {
  display: inline;
  margin-right: 0.5em;
}
#place-form p {
  margin-bottom: 0.8em;
}

.social {
  display: none;
}


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) {
  #content { top: 1.75em; }

  .activity-enabled .noscript {
    margin-right: 18em; /* width of ticker */
  }
  .activity-enabled #ticker {
    display: block;
  }
  .activity-enabled #map-container {
    right: 18em; /* width of ticker */
  }
  .activity-enabled #content {
/*    right: 18.75em; /* width of ticker + extra 0.75em */*/
    left: 40%;
  }
  .activity-enabled #powered-by {
    bottom: 0;
  }

  #powered-by {
    line-height: 2em;
    width: auto;
    height: 2em;
    right: 0;
    left: 0;
    bottom: 0;
    border-right: 0;
    z-index: 16;
  }
  #powered-by .nowrap {
    display: inline;
    margin-top: 0;
  }
  #map-container {
    bottom: 2em;
  }

}
@media only screen and (min-width: 1024px) {
  #content { top: 1.75em; }
  .activity-enabled #powered-by {
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
  }
}
@media only screen and (min-width: 1300px) {
  #content { top: 1.75em; }
}
