<!-- Analytics by GitHub Gauges -->
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '{{ config.analytics_key }}');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

<script type="text/javascript">

  $(Shareabouts).on('panelshow', function(evt, app, path) {

    // add class for displaying labels as inline
    $("label[for*=place-location_type],label[for*=place-my_image]").addClass("inline-label");

    // add class to paragraphs containing dynamic menus
    $("#place-walk_better").parent("p").addClass("walk-better-menu");
    $("#place-bike_better").parent("p").addClass("bike-better-menu");
    $("#save-place-btn").addClass("hidden");

    $(".walk-better-menu,.bike-better-menu").hide();

    $("#place-location_type").change(function() {
      $(".walk-better-menu,.bike-better-menu").hide();
      $('.walk-better-menu option,.bike-better-menu option')[0].selected = true;
      $("#save-place-btn").addClass("hidden");
      
      var chosen = $("#place-location_type").val();
      switch (chosen) {
        case "no-choice":
          break;
        case "walking":
          $(".walk-better-menu").show();
          break;
        case "biking":
          $(".bike-better-menu").show();
          break;
      }
    });

    $(".walk-better-menu,.bike-better-menu").change(function() {
      $("#save-place-btn").removeClass("hidden");
    });

  });
</script>