# user-specific
.bundle
db/*.sqlite3
log/*.log

# tmp
tmp/
.sass-cache/

# things with example files
config/database.yml
config/deploy.rb
config/initializers/devise.rb

# cover_me generated
coverage
coverage.data

# junk
.DS_Store