# user-specific
db/*.sqlite3
log/*.log

# tmp
tmp/
.sass-cache/
npm-debug.log

# cover_me generated
coverage
coverage.data

# junk
.DS_Store
*~
*#
*flymake*


# compiled files
*.py[co]
*.mo
staticfiles/
src/sa_web/static/build/
src/sa_web/static/dist/

# installed packages
env/
.env/
node_modules/

# local project settings
src/project/local_settings.py
src/project/config.yml
.env
.env.*

# sqlite database
*.db
