# user-specific
db/*.sqlite3
log/*.log

# tmp
tmp/
.sass-cache/

# cover_me generated
coverage
coverage.data

# junk
.DS_Store
*~
*#
*flymake*

# keys
src/project/sitekey.txt
src/project/siteurl.txt

# IDE project settings
.idea

# compiled files
*.py[co]
*.mo

# environment
env/
.env/
.env

# Local project settings
# src/project/local_settings.py
# src/project/config.yml
src/flavors/default

# sqlite database
*.db
