# The server
django<1.5
# gevent
gunicorn

# Database
south

# Templates
django-jstemplate>=1.3.6
django_compressor

# Web interface helpers
django-proxy>=1.0.1
requests
hashlib
httpagentparser

# Config
pyyaml
