# The server
django
# gevent
gunicorn

# Database
psycopg2
south

# REST API
djangorestframework
markdown
python-dateutil

# The manager interface
requests

# Testing, validating, and debugging
nose
django-nose
mock
mock_django
