# The server
# django==1.7.1
# gevent
# gunicorn==18.0
dj-static==0.0.6
# django-storages==1.1.8
# boto==2.27.0

# Templates
django-jstemplate>=1.3.6
django_compressor==1.4

# Web interface helpers
django-proxy>=1.0.2
# requests
httpagentparser

# Config
pyyaml
django-extensions


#=============================================================#
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #
#               Shareabouts API Dependencies                  #
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #
#=============================================================#


git+https://github.com/openplans/shareabouts-api.git@f335091#shareabouts-api


# ==============================
# Web server
# ==============================

Django==1.7.1
gevent==1.0
gunicorn==18.0
newrelic==2.16.0.12



# ==============================
# Background processing
# ==============================

celery==3.1.17
django-celery==3.1.16



# ==============================
# Database and Persistance
# ==============================

# DB Settings and Management
psycopg2==2.5.1
psycogreen==1.0
south==1.0.1
dj-database-url==0.2.2
django-object-actions==0.4.0

# Caching
django-redis==3.5.1

# File Storate
boto==2.27.0
django-storages==1.1.8



# ==============================
# User Accounts and Social Media
# ==============================

python-social-auth==0.1.23
# Use fork of oauth2-provider, for Django 1.7 compatibility
# django-oauth2-provider==0.2.6.1
git+https://github.com/glassresistor/django-oauth2-provider.git@4269205#egg=django-oauth2-provider
django-cors-headers==0.12



# ==============================
# REST API
# ==============================

djangorestframework==2.3.12
djangorestframework-csv==1.3.0
git+https://github.com/mjumbewu/django-rest-framework-bulk.git@84a5d6c#egg=djangorestframework-bulk==0.1.3
six>=1.4.1
markdown  # For browsable API docs
python-dateutil==2.2
ujson==1.33

# The Django admin interface
django-ace==1.0.1

# The manager interface
requests>=1.2.0



# ==============================
# Testing, validating, and debugging
# ==============================

nose
django-nose
mock
mock_django
responses==0.2.2
django-debug-toolbar==1.2.1
raven==4.2.1  # For Sentry error logging


# - - - - - - - - - - - - - - - -

# For DRF 0.4 (deprecated)
URLObject>=0.6.0
