{% load jstemplate %}
{% load compress %}
{% load i18n %}
{% load shareabouts_utils %}
{% load url from future %}

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE7">

  <title>{{ config.app.title }}</title>
  <meta name="description" content="{{ config.app.meta_description }}">
  <meta name="author" content="{{ config.app.meta_author }}">

  <!-- Social Media meta tags and such -->
  {% block meta %}{% endblock %}

  <!-- Mobile Viewport Fix -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />

  <!-- Favicon & Progressively-Enhanced Touch Icons: http://mathiasbynens.be/notes/touch-icons#sizes -->
  <link rel="shortcut icon" href="{{ config.static_url }}css/images/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ config.static_url }}css/images/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ config.static_url }}css/images/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ config.static_url }}css/images/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{ config.static_url }}css/images/apple-touch-icon-precomposed.png">

  <!-- Google WebFonts -->
  <link href='http://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>

  {% compress css %}
  <link rel="stylesheet" href="{{ settings.COMPRESS_URL }}css/normalize.css">
  <link rel="stylesheet" href="{{ settings.COMPRESS_URL }}css/default.css?deployed_at={{ settings.LAST_DEPLOY_DATE|urlencode:'' }}">
  {% endcompress %}

  <!-- Custom Stylesheet -->
  <link rel="stylesheet" href="{{ config.static_url }}css/custom.css?deployed_at={{ settings.LAST_DEPLOY_DATE|urlencode:'' }}">

  <link rel="profile" href="http://gmpg.org/xfn/11" />

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

</head>
<body class="{% if config.map.geocoding_enabled %} geocoding-enabled{% endif %}">

  <header id="site-header" class="clearfix{% if pages_config %} has-pages{% endif %}">
    <h1 id="site-title">{% block site-title %}{% endblock %}</h1>
    <div id="auth-nav-container"></div>
    <div id="pages-nav-container"></div>

    {% if config.data.app.list_enabled != False %}
    <nav class="list-toggle-nav">
      <a href="#" class="list-toggle-btn btn btn-block"><span class="show-the-map is-visuallyhidden">{{ config.place.show_map_button_label }}</span><span class="is-screen-reader-text">/</span><span class="show-the-list">{{ config.place.show_list_button_label }}</span></a>
    </nav>
    {% endif %}

    {% if config.languages %}
    <div id="language-picker">
      <nav class="access" role="article">
        <ul class="menu">
          <li class="menu-item">
            {% get_language_info for LANGUAGE_CODE as language %}
            <a class="current-language {{ LANGUAGE_CODE }} btn btn-block">{{ language.name_local }} ⌄</a>

            <form action="{% url 'set_language' %}" method="post">
              {% csrf_token %}
              <ul class="menu">
                {% for language in config.languages %}
                <li class="menu-item">
                  <button type="submit" name="language" value="{{ language.code }}" class="{{ language.code }} btn btn-block">{{ language.label }}</button>
                </li>
                {% endfor %}
              </ul>
            </form>
          </li>
        </ul>
      </nav>
    </div> <!-- .language-picker -->
    {% endif %}

  </header>

  <div class="unsupported-overlay"></div>

  <div role="main" id="main">
    <noscript>
      <div class="noscript">
      <h3>
        {% blocktrans %}
        Oops, {{ config.app.name}} needs JavaScript to work properly.
        {% endblocktrans %}
      </h3>
      <p>
        {% blocktrans %}
        {{ config.app.name }} is great but it needs something called JavaScript to work
        properly. But fear not, it's really easy to turn on. Click
        <a href="http://enable-javascript.com/" target="_blank">here</a> for simple instructions!
        {% endblocktrans %}
      </p>
      </div>
    </noscript>

    {% if config.map.geocoding_enabled %}
    <div id="geocode-address-bar" class="clearfix"></div>
    {% endif %}

    <div id="map-container">
      <div id="ajax-error-msg">{% blocktrans %}We can't connect to the server at the moment. Hang tight while we re-establish communication.{% endblocktrans %}</div>
      <div id="map-progress" class="progress-bar"><strong>Loading Data&hellip;</strong><span class="current-progress"></span></div>
      <div id="map"></div>
    </div>

    <div id="content"><!-- .place or .page -->
      <a href="#" class="close-btn">&#10005;<span>{% blocktrans %}Close{% endblocktrans %}</span></a>
      <article></article>
    </div><!-- end #content -->
  </div><!-- end #main -->

  <div id="ticker">
    {% block sidebar %}{% endblock %}
    <ul class="recent-points unstyled-list"></ul>
  </div>

  <div id="list-container"></div>

  <footer id="colophon">
    {% block colophon %}{% endblock %}
  </footer>

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}libs/jquery-1.10.2.js"><\/script>')</script><!-- FIXME: Maybe this should be pulled into the repo as a git submodule-->
  <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>

  {% compress js %}
  <script src="{{settings.COMPRESS_URL}}libs/underscore.js"></script>
  <script src="{{settings.COMPRESS_URL}}libs/backbone.js"></script>
  <script src="{{settings.COMPRESS_URL}}libs/backbone.marionette.js"></script>
  <script src="{{settings.COMPRESS_URL}}libs/handlebars-1.0.0.js"></script>
  <script src="{{settings.COMPRESS_URL}}libs/moment.min.js"></script>
  <script src="{{settings.COMPRESS_URL}}libs/json2.js"></script>
  <script src="{{settings.COMPRESS_URL}}libs/leaflet.argo.js"></script>
  <script src="{{settings.COMPRESS_URL}}libs/binaryajax.js"></script>
  <script src="{{settings.COMPRESS_URL}}libs/exif.js"></script>
  <script src="{{settings.COMPRESS_URL}}libs/load-image.min.js"></script>
  <script src="{{settings.COMPRESS_URL}}libs/canvas-to-blob.min.js"></script>
  <script src="{{settings.COMPRESS_URL}}libs/spin.min.js"></script>
  <script src="{{settings.COMPRESS_URL}}libs/gatekeeper.js"></script>
  <script src="{{settings.COMPRESS_URL}}libs/swag.min.js"></script>
  <script src="{{settings.COMPRESS_URL}}libs/jquery.scrollTo.js"></script>

  <script src="{{settings.COMPRESS_URL}}js/utils.js"></script>
  <script src="{{settings.COMPRESS_URL}}js/template-helpers.js"></script>
  <!-- https://github.com/openplans/handlebars-helpers -->
  <script src="{{settings.COMPRESS_URL}}libs/handlebars-helpers.js"></script>
  {% endcompress %}

  <script>
    $(function() {
      // Check official browser support.
      var userAgent = {{ user_agent_json|safe }};

      if (!Shareabouts.Util.isSupported(userAgent)) {
        var userAgentData = userAgent,
            $unsupportedEl = $('.unsupported-overlay'),
            unsupportedHtml;

        userAgentData['is_ie'] = (userAgent.browser.name === 'Microsoft Internet Explorer');
        unsupportedHtml = Handlebars.templates['unsupported-overlay'](userAgentData);

        $unsupportedEl.hide()
        $unsupportedEl.html(unsupportedHtml);
        $unsupportedEl.slideDown();

        $unsupportedEl.find('.close-btn').click(function(evt) {
          evt.preventDefault();
          $unsupportedEl.slideUp();
          return false;
        })
      }
    });
  </script>

  <!-- Bootstrap site and user information -->
  <script>
    Shareabouts.bootstrapped = {
      staticUrl: '{{ STATIC_URL }}',
      mapQuestKey: '{{ settings.MAPQUEST_KEY }}'
    };

    function bootstrapCurrentUser(data) {
      Shareabouts.bootstrapped.currentUser = data;
    }

    function setApiSessionCookie(data) {
      if (data) {
        Shareabouts.Util.cookies.save('sa-api-sessionid', data.sessionid);
      }
    }
  </script>

  {% compress js %}
  <script src="{{settings.COMPRESS_URL}}js/handlebars-helpers.js"></script>
  <script src="{{settings.COMPRESS_URL}}js/models.js"></script>
  <script src="{{settings.COMPRESS_URL}}js/views/pages-nav-view.js"></script>
  <script src="{{settings.COMPRESS_URL}}js/views/auth-nav-view.js"></script>
  <script src="{{settings.COMPRESS_URL}}js/views/activity-view.js"></script>
  <script src="{{settings.COMPRESS_URL}}js/views/app-view.js"></script>
  <script src="{{settings.COMPRESS_URL}}js/views/layer-view.js"></script>
  <script src="{{settings.COMPRESS_URL}}js/views/map-view.js"></script>
  <script src="{{settings.COMPRESS_URL}}js/views/support-view.js"></script>
  <script src="{{settings.COMPRESS_URL}}js/views/survey-view.js"></script>
  <script src="{{settings.COMPRESS_URL}}js/views/place-detail-view.js"></script>
  <script src="{{settings.COMPRESS_URL}}js/views/place-form-view.js"></script>
  <script src="{{settings.COMPRESS_URL}}js/views/place-list-view.js"></script>
  <script src="{{settings.COMPRESS_URL}}js/views/geocode-address-view.js"></script>
  <script src="{{settings.COMPRESS_URL}}js/routes.js"></script>
  {% endcompress %}

  <script src="{{API_ROOT}}users/current?format=jsonp&callback=bootstrapCurrentUser"></script>
  <script src="{{API_ROOT}}utils/session-key?format=jsonp&callback=setApiSessionCookie"></script>

  {% handlebarsjs '(.*)' precompile register_partials %}
  {% handlebarsjs 'pages/*' precompile %}

  <script type="text/javascript">
  // moment.lang({{locale}});

  (function(S, $){
    // Boostrapping the place types and their icons
    S.Config = {
      defaultPlaceTypeName: '{{ default_place_type }}',
      userToken: (
        S.bootstrapped.currentUser ?
        'user:' + S.bootstrapped.currentUser.id :
        {{ user_token_json|safe }}),

      flavor:     {{ config.data|as_json }},
      place:      {{ config.place|as_json }},
      placeTypes: {{ config.place_types|as_json }},
      survey:     {{ config.survey|as_json }},
      support:    {{ config.support|as_json }},
      map:        {{ config.map|as_json }},
      activity:   {{ config.activity|as_json }},
      pages:      {{ pages_config_json|safe }}
    };

    $(function() {
      // Ready set go!
      window.app = new Shareabouts.App({
        activity: [],

        defaultPlaceTypeName: S.Config.defaultPlaceTypeName,
        userToken: S.Config.userToken,

        config: S.Config.flavor,
        placeConfig: S.Config.place,
        placeTypes: S.Config.placeTypes,
        surveyConfig: S.Config.survey,
        supportConfig: S.Config.support,
        mapConfig: S.Config.map,
        activityConfig: S.Config.activity,
        pagesConfig: S.Config.pages
      });
    });
  })(Shareabouts, jQuery);
  </script>

  {% if settings.GOOGLE_ANALYTICS_ID %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ settings.GOOGLE_ANALYTICS_ID }}', '{{ settings.GOOGLE_ANALYTICS_DOMAIN|default:"auto" }}');
  </script>
  {% endif %}

  {% block includes %}{% endblock %}

</body>
</html>
