{% load mustachejs %}

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Shareabouts</title>
  <meta name="description" content="Shareabouts is awesome!">
  <meta name="author" content="">

  <!--  Mobile Viewport Fix -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <!-- Favicon & Progressively-Enhanced Touch Icons: http://mathiasbynens.be/notes/touch-icons#sizes -->
  <link rel="shortcut icon" href="{{ STATIC_URL }}sa/css/images/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}sa/css/images/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}sa/css/images/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}sa/css/images/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}sa/css/images/apple-touch-icon-precomposed.png">

  <!--  Google WebFonts -->
  <link href='http://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{ STATIC_URL }}sa/css/style.css">

  <link rel="profile" href="http://gmpg.org/xfn/11" />

  <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.css" />
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.ie.css" />
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
</head>
<body>

  <header id="site-header" class="clearfix">
    <h1 id="site-title"><a href="#">Shareabouts</a></h1>

    <div id="user-menu">
      <span class="sign-in-text">Sign in with</span> <a href="#" class="login facebook-login">Facebook</a> <span class="hidden">or</span> <a href="#" class="login twitter-login">Twitter</a><span class="hidden">.</span>
    </div>

    <nav id="access" role="article">
      <ul class="menu">
        <li class="menu-item menu-item-1"><a href="#">Link One</a></li>
        <li class="menu-item menu-item-2">
          <a href="#">Link Two</a>
          <ul>
            <li class="menu-item menu-item-5"><a href="#">Link Five</a></li>
            <li class="menu-item menu-item-6"><a href="#">Link Six</a></li>
          </ul>
        </li>
        <li class="menu-item menu-item-3"><a href="#">Link Three</a></li>
      </ul>
    </nav>
  </header>

  <div role="main" id="main">
    <div id="map-container">
      <div id="map"></div>
      <a href="#" id="add-place" class="add-place"><span>Add Location</span></a>
      <span id="centerpoint"><span class="shadow"></span><span class="x"></span><span class="marker"></span></span>
    </div>

    <div id="content">
      <a href="#" class="close-bttn">&times;<span> Close</span></a>
      <article class="point"><!-- .point or .page -->
      </article>
    </div><!-- end #content -->
  </div><!-- end #main -->

  <div id="ticker">
    <ul class="recent-points">
      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/css/images/user-28.png" />
        <span class="badge add"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> added a point in Manhattan</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/css/images/user-28.png" />
        <span class="badge add"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> added a point in Greenpoint</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/css/images/user-28.png" />
        <span class="badge vote"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> supported Username's point in Manhattan</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/css/images/user-28.png" />
        <span class="badge add"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> added a point in Long Island City</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/css/images/user-28.png" />
        <span class="badge comment"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> commented on Username's point in Astoria: "Lorem ipsum dolor set amet&hellip;"</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/css/images/user-28.png" />
        <span class="badge comment"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> commented on Username's point in Manhattan: "Lorem ipsum dolor set amet&hellip;"</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/css/images/user-28.png" />
        <span class="badge add"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> added a point in Williamsburg</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/css/images/user-28.png" />
        <span class="badge add"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> added a point in Manhattan</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/css/images/user-28.png" />
        <span class="badge add"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> added a point in Greenpoint</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/css/images/user-28.png" />
        <span class="badge vote"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> supported Username's point in Manhattan</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/css/images/user-28.png" />
        <span class="badge add"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> added a point in Long Island City</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/css/images/user-28.png" />
        <span class="badge comment"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> commented on Username's point in Astoria: "Lorem ipsum dolor set amet&hellip;"</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/css/images/user-28.png" />
        <span class="badge comment"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> commented on Username's point in Manhattan: "Lorem ipsum dolor set amet&hellip;"</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/css/images/user-28.png" />
        <span class="badge add"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> added a point in Williamsburg</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/css/images/user-28.png" />
        <span class="badge add"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> added a point in Manhattan</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/css/images/user-28.png" />
        <span class="badge add"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> added a point in Greenpoint</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/css/images/user-28.png" />
        <span class="badge vote"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> commented on Username's point in Manhattan: "Lorem ipsum dolor set amet&hellip;"</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/css/images/user-28.png" />
        <span class="badge add"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> added a point in Long Island City</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/css/images/user-28.png" />
        <span class="badge comment"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> commented on Username's point in Astoria: "Lorem ipsum dolor set amet&hellip;"</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/css/images/user-28.png" />
        <span class="badge comment"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> commented on Username's point in Manhattan: "Lorem ipsum dolor set amet&hellip;"</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/css/images/user-28.png" />
        <span class="badge add"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> added a point in Williamsburg</a>
      </li>
    </ul>
  </div><!-- end #ticker -->

  <footer id="colophon">
  </footer>

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="javascripts/jquery-1.7.1.min.js"><\/script>')</script><!-- FIXME: Maybe this should be pulled into the repo as a git submodule-->

  <script src="http://code.leafletjs.com/leaflet-0.3.1/leaflet.js"></script>
  <script src="{{STATIC_URL}}libs/underscore-min.js"></script>
  <script src="{{STATIC_URL}}libs/backbone-min.js"></script>
  <script src="{{STATIC_URL}}libs/ICanHaz.min.js"></script>
  <script src="{{STATIC_URL}}libs/moment.min.js"></script>

  <script src="{{STATIC_URL}}sa/js/utils.js"></script>
  <script src="{{STATIC_URL}}sa/js/models.js"></script>
  <script src="{{STATIC_URL}}sa/js/views.js"></script>

  {% mustacheich "place-form" %}
  {% mustacheich "place-detail" %}
  {% mustacheich "activity-list" %}
  {% mustacheich "activity-list-item" %}

  <script type="text/javascript">
    // moment.lang({{locale}});

    Shareabouts.icons = {
      normal: L.Icon.extend({
        iconUrl: '{{ STATIC_URL }}sa/css/images/feature-point.png',
        shadowUrl: null,
        iconSize: new L.Point(17, 18),
        iconAnchor: new L.Point(9, 9),
        popupAnchor: new L.Point(9, 9)
      }),
      focused: L.Icon.extend({
        iconUrl: '{{ STATIC_URL }}sa/css/images/marker-focused.png',
        shadowUrl: '{{ STATIC_URL }}sa/css/images/marker-shadow.png',
        iconSize: new L.Point(25, 41),
        shadowSize: new L.Point(41, 41),
        iconAnchor: new L.Point(12, 41),
        popupAnchor: new L.Point(12, 6)
      })
    };

    Shareabouts.App = Backbone.Router.extend({
      routes: {
        'place/new': 'newPlace',
        'place/:id': 'viewPlace',
        'place/:id/edit': 'editPlace'
      },

      initialize: function() {
        this.collection = new Shareabouts.PlaceCollection();
        this.activities = new Shareabouts.ActivityCollection();
        this.appView = new Shareabouts.AppView({
          el: 'body',
          collection: this.collection,
          activities: this.activities,
          router: this
        });

        // Call reset after the views are created, since they're all going to
        // be listening to reset.
        this.collection.reset({{ places_json|safe }});
        this.activities.reset({{ activity_json|safe }});
      },

      newPlace: function() {
        this.appView.newPlace();
      },

      viewPlace: function(id) {
        var model = this.collection.get(id);
        this.appView.viewPlace(model);
      },

      editPlace: function(){}
    });




    Shareabouts.AppView = Backbone.View.extend({
      events: {
        'click #add-place': 'onClickAddPlaceBtn',
        'click .close-bttn': 'onClickClosePanelBtn'
      },
      initialize: function(){
        this.activities = this.options.activities;
        this.places = this.collection;

        this.collection.on('add', this.onAddPlace, this);
        this.collection.on('remove', this.onRemovePlace, this);
        this.collection.on('reset', this.onResetPlaces, this);

        this.mapView = new Shareabouts.MapView({
          el: '#map',
          center: {lat: 39.9523524, lng: -75.1636075},
          zoom: 14,
          collection: this.collection,
          router: this.options.router,
          icons: {
            normal: new Shareabouts.icons.normal(),
            focused: new Shareabouts.icons.focused()
          }
        });

        this.activityListView = new Shareabouts.ActivityListView({
          collection: this.activities,
          places: this.places
        });

        // Panel!!!
        this.$panel = $('#content');
        this.$panelContent = $('#content article');
        this.$panelCloseBtn = $('.close-bttn');
        this.$centerpoint = $('#centerpoint');

        this.mapView.map.on('movestart', this.onMapMoveStart, this);
        this.mapView.map.on('moveend', this.onMapMoveEnd, this);

        this.offsetRatio = {x: 0.2, y: 0.0};

        this.placeFormViews = {};
        this.placeDetailViews = {};
      },
      getCenter: function() {
        if (this.$panel.is(':visible')) {
            return this.getFocusedCenter();
        } else {
          return this.mapView.map.getCenter();
        }
      },
      getFocusedCenter: function() {
        var map = this.mapView.map,
            centerLatLng = map.getCenter(),
            centerPoint = map.latLngToLayerPoint(centerLatLng),
            mapSize = map.getSize(),
            offsetPoint = new L.Point(centerPoint.x - mapSize.x * this.offsetRatio.x,
                                      centerPoint.y - mapSize.y * this.offsetRatio.y);
        return map.layerPointToLatLng(offsetPoint);
      },
      // The lat/lng of what should be the new center of the map when you need to
      // "focus" a marker between the content panel and the left side of the screen.
      getOffsetCenter: function(latLng) {
        var map = this.mapView.map,
            mapSize = map.getSize(),
            pos = map.latLngToLayerPoint(latLng);

        return map.layerPointToLatLng(
          new L.Point(pos.x + this.offsetRatio.x * mapSize.x,
                      pos.y + this.offsetRatio.y * mapSize.y) );
      },
      onMapMoveStart: function(evt) {
        this.$centerpoint.addClass('dragging');
      },
      onMapMoveEnd: function(evt) {
        this.$centerpoint.removeClass('dragging');
      },
      onClickAddPlaceBtn: function(evt) {
        evt.preventDefault();
        this.options.router.navigate('/place/new', {trigger: true});
      },
      onClickClosePanelBtn: function(evt) {
        evt.preventDefault();
        this.hidePanel();
        this.hideNewPin();
        this.destroyNewModels();
        this.options.router.navigate('/');
      },
      onAddPlace: function(model) {
        var placeFormView = new Shareabouts.PlaceFormView({
              model: model,
              appView: this,
              router: this.options.router
            }),
            placeDetailView = new Shareabouts.PlaceDetailView({
              model: model
            });

        this.placeFormViews[model.cid] = placeFormView;
        this.placeDetailViews[model.cid] = placeDetailView;

        if (model.isNew()) {
          // TODO: keep an eye on this; not sure whether we should be showing the
          //       panel every time a model is added to the collection.
          this.showPanel(placeFormView);
          this.showNewPin();
        }
      },
      onRemovePlace: function(model) {
        this.placeFormViews[model.cid].remove();
        this.placeDetailViews[model.cid].remove();

        delete this.placeFormViews[model.cid];
        delete this.placeDetailViews[model.cid];
      },
      onResetPlaces: function(collection) {
        var self = this;
        collection.each(function(model) {
          self.onAddPlace(model);
        });
      },
      newPlace: function() {
        var placeModel = new Backbone.Model();
        this.collection.add(placeModel);
      },
      viewPlace: function(model) {
        var map = this.mapView.map,
            location = model.get('location'),
            placeDetailView = this.placeDetailViews[model.cid];

        this.showPanel(placeDetailView);
        this.hideNewPin();
        this.destroyNewModels();
        this.hideCenterPoint();
        map.panTo(this.getOffsetCenter(new L.LatLng(location.lat, location.lng)));

        // Focus the one we're looking
        model.trigger('focus');
      },
      showPanel: function(view) {
        this.unfocusAllMarkers();
        this.$panelContent.html(view.render().$el);
        this.$panel.show();
      },
      showNewPin: function() {
        var map = this.mapView.map;

        this.$centerpoint.show().addClass('newpin');
        map.panTo(this.getOffsetCenter(map.getCenter()));
      },
      hideCenterPoint: function() {
        this.$centerpoint.hide();
      },
      hidePanel: function() {
        this.unfocusAllMarkers();
        this.$panel.hide();
      },
      hideNewPin: function() {
        this.$centerpoint.show().removeClass('newpin');
      },
      unfocusAllMarkers: function() {
        // Unfocus all of the markers
        this.collection.each(function(m){
          if (!m.isNew()) {
            m.trigger('unfocus');
          }
        });
      },
      destroyNewModels: function() {
        this.collection.each(function(m){
          if (m.isNew()) {
            m.destroy();
          }
        });
      },
      render: function() {
        this.mapView.render();
      }
    });

    jQuery(function($) {
      $(document).ready(function() {

        // add menu button for small screens
        $('<a href="#" id="nav-bttn">&equiv;</a>').insertAfter('#site-title');

        // toggle menu visibility
        $('#nav-bttn').click(function(){
          $('#access').toggleClass('expose');
          return false;
        });

        window.app = new Shareabouts.App();
        Backbone.history.start({pushState: true});
      });
    });
  </script>

</body>
</html>
