<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Shareabouts</title>
  <meta name="description" content="Shareabouts is awesome!">
  <meta name="author" content="">

  <!--  Mobile Viewport Fix -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <!-- Favicon & Progressively-Enhanced Touch Icons: http://mathiasbynens.be/notes/touch-icons#sizes -->
  <link rel="shortcut icon" href="{{ STATIC_URL }}sa/images/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}sa/images/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}sa/images/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}sa/images/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}sa/images/apple-touch-icon-precomposed.png">

  <!--  Google WebFonts -->
  <link href='http://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{ STATIC_URL }}sa/style.css">

  <link rel="profile" href="http://gmpg.org/xfn/11" />

  <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.css" />
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.ie.css" />
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
</head>
<body>

  <header id="site-header" class="clearfix">
    <h1 id="site-title"><a href="#">Shareabouts</a></h1>

    <div id="user-menu">
      <span class="sign-in-text">Sign in with</span> <a href="#" class="login facebook-login">Facebook</a> <span class="hidden">or</span> <a href="#" class="login twitter-login">Twitter</a><span class="hidden">.</span>
    </div>

    <nav id="access" role="article">
      <ul class="menu">
        <li class="menu-item menu-item-1"><a href="#">Link One</a></li>
        <li class="menu-item menu-item-2">
          <a href="#">Link Two</a>
          <ul>
            <li class="menu-item menu-item-5"><a href="#">Link Five</a></li>
            <li class="menu-item menu-item-6"><a href="#">Link Six</a></li>
          </ul>          
        </li>
        <li class="menu-item menu-item-3"><a href="#">Link Three</a></li>
      </ul>
    </nav>
  </header>

  <div role="main" id="main">
    <div id="map-container">
      <div id="map"></div>
      <a href="#" id="add-feature-point" class="add-feature-point visuallyhidden">Add a location!</a><!-- FIXME: toggling content should inversely toggle this button via .visuallyhidden -->
      <img id="crosshairs" src="{{ STATIC_URL }}sa/images/crosshair.png" class="visuallyhidden" />
    </div>

    <div id="content">
      <a href="#" class="close-bttn">&times;<span> Close</span></a>
      <article class="point"><!-- .point or .page -->
        <header class="point-header clearfix">
          <h1>Awesome Point Title</h1>
          <img class="avatar" src="{{ STATIC_URL }}sa/images/user-50.png" />
          <strong class="comment-submitter"><a href="#">Frank</a></strong> added this point in Manhattan <span class="comment-date">on February 10, 2012 at 1:00 pm</span>
        </header>

        <section class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </section>

        <section class="discussion">
          <h4 class="discussion-header">3 comments</h4>
          <a href="#reply" class="reply-link">Leave a Comment</a>

          <ol class="commentlist">
            <li>
              <article class="comment">
                <header class="comment-header clearfix">
                  <img class="avatar" src="{{ STATIC_URL }}sa/images/user-36.png" />
                  <strong class="comment-submitter"><a href="#">Frank</a> </strong><span class="comment-date">on February 10, 2012 at 1:00 pm</span>
                </header>
                <div class="comment-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
              </article>
            </li>

            <li>
              <article class="comment">
                <header class="comment-header clearfix">
                  <img class="avatar" src="{{ STATIC_URL }}sa/images/user-36.png" />
                  <strong class="comment-submitter"><a href="#">Frank</a> </strong><span class="comment-date">on February 10, 2012 at 1:00 pm</span>
                </header>
                <div class="comment-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
              </article>
            </li>

            <li>
              <article class="comment">
                <header class="comment-header clearfix">
                  <img class="avatar" src="{{ STATIC_URL }}sa/images/user-36.png" />
                  <strong class="comment-submitter"><a href="#">Frank</a> </strong><span class="comment-date">on February 10, 2012 at 1:00 pm</span>
                </header>
                <div class="comment-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
              </article>
            </li>
          </ol>

          <div id="reply">
            <h4 class="reply-header">Leave a Comment</h4>
            <form id="new_comment" class="new_comment" action="#" method="post">
              <fieldset>
                <p class="comment-box">
                  <label for="comment_comment">Comment</label>
                  <textarea cols="40" id="comment_comment" name="comment[comment]" rows="4"></textarea>
                </p>
                <p>
                  <label for="comment_submitter_name">Your Name</label>
                  <input id="comment_submitter_name" name="comment[submitter_name]" size="30" type="text">
                </p>
                <p>
                  <label for="comment_submitter_email">Email Address</label>
                  <input id="comment_submitter_email" name="comment[submitter_email]" size="30" type="text">
                </p>
              </fieldset>
              <input name="commit" type="submit" value="Comment" class="bttn">
            </form>
          </div>

        </section><!-- end .discussion -->
      </article>
    </div><!-- end #content -->
  </div><!-- end #main -->

  <div id="ticker">
    <ul>
      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/images/user-28.png" />
        <span class="badge add"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> added a point in Manhattan</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/images/user-28.png" />
        <span class="badge add"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> added a point in Greenpoint</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/images/user-28.png" />
        <span class="badge vote"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> supported Username's point in Manhattan</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/images/user-28.png" />
        <span class="badge add"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> added a point in Long Island City</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/images/user-28.png" />
        <span class="badge comment"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> commented on Username's point in Astoria: "Lorem ipsum dolor set amet&hellip;"</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/images/user-28.png" />
        <span class="badge comment"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> commented on Username's point in Manhattan: "Lorem ipsum dolor set amet&hellip;"</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/images/user-28.png" />
        <span class="badge add"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> added a point in Williamsburg</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/images/user-28.png" />
        <span class="badge add"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> added a point in Manhattan</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/images/user-28.png" />
        <span class="badge add"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> added a point in Greenpoint</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/images/user-28.png" />
        <span class="badge vote"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> supported Username's point in Manhattan</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/images/user-28.png" />
        <span class="badge add"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> added a point in Long Island City</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/images/user-28.png" />
        <span class="badge comment"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> commented on Username's point in Astoria: "Lorem ipsum dolor set amet&hellip;"</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/images/user-28.png" />
        <span class="badge comment"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> commented on Username's point in Manhattan: "Lorem ipsum dolor set amet&hellip;"</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/images/user-28.png" />
        <span class="badge add"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> added a point in Williamsburg</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/images/user-28.png" />
        <span class="badge add"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> added a point in Manhattan</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/images/user-28.png" />
        <span class="badge add"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> added a point in Greenpoint</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/images/user-28.png" />
        <span class="badge vote"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> commented on Username's point in Manhattan: "Lorem ipsum dolor set amet&hellip;"</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/images/user-28.png" />
        <span class="badge add"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> added a point in Long Island City</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/images/user-28.png" />
        <span class="badge comment"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> commented on Username's point in Astoria: "Lorem ipsum dolor set amet&hellip;"</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/images/user-28.png" />
        <span class="badge comment"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> commented on Username's point in Manhattan: "Lorem ipsum dolor set amet&hellip;"</a>
      </li>

      <li class="clearfix" data-id="137" data-feature-id="68">
        <img class="avatar" src="{{ STATIC_URL }}sa/images/user-28.png" />
        <span class="badge add"></span><!-- .add, .vote, or .comment -->
        <a href="#"><strong>Username</strong> added a point in Williamsburg</a>
      </li>
    </ul>
  </div><!-- end #ticker -->

  <footer id="colophon">
  </footer>

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="javascripts/jquery-1.7.1.min.js"><\/script>')</script><!-- FIXME: Maybe this should be pulled into the repo as a git submodule-->

  <script src="http://code.leafletjs.com/leaflet-0.3.1/leaflet.js"></script>
  
  <script type="text/javascript">
    //  The Map
    var map = new L.Map('map');
    var cloudmade = new L.TileLayer('http://{s}.tile.cloudmade.com/722cd4e6aef34e85a546ab3abee59146/1714/256/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
        maxZoom: 18
    });
    var newyorkcity = new L.LatLng(40.73, -73.95); // geographical point (longitude and latitude)
    map.setView(newyorkcity, 13).addLayer(cloudmade);

    var markerLocation = new L.LatLng(40.73, -74);
    var marker = new L.Marker(markerLocation);
    map.addLayer(marker);

    jQuery(function ($) {
      $(document).ready(function() {

        // add menu button for small screens
        $('<a href="#" id="nav-bttn">&equiv;</a>').insertAfter('#site-title');

        // toggle menu visibility
        $('#nav-bttn').click(function(){
          $('#access').toggleClass('expose');
          return false; 
        });
        
        $('.close-bttn').click(function(){
          $('#content').toggle();
          $('#add-feature-point').removeClass('visuallyhidden');
          $('#crosshairs').removeClass('visuallyhidden');
          return false; 
        });

      });
    });
  </script>

</body>
</html>