{% load mustachejs %}
{% load compress %}
{% load i18n %}

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% trans "App Name" %}</title>
  <meta name="description" content="Shareabouts is awesome!">
  <meta name="author" content="">

  <!-- Mobile Viewport Fix -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <!-- Favicon & Progressively-Enhanced Touch Icons: http://mathiasbynens.be/notes/touch-icons#sizes -->
  <link rel="shortcut icon" href="{{ STATIC_URL }}sa/css/images/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}sa/css/images/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}sa/css/images/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}sa/css/images/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}sa/css/images/apple-touch-icon-precomposed.png">

  <!-- Google WebFonts -->
  <!-- We shouldn't include this if the custom stylesheet overrides the #site-title font. -->
  <link href='http://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{ STATIC_URL }}sa/css/style.css">

  <!-- Custom Stylesheet -->
  <link rel="stylesheet" href="{{ STATIC_URL }}sa/css/custom.css">

  <link rel="profile" href="http://gmpg.org/xfn/11" />

  <link rel="stylesheet" href="{{STATIC_URL}}libs/leaflet.css" />
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.ie.css" />
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
</head>
<body>

  <header id="site-header" class="clearfix">
    <h1 id="site-title"><a href="#">{% trans "App Name"  %}</a></h1>
    <div id="pages-nav-container"></div>
  </header>

  <div role="main" id="main">
    <noscript>
      <div class="noscript">
      <h3>Oops, {% trans "App Name"  %} needs JavaScript to achieve full awesomeness.</h3>
      <p>{% trans "App Name"  %} is great but it needs something called JavaScript to work
        properly. But fear not, it's really easy to turn on. Click
        <a href="http://enable-javascript.com/" target="_blank">here</a> for simple instructions!</p>
      </div>
    </noscript>

    <div id="map-container">
      <div id="map"></div>
      <a href="#" id="add-place" class="add-place"><span>{% trans "Add Place" %}</span></a>
      <span id="centerpoint"><span class="shadow"></span><span class="x"></span><span class="marker"></span></span>
    </div>

    <div id="content">
      <a href="#" class="close-bttn">&times;<span>{% trans "Close Button" %}</span></a>
      <article class="point"><!-- .point or .page -->
      </article>
    </div><!-- end #content -->
  </div><!-- end #main -->

  <div id="ticker">
    <ul class="recent-points"></ul>
  </div>

  <footer id="colophon">
  </footer>

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}libs/jquery-1.7.2.js"><\/script>')</script><!-- FIXME: Maybe this should be pulled into the repo as a git submodule-->

  {% compress js %}
  <script src="{{STATIC_URL}}libs/leaflet.js"></script>
  <script src="{{STATIC_URL}}libs/underscore-min.js"></script>
  <script src="{{STATIC_URL}}libs/backbone-min.js"></script>
  <script src="{{STATIC_URL}}libs/mustache.js"></script>
  <script src="{{STATIC_URL}}libs/ICanHaz-no-mustache.min.js"></script>
  <script src="{{STATIC_URL}}libs/moment.min.js"></script>

  <script src="{{STATIC_URL}}sa/js/utils.js"></script>
  <script src="{{STATIC_URL}}sa/js/models.js"></script>
  <script src="{{STATIC_URL}}sa/js/views/pages-nav-view.js"></script>
  <script src="{{STATIC_URL}}sa/js/views/activity-view.js"></script>
  <script src="{{STATIC_URL}}sa/js/views/app-view.js"></script>
  <script src="{{STATIC_URL}}sa/js/views/layer-view.js"></script>
  <script src="{{STATIC_URL}}sa/js/views/map-view.js"></script>
  <script src="{{STATIC_URL}}sa/js/views/support-view.js"></script>
  <script src="{{STATIC_URL}}sa/js/views/survey-view.js"></script>
  <script src="{{STATIC_URL}}sa/js/views/place-detail-view.js"></script>
  <script src="{{STATIC_URL}}sa/js/views/place-form-view.js"></script>
  <script src="{{STATIC_URL}}sa/js/routes.js"></script>
  {% endcompress %}

  {% mustacheich "place-form" %}
  {% mustacheich "place-detail" %}
  {% mustacheich "place-detail-survey" %}
  {% mustacheich "place-detail-support" %}
  {% mustacheich "activity-list-item" %}
  {% mustacheich "submitter-or-anonymous" %}
  {% mustacheich "pages-nav" %}

  <script type="text/javascript">
  // moment.lang({{locale}});

  (function(S, $){
    // Boostrapping the place types and their icons
    var placeTypesConfig = {{ place_types_json|safe }},
        placeTypeIconsConfig = {{ place_type_icons_json|safe }},
        placeTypeIcons = {},
        placeTypes = {},

        surveyConfig = {{ survey_config_json|safe }},
        supportConfig = {{ support_config_json|safe }},
        pagesConfig = {{ pages_config_json|safe }};

    // Define each Leaflet Icon type
    _.each(placeTypeIconsConfig, function(config, name) {
      placeTypeIcons[name] = L.Icon.extend({
        iconUrl: config.iconUrl,
        shadowUrl: config.shadowUrl,
        iconSize: new L.Point(config.iconSize.width, config.iconSize.height),
        iconAnchor: new L.Point(config.iconAnchor.x, config.iconAnchor.y),
        popupAnchor: new L.Point(config.popupAnchor.x, config.popupAnchor.y)
      });
    });

    // Init each icon and attach it to its type
    _.each(placeTypesConfig, function(config, name) {
      placeTypes[name] = {
        'default': new placeTypeIcons[config['default']](),
        'focused': new placeTypeIcons[config.focused]()
      };
    });

    _.each(surveyConfig.items, function(item, index) {
      item['is_textarea'] = (item['type'] === 'textarea');
    });

    $(function() {
      // Ready set go!
      window.app = new Shareabouts.App({
        places: {{ places_json|safe }},
        activity: {{ activity_json|safe }},
        userToken: {{ user_token_json|safe }},
        placeTypes: placeTypes,
        surveyConfig: surveyConfig,
        supportConfig: supportConfig,
        pagesConfig: pagesConfig
      });
      Backbone.history.start({pushState: true});
    });
  })(Shareabouts, jQuery);
  </script>

</body>
</html>
