{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div id="language-picker">
  <nav class="access" role="article">
    <ul class="menu">
      <li class="menu-item">
        {% get_language_info for LANGUAGE_CODE as language %}
        <a class="current-language {{ LANGUAGE_CODE }} btn btn-block">{{ language.name_local }} ⌄</a>

        <form action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          <ul class="menu">
            {% for language in config.languages %}
            <li class="menu-item">
              <button type="submit" name="language" value="{{ language.code }}" class="{{ language.code }} btn btn-block">{{ language.label }}</button>
            </li>
            {% endfor %}
          </ul>
        </form>
      </li>
    </ul>
  </nav>
</div> <!-- .language-picker -->
