/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */


/* =Place Summary List
-------------------------------------------------------------- */

.place-summary-list {
  list-style: none;
  margin: 0;
  max-width: 50em;
}
#content .place-summary-list li {
  padding-bottom: 4px;
}
.place-summary-list a {
  display: block;
  background: #eee;
  background: rgba(0,0,0,0.07);
  padding: 1em;
  text-decoration: none;
  border-radius: 2px;
     -moz-box-shadow: -2px 2px 0 rgba(85, 85, 85, 0.25);
  -webkit-box-shadow: -2px 2px 0 rgba(85, 85, 85, 0.25);
          box-shadow: -2px 2px 0 rgba(85, 85, 85, 0.25);
}
.place-summary-list .place-info {
  float: left;
  clear: left;
  max-width: 65%;
}
.place-summary-list .activity-info {
  float: right;
  clear: right;
  max-width: 30%;
  text-align: right;
}
.place-summary-list .place-submission-title {
  display: block;
  font-size: 1.5em;
}
.place-summary-list .point-submitter {
  display: block;
}
.place-summary-list .place-upated {
  display: block;
}
.place-summary-list .comment-count {
  display: block;
  font-weight: bold;
}
.place-summary-list a:hover .point-submitter,
.place-summary-list a:hover .place-upated,
.place-summary-list a:hover .comment-count {
  color: #007fbf;
}


/* =Place Detail
-------------------------------------------------------------- */

.map-thumb {
  display: none;
  width: 300px;
  height: 300px;
  border: 1px solid #A8A8A8;
  position: absolute;
  top: 1em;
  right: 0;
}

#content.place-detail .map-thumb a.close-bttn {
  display: block;
  background: #fff;
  text-indent: 0px;
  float: none;
  height: auto;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  overflow: visible;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-transform:rotate(0); /* Safari and Chrome */
     -moz-transform:rotate(0); /* Firefox */
      -ms-transform:rotate(0); /* IE 9 */
       -o-transform:rotate(0); /* Opera */
         transform: rotate(0);
}
.map-thumb a.close-bttn:before,
.map-thumb a.close-bttn:after {
  display: none;
}

.map-thumb-marker {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
}
.map-thumb a.close-bttn span {
  background: #eee;
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 0.25em 1em;
  text-transform: uppercase;
  font-size: 85%;
  font-weight: bold;
  border-top: 1px solid #A8A8A8;
  border-left: 1px solid #A8A8A8;
}

#site-title {
  font-family: 'Arial';
}

/* =File Input 
-------------------------------------------------------------- */

.fileinput-container {
  border-radius: 4px;
  padding-left: 3.25em;
}
.fileinput-container span:before {
  content: "\0020";
  position: absolute;
  display: block;
  background: #bbb;
  top: 50%;
  left: 1.2em;
  height: 0.25em;
  width: 0.5em;
  margin-top: -0.5em;
}
.fileinput-container:before {
  content: "\0020";
  position: absolute;
  display: block;
  background: #bbb;
  top: 50%;
  left: 1.875em;
  height: 1em;
  width: 1.75em;
  margin-left: -0.875em;
  margin-top: -0.375em;
}
.fileinput-container:after {
  content: "\0020";
  position: absolute;
  display: block;
  background: #eee;
  top: 50%;
  left: 1.875em;
  height: 0.75em;
  width: 0.75em;
  margin-top: -0.2em;
  margin-left: -0.375em;
  border-radius: 0.375em;
}


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) { /* menu is visible */

  #content.place-detail {
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 4em;
  }
  #content.place-detail article > div {
    max-width: 70em;
    margin: 0 auto;
    padding-top: 1em;
    position: relative;
  }
  #content.place-detail a.close-bttn {
    display: none;
  }

  #content.place-detail .place-header,
  #content.place-detail .place-items,
  #content.place-detail .survey {
    margin-right: 340px;
  }
  #content.place-detail .place-header.clearfix:after { clear: none; }
  
  .map-thumb {
    display: block;
  }
  .promotion {
    float: right;
    width: 300px;
    margin: 340px 0 0 0;
    margin-bottom: 1em;
    padding: 1em 0;
    border: 1px solid #ccc;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
  }
  .support {
    padding-left: 1em;
  }
  .social {
    padding-right: 1em;
  }

  #content.page {
    left: 1.5em;
  }
  #content.page {
    left: 1.5em;
  }

  .place-summary-list .place-info {
    max-width: 75%;
  }
  .place-summary-list .activity-info {
    max-width: 20%;
  }

}

@media only screen and (min-width: 1024px) { /* ticker is visible */

  #content.place-detail {
    top: 5em;
  }

  #content.page {
    left: 1.5em;
  }
  .activity-enabled #content.page {
    right: 18.75em; /* width of ticker + extra 0.75em */
    left: 1.5em;
  }

}

@media only screen and (min-width: 1300px) {

  #content.place-detail {
    top: 6em;
  }

}
