/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */


/* =Close Content Button
-------------------------------------------------------------- */

a.close-bttn {
}


/* =Voting & Social Promotion
-------------------------------------------------------------- */

.promotion {
}

#user_support label {
}

#user_support:hover label,
#user_support label:hover {
}


/* =Place Detail
-------------------------------------------------------------- */

.map-thumb {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid #444;
}

.map-thumb-marker {
  position: absolute;
  left: 50%;
  top: 50%;
}


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) { /* menu is visible */
  #content.fullscreen {
    left: 1.5em;
  }
}

@media only screen and (min-width: 1024px) { /* ticker is visible */
  #content.fullscreen {
    left: 1.5em;
  }
  .activity-enabled #content.fullscreen {
    right: 18.75em; /* width of ticker + extra 0.75em */
    left: 1.5em;
  }
}

@media only screen and (min-width: 1300px) {
}