/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */


/* =Close Content Button
-------------------------------------------------------------- */

a.close-bttn {
}


/* =Voting & Social Promotion
-------------------------------------------------------------- */

.promotion {
}

#user_support label {
}

#user_support:hover label,
#user_support label:hover {
}


/* =Place Detail
-------------------------------------------------------------- */

.map-thumb {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid #A8A8A8;
  display: none;
}

.map-thumb-marker {
  position: absolute;
  left: 50%;
  top: 50%;
}


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) { /* menu is visible */

  #content.place-form {
  }

  #content.place-detail {
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 4em;
  }
  #content.place-detail article > div {
    max-width: 70em;
    margin: 0 auto;
    position: relative;
  }
  #content.place-detail a.close-bttn {
    display: none;
  }
  #content.place-detail .place-header,
  #content.place-detail .place-items,
  #content.place-detail .survey {
    margin-right: 340px;
  }
  #content.place-detail .place-header.clearfix:after { clear: none; }
  
  .map-thumb {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  .promotion {
    float: right;
    width: 300px;
    margin: 340px 0 0 0;
    margin-bottom: 1em;
    padding: 1em 0;
    border: 1px solid #A8A8A8;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
  }
  .support {
    padding-left: 1em;
  }
  .social {
    padding-right: 1em;
  }

  #content.page {
    left: 1.5em;
  }
  #content.page {
    left: 1.5em;
  }

}

@media only screen and (min-width: 1024px) { /* ticker is visible */

  #content.place-form {
  }

  #content.place-detail {
    top: 5em;
  }

  #content.page {
    left: 1.5em;
  }
  .activity-enabled #content.page {
    right: 18.75em; /* width of ticker + extra 0.75em */
    left: 1.5em;
  }

}

@media only screen and (min-width: 1300px) {

  #content.place-form {
  }

  #content.place-detail {
    top: 6em;
  }

  #content.page {
  }
  .activity-enabled #content.page {
  }

}