{% load url from future %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Shareabouts Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
<!--    <link rel="shortcut icon" href="../assets/ico/favicon.ico">-->
<!--    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">-->
<!--    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">-->
<!--    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">-->
<!--    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">-->
  </head>

  <body>

    {% block navbar %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url 'manager_index' %}">Shareabouts Manager</a>

          <div class="navbar-text pull-right">
            {% if request.user.is_authenticated %}
              Logged in as {{ request.user.username }}.
              <a href="{% url 'manager_logout' %}?next={{ request.get_full_path }}">Log out</a>
           {% endif %}
         </div>

        </div>
      </div>
    </div>
    {% endblock navbar %}

    <div class="container">

      {% block messages %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
      {% endblock messages %}

      {% block content %}
      {% endblock content %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<!--    <script src="../assets/js/jquery.js"></script>-->
<!--    <script src="../assets/js/bootstrap-transition.js"></script>-->
<!--    <script src="../assets/js/bootstrap-alert.js"></script>-->
<!--    <script src="../assets/js/bootstrap-modal.js"></script>-->
<!--    <script src="../assets/js/bootstrap-dropdown.js"></script>-->
<!--    <script src="../assets/js/bootstrap-scrollspy.js"></script>-->
<!--    <script src="../assets/js/bootstrap-tab.js"></script>-->
<!--    <script src="../assets/js/bootstrap-tooltip.js"></script>-->
<!--    <script src="../assets/js/bootstrap-popover.js"></script>-->
<!--    <script src="../assets/js/bootstrap-button.js"></script>-->
<!--    <script src="../assets/js/bootstrap-collapse.js"></script>-->
<!--    <script src="../assets/js/bootstrap-carousel.js"></script>-->
<!--    <script src="../assets/js/bootstrap-typeahead.js"></script>-->

  </body>
</html>
