{% extends "manager/base.html" %}
{% load url from future %}

{% block content %}

<ul class="breadcrumb">
  <li>
    <a href="{% url 'manager_index' %}">Manager</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="{% url 'manager_dataset_list' %}">Datasets</a> <span class="divider">/</span>
  </li>
  <li>
    {{ dataset.display_name }} ({{ dataset.slug }})
  </li>
</ul>

<h2>{{ dataset.display_name }} <a class="btn btn-primary" href="new">Add New Place</a></h2>

{% include "manager/dataset_tabs.html" with places_active=1 %}

<table class="table">
  <thead>
    <tr>
      <th>Place Name</th>
      <th>Submissions</th>
    </tr>
  </thead>

  <tbody>
    {% for place in places %}
    <tr>
      <td><a href="{{ place.id }}">"{{ place.name }}"</a></td>
      <td>
        <a href="{% url 'manager_place_submission_list' dataset.slug place.id 'submissions' %}" class="btn btn-small">
          {{ place.submission_count }} Submission{{ place.submission_count|pluralize }}
          <i class="icon-chevron-right"></i>
        </a>

        <ul>
          {% for submission in place.submissions %}
          <li><a href="{% url 'manager_place_submission_list' dataset.slug place.id submission.type %}">{{ submission.count }} {{ submission.type }}</a></li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
