{% extends "manager/base.html" %}
{% load url from future %}

{% block content %}

<ul class="breadcrumb">
  <li>
    <a href="{% url 'manager_index' %}">Manager</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="{% url 'manager_dataset_list' %}">Datasets</a> <span class="divider">/</span>
  </li>
  <li>
    {{ dataset.display_name }} ({{ dataset.short_name }})
  </li>
</ul>

<h2>Places in &quot;{{ dataset.display_name }}&quot; <a class="btn btn-primary" href="new">Add New Place</a></h2>

<table class="table">
  <thead>
    <tr>
      <th>Place Name</th>
      <th>Submissions</th>
    </tr>
  </thead>

  <tbody>
    {% for place in places %}
    <tr>
      <td><a href="{{ place.id }}">Place named "{{ place.name }}"</a></td>
      <td>
        <ul>
          {% for submission in place.submissions %}
          <li>{{ submission.count }} {{ submission.type }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
