{% extends "manager/base.html" %}
{% load url from future %}

{% block content %}

<ul class="breadcrumb">
  <li>
    <a href="{% url 'manager_index' %}">Manager</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="{% url 'manager_place_list' %}">Places</a> <span class="divider">/</span>
  </li>

  {% block more_breadcrumbs %}
  <li>
    {% if place.id %}
    Place {{ place.id }}
    {% else %}
    New Place
    {% endif %}
  </li>
  {% endblock %}
</ul>

<h2>{{ place.name }} <a class="btn btn-primary" href="{% url 'manager_place_submission_create' place.id submission_type|default:'submissions' %}">Add New Submission</a></h2>

{% block place_content %}
{% endblock place_content %}

{% endblock content %}
