{% extends "manager/place_base.html" %}

{% block place_content %}

{% include "manager/place_tabs.html" with data_active=1 %}

<form method="POST" class="form-horizontal">{% csrf_token %}
  <fieldset>
    <legend>Edit existing properties</legend>
    {% include "manager/_field.html" with label="Place Name" name="name" value=place.name %}
    {% include "manager/_field.html" with label="Submitter Name" name="submitter_name" value=place.submitter_name|default:'' %}
    {% include "manager/_field.html" with label="Visible?" name="visible" value=place.visible type="checkbox" %}
    {% include "manager/_field.html" with label="Latitude" name="lat" value=place.location.lat %}
    {% include "manager/_field.html" with label="Longitude" name="lng" value=place.location.lng %}

    {% for label, key, value in data_fields %}
      {% include "manager/_field.html" with label=label name=key value=value %}
    {% endfor %}
  </fieldset>

  <fieldset>
    <legend>Add more properties</legend>
    <div class="control-group">
      <label class="control-label" style="padding-top: 0px; padding-bottom: 0px;">
        <input class="input-small" name="_new_key1" type="text" placeholder="Attr Name">
      </label>
      <div class="controls">
        <input name="_new_val1" type="text" placeholder="Attr Value">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" style="padding-top: 0px; padding-bottom: 0px;">
        <input class="input-small" name="_new_key2" type="text" placeholder="Attr Name">
      </label>
      <div class="controls">
        <input name="_new_val2" type="text" placeholder="Attr Value">
        <p class="help-block">Save to add more</p>
      </div>
    </div>
  </fieldset>

  <div class="form-actions">
    <button class="btn btn-primary" name="action" value="save" type="submit">Save</button>
    {% if place.id %}
    <button class="btn" name="action" value="delete" type="submit">Delete</button>
    {% endif %}
  </div>
</form>

{% endblock %}
