/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

/* =Base Typography
-------------------------------------------------------------- */

body, select, input, textarea {
  color: #444;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}


/* =Links
-------------------------------------------------------------- */

a, a:active, a:visited {
  color: #CC6600;
}

a:hover {
  color: #ff6600;
}


/* =The Site Header
-------------------------------------------------------------- */

#site-header {
  color: #444;
  background-color: #fff;
  background: #fff url(images/cha-hi-res-xparent.png) 0.5em center no-repeat scroll;
  
  
}

#site-header a, #site-header a:active, #site-header a:visited {
  color: #CC6600;
}

#site-header a:hover {
   color: #ff6600;
}


/* =Logo
-------------------------------------------------------------- */

/* NOTE: Adjust the #site-title font size in the link
 * (not in the #site-title itself) using the em unit,
 * as to not break it scaling via media queries. */

#site-title {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  text-shadow: none;
}

#site-title a:link,
#site-title a:visited {
  margin-top: 0.5em;
  font-size: 0.4em;
  display: block;
  width: 16em;
  text-transform: uppercase;
  white-space: normal !important;
  line-height: 1.3;
  color: #CC6600;
  position: relative;
  padding-left: 220px;
}

#site-title a:hover {
  color: #FF6600;
}


/* =Mobile Navigation Button
-------------------------------------------------------------- */

/* NOTE: Override the Mobile Navigation Button with caution.
 * The Helvetica stack produces a good icon. */

a#nav-bttn:link,
a#nav-bttn:visited {
  color: #fff;
  background: #bbb;
  font-family: "Helvetica Neue", Arial, Helvetica, serif;
}

a#nav-bttn:hover {
  color: #fff;
  background: #FF6600;
}


/* =Navigation Menu
-------------------------------------------------------------- */

.access {
  border: 1em solid #eee;
  border-top: 0.5em solid #eee;
  background: #fff;
}

.access li {
  border-bottom: 2px solid #eee;
}

.access a:visited, .access a:active, .access a:link {
  color: #CC6600;
}

.access a:hover {
  color: #FF6600;
  background: #fff;
}


/* =The Big Button to Add A New Point
-------------------------------------------------------------- */

a.add-place {
  background-color: #CC6600;
  color: #fff;
  text-shadow: none;
}

a.add-place:hover {
  background-color: #FF6600;
  color: #fff;
}


/* =Close Content Button
-------------------------------------------------------------- */

/* NOTE: Override the Close Button font within the span. The link should
 * remain the Helvetica stack, as it produces a good X close icon. */

a.close-bttn {
  color: #bbb;
/*  background-color: #fff;*/
/*  border-color: #ffbfff;*/
  font-family: "Helvetica Neue", Arial, Helvetica, serif;
}# Settings for the app
app:
  # HTML Title
  title: Your Ideas to Improve the College Hill Corridor
  # Header name
  name: Your Ideas to Improve the College Hill Corridor
  # Meta description that will show up in Google search results
  meta_description:  "Your Ideas to Improve the College Hill Corridor."

# Settings for map and layer configs
map:
  geolocation_enabled: true
  options:
    center:
      lat: 32.8331245
      lng: -83.6471455
    zoom: 16
    minZoom: 14
    maxZoom: 17
  base_layer:
    url: http://{s}.tiles.mapbox.com/v3/openplans.map-dmar86ym/{z}/{x}/{y}.png
    attribution: '&copy; OpenStreetMap contributors, CC-BY-SA. <a href="http://mapbox.com/about/maps" target="_blank">Terms &amp; Feedback</a>'
  layers: []

# The keys show up in the dropdown list when you are adding a new place
# The values map the place type to map icons (defined below).
place_types:
  TrashRecycling:
    label: _(Trash/Recycling)
    default: puck-green
    focused: red
  PublicSafety:
    label: _(Public Safety)
    default: puck-blue
    focused: red
  Branding:
    default: puck-yellow
    focused: red
  Events:
    default: puck-red
    focused: red
  WalkingBiking:
    label: _(Walking/Biking)
    default: puck-purple
    focused: red
  Parks:
    default: puck-green
    focused: red
  Business:
    default: puck-blue
    focused: red
  Housing:
    default: puck-yellow
    focused: red
  Other:
    default: puck-red
    focused: red
  

# Defines place icons. See http://leaflet.cloudmade.com/reference.html#icon
# for documention of each property. Any omitted property will be undefined.
place_type_icons:
  puck-green:
    iconUrl: /static/css/images/markers/dot-70d52c.png
    iconSize:
      width: 17
      height: 18
    iconAnchor:
      x: 9
      y: 9
  puck-blue:
    iconUrl: /static/css/images/markers/dot-2654d2.png
    iconSize:
      width: 17
      height: 18
    iconAnchor:
      x: 9
      y: 9
  puck-yellow:
    iconUrl: /static/css/images/markers/dot-dbcf2c.png
    iconSize:
      width: 17
      height: 18
    iconAnchor:
      x: 9
      y: 9
  puck-red:
    iconUrl: /static/css/images/markers/dot-e1264d.png
    iconSize:
      width: 17
      height: 18
    iconAnchor:
      x: 9
      y: 9
  puck-purple:
    iconUrl: /static/css/images/markers/dot-744edc.png
    iconSize:
      width: 17
      height: 18
    iconAnchor:
      x: 9
      y: 9
  red:
    iconUrl: /static/css/images/marker-focused.png
    shadowUrl: /static/css/images/marker-shadow.png
    iconSize:
      width: 25
      height: 41
    shadowSize:
      width: 41
      height: 41
    iconAnchor:
      x: 12
      y: 41


activity:
  # Optional. Activity is supported by default. Set to false to disable.
  enabled: true

place:
  adding_supported: true
  add_button_label: Share an idea
  title: Describe your idea...
  action_text: suggested
  anonymous_name: Someone
  submit_button_label: Add to map
  items:
    - prompt: Location
      type: text
      name: intersection_name
      optional: false
    - prompt: Location Type
      type: select
      options:
        - label: _(Trash/Recycling)
          value: TrashRecycling
        - label: _(Public Safety)
          value: PublicSafety
        - label: _(Branding)
          value: Branding
        - label: _(Events)
          value: Events
        - label: _(Walking/Biking)
          value: WalkingBiking
        - label: _(Parks)
          value: Parks
        - label: _(Business)
          value: Business
        - label: _(Housing)
          value: Housing
        - label: _(Other)
          value: Other
      name: location_type            
    - prompt: Description
      type: textarea
      name: description
      optional: false
      attrs:
        - key: placeholder
          value: Share some more information.
    - prompt: Your Name
      type: text
      name: submitter_name
      attrs:
        - key: placeholder
          value: Your name will be visible on the map.
        - key: size
          value: 30
    - prompt: Your email (will not be shared)
      type: text
      name: private-email
      attrs:
        - key: placeholder
          value: Your email will not be public.
        - key: size
          value: 30


survey:
  submission_type: comments

  # Response display config
  show_responses: true
  response_name: comment
  response_plural_name: comments
  action_text: commented on
  anonymous_name: Someone

  # Survey form config
  title: Leave a Comment
  form_link_text: Leave a Comment
  submit_btn_text: Comment
  items:
    - prompt: Comment
      type: textarea
      name: description
      optional: false
      attrs:
        - key: placeholder
          value: 
    - prompt: Your Name
      type: text
      name: submitter_name
      optional: false
      attrs:
        - key: placeholder
          value: 
        - key: size
          value: 30

support:
  submission_type: support
  submit_btn_text: Support This!
  action_text: "supported"
  anonymous_name: Someone

pages:
  - title: About
    slug: about
    name: overview
    start_page: false


a.close-bttn:hover {
  color: #00994d;
/*  background-color: #fff;*/
/*  border-color: #e500e5;*/
}
a.close-bttn span {
  font-family: Futura, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}


/* =Forms
-------------------------------------------------------------- */

label {
/*  color: #806080;*/
}

input[type=text],
textarea {
/*  border: 1px solid #000; */
}

.required {
/*  color: red;*/
}

.bttn {
  color: #fff;
  background-color: #CC6600;
  text-shadow: none;
}

.bttn:hover {
  color: #fff;
  background-color: #FF6600;
}

a.reply-link {
  color: #CC6600;
  background: #bbb;
}

a.reply-link:hover {
  color: #fff;
  background-color: #FF6600;
}


/* =Voting & Social Promotion
-------------------------------------------------------------- */
.promotion {
  background-color: #bbb;
/*  border-bottom: 0.5em solid #806080;*/
}

#user_support label {
  color: #fff;
  background-color: #CC6600;
}

#user_support:hover label,
#user_support label:hover {
  color: #CC6600;
  background-color: #fff;
}


/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background-color: #ddd;
}

ul.recent-points {
/*  color: #eee;*/
}

.recent-points li {
  border-bottom: 3px solid #ccc;
}

.recent-points li:hover {
  background: #777;
}

.recent-points a {
  color: #444;
}

.recent-points li:hover a,
.recent-points a:hover {
  color: #fff;
}


/* =Zendesk
-------------------------------------------------------------- */
#zenbox_tab {
  visibility: hidden;
  top: 40% !important;
  opacity: 0.7;
}

/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) { /* menu is visible */
  #zenbox_tab {
    visibility: visible;
  }

  .access {
    border: 0;
    background: transparent;
  }
  .access li {
    border-bottom: 6px solid transparent;
  }
  .access ul ul a {
    background-color: #eee;
  }

  /* NOTE: The background-color is the X's color. The pseudo elements' border-color and
   * inset shadow color should match to mask the X shape */
  a.close-bttn {
/*    background: white;*/
/*    -webkit-box-shadow: 0 0 0 2px white, -4px 4px 0 2px rgba(85, 85, 85, 0.5), inset 0 0 0 0.25em pink;*/
/*       -moz-box-shadow: 0 0 0 2px white, -4px 4px 0 2px rgba(85, 85, 85, 0.5), inset 0 0 0 0.25em pink;*/
/*            box-shadow: 0 0 0 2px white, -4px 4px 0 2px rgba(85, 85, 85, 0.5), inset 0 0 0 0.25em pink;*/
  }
  a.close-bttn:hover { 
/*    background: purple; */
  }
  a.close-bttn:before { 
/*    border-right-color: pink; */
  }
  a.close-bttn:after { 
/*    border-left-color: pink; */
  }
  a.close-bttn span:before { 
/*    border-top-color: pink; */
  }
  a.close-bttn span:after { 
/*    border-bottom-color: pink; */
  }

}


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) { /* menu is visible */
  .access {
/*    border: 0;*/
/*    background: transparent;*/
  }
}

@media only screen and (min-width: 1024px) { /* ticker is visible */
}

@media only screen and (min-width: 1300px) {
}