/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

/* =Base Typography
-------------------------------------------------------------- */

body, select, input, textarea {
  color: #444;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}



/* =Links
-------------------------------------------------------------- */

a, a:active, a:visited {
  color: #CC6600;
}

a:hover {
  color: #ff6600;
}


/* =The Site Header
-------------------------------------------------------------- */

#site-header {
  color: #444;
  background-color: #fff;  
}

#site-header a, #site-header a:active, #site-header a:visited {
  color: #CC6600;
}

#site-header a:hover {
   color: #ff6600;
}


/* =Logo
-------------------------------------------------------------- */

/* NOTE: Adjust the #site-title font size in the link
 * (not in the #site-title itself) using the em unit,
 * as to not break it scaling via media queries. */

#site-title {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  text-shadow: none;
  font-size: 1em;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0.5em 0;
}
#site-title a:link,
#site-title a:visited {
  display: block;
  color: #CC6600;
  text-shadow: none;
  font-size: 1em;
  height: 100%;
}
#site-title a:hover {
  color: #FF6600;
}
#site-logo {
  height: 100%;
  width: auto;
  margin-right: 0.75em;
}
#site-name {
  display: none;
}


/* =Mobile Navigation Button
-------------------------------------------------------------- */

/* NOTE: Override the Mobile Navigation Button with caution.
 * The Helvetica stack produces a good icon. */

a#nav-bttn:link,
a#nav-bttn:visited {
  color: #fff;
  background: #bbb;
  font-family: "Helvetica Neue", Arial, Helvetica, serif;
}

a#nav-bttn:hover {
  color: #fff;
  background: #FF6600;
}


/* =Navigation Menu
-------------------------------------------------------------- */

.access {
  border: 1em solid #eee;
  border-top: 0.5em solid #eee;
  background: #fff;
}

.access li {
  border-bottom: 2px solid #eee;
}

.access a:visited, .access a:active, .access a:link {
  color: #CC6600;
  font-size: 1.25em;
  line-height: 2.5em;
  padding: 0 1em;
}

.access a:hover {
  color: #fff !important;
  background: #FF6600;
}



/* =The Big Button to Add A New Point
-------------------------------------------------------------- */

a.add-place {
  background-color: #CC6600;
  color: #fff;
  text-shadow: none;
}

a.add-place:hover {
  background-color: #FF6600;
  color: #fff;
}


/* =Close Content Button
-------------------------------------------------------------- */

/* NOTE: Override the Close Button font within the span. The link should
 * remain the Helvetica stack, as it produces a good X close icon. */

a.close-bttn {
  color: #bbb;
  font-family: "Helvetica Neue", Arial, Helvetica, serif;
}

a.close-bttn:hover {
  color: #00994d;
}
a.close-bttn span {
  font-family: Futura, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}


/* =Forms
-------------------------------------------------------------- */

label {
/*  color: #806080;*/
}

input[type=text],
textarea {
/*  border: 1px solid #000; */
}

.required {
/*  color: red;*/
}

.bttn {
  color: #fff;
  background-color: #CC6600;
  text-shadow: none;
}

.bttn:hover {
  color: #fff;
  background-color: #FF6600;
}

a.reply-link {
  color: #CC6600;
  background: #bbb;
}

a.reply-link:hover {
  color: #fff;
  background-color: #FF6600;
}


/* =Voting & Social Promotion
-------------------------------------------------------------- */

.promotion {
  background-color: #bbb;
}

#user_support label {
  color: #fff;
  background-color: #CC6600;
}

#user_support:hover label,
#user_support label:hover {
  color: #CC6600;
  background-color: #fff;
}


/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background-color: #CC6600;
}

ul.recent-points {
  color: #fff;
}

.recent-points li {
  border-bottom: 2px solid #BB5500;
}
.recent-points li:hover {
  background: #FF6600;
}

.recent-points a {
  color: #fff;
}
.recent-points li:hover a,
.recent-points a:hover {
  color: #fff;
}

#add-place.instructionsShowing {
  display: inline !important;
}

/* map key */

ul#mapkey {
  margin: 0;
  padding: 20px;
  list-style: none;
  background-color: #fff;
  color: #CC6600;
}

ul#mapkey li {
  margin: 0;
  padding: 10px 0 10px 36px;
  clear: left;
}
ul#mapkey li img {
  float: left;
  margin: -8px 0 0 -36px;
}

/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) { /* menu is visible */

  #site-logo {
    float: left;
  }
  #site-name {
    display: inline;
    font-size: 1.75em;
    line-height: 2;
    margin-right: 0.5em;
  }

  .access {
    margin-top: 0.75em;
    border: 0;
    background: transparent;
  }
  .access li {
    border-bottom: 6px solid transparent;
  }

}

@media only screen and (min-width: 1024px) { /* ticker is visible */

  #site-name {
    font-size: 2em;
  }
  .access {
    margin-top: 1em;
  }

}

@media only screen and (min-width: 1300px) {

  #site-name {
    line-height: 2.875;
  }
  .access {
    margin-top: 1.5em;
  }

}