<script src="{{ STATIC_URL }}libs/md5.js"></script>
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css">
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>

<script>
  $(function() {
  
    var S = Shareabouts,
        backerCode = "{{ config.BACKER_CODE|safe }}";
    
    function getPossibleCityData(enteredName, callback) {
      // 1. Get a standardized name
      $.ajax({
        url: '/geocode',
        type: 'GET',
        // For some reason, the geocoder doesn't like spaces, so get rid of them
        data: {city: enteredName.replace(/ /g, ''), flags: 'J'},
        success: function(data, status, $xhr) {
          var results = data.bossresponse.placefinder.results;
          
          citiesData = _.map(results, function(result) {
              return {
                name: result.city + ', ' + result.state + ', ' + result.country,
                quality: result.quality,
                location: {lat: result.latitude, lng: result.longitude}
              };
            });
          
          callback(citiesData);
        }
      });
    }
    
    function displayMessage(msg) {
      $('#backer-display-content').html('<p>' + msg + '</p>');
    }
    
    function getPlaceForCityName(cityName, cityData, code, foundPlaceCallback) {
      var cities = window.app.collection,
          city;
      
      // Look for a city with that name
      city = cities.find(function(p) { return p.get('name') == cityName; });
      
      if (city) {
        foundPlaceCallback(city);
      }

      // If you don't find a city, add one
      if (!city) {

        displayMessage("We're adding " + cityName + " to the map.  You're that first backer to claim this city &mdash; thanks!");
        
        city = cities.create({
          'name': cityName,
          'location': cityData.location,
          'location_type': 'city',
          'visible': true
        }, {
          success: function(newCityData, resp) {
            var newCity = cities.get(newCityData.id);
            foundPlaceCallback(newCity);
          },
          wait: true // we don't want to trigger the normal add
        });
      }
    }
    
    function addBackerToCity(city, backerData, options) {
      city.responseCollection.create(backerData, options);
    }
    
    $('#content').delegate('#backer-add-form', 'submit', function(evt) {
      evt.preventDefault();
      
      var $form = $('#backer-add-form'),
          $cityName = $form.find('#city'),
          submitterName = $form.find('#backer-submitter_name').val(),
          cityName = $form.find('#backer-city').val(),
          cityData = cityName ? $form.find('#backer-city').autocomplete('option', cityName) : {},
          url = $form.find('#backer-url').val(),
          code = $form.find('#backer-code').val(),
          
          backerData = {
            'submitter_name': submitterName,
            'backer_url': url,
            'visible': true
          };
      
      // Do form validation...
      if (MD5(code) != backerCode) {
        alert('Please enter a valid backer code');
        return;
      }
      
      if (!cityData) {
        alert('You must select a city');
        return;
      }
      
      // If everything checks out, save the backer.
      getPlaceForCityName(cityName, cityData, code, function(city) {
        displayMessage("Great! Now we're adding you to the list of backers from " + cityName + ". Thanks for supporting JoyRide!");
        city.responseCollection.create(backerData, {
          success: function() {
            window.app.navigate('/place/' + city.id, {trigger: true});
          }
        });
      });
    });
    
    function backerFormIsValid() {
      var $form = $('#backer-add-form'),
          code = $form.find('#backer-code').val(),
          cityName = $form.find('#backer-city').val(),
          cityData = cityName ? $form.find('#backer-city').autocomplete('option', cityName) : {};
          
      if (MD5(code) != backerCode) {
        return false;
      }
      
      if (!cityData) {
        return false;
      }
      
      return true;
    }
    
    function syncButtonWithFormValidity() {
      var $addBackerButton = $('button.add-backer');
      
      if (backerFormIsValid()) {
        $addBackerButton.removeAttr('disabled');
      } else {
        $addBackerButton.attr('disabled', 'disabled');
      }
    }

    $('#content').delegate('#backer-code', 'keyup', syncButtonWithFormValidity);
    $('#content').delegate('#backer-city', 'blur', syncButtonWithFormValidity);
    
    // Set up autocomplete for the city name.  Since the box may be destroyed 
    // and recreated, initialize it as an auto-complete box each time it 
    // receives focus.
    function getCityAutocompleteChoices(request, response) {
      var $cityName = this;
      
      getPossibleCityData(request.term, function(citiesData) {
        var choices = _.pluck(citiesData, 'name'),
            options = {};
        
        _.map(citiesData, function(cityData) {
          options[cityData['name']] = cityData;
        });
        
        $cityName.autocomplete('option', options);
        response(choices);
      });
    }

    $('#content').delegate('#backer-city', 'focus', function(evt) {
      var $cityName = $('#backer-city');
      
      $cityName.autocomplete({
        source: _.bind(getCityAutocompleteChoices, $cityName),
        autoFocus: true
      });
    });
    
  });
</script>
