/* =html5doctor.com Reset Stylesheet \\v1.6.1 \\ Last Updated: 2010-09-17 \\ http://richclarkdesign.com \\ @rich_clark
-------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


/* =Base Typography
-------------------------------------------------------------- */

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/* =Base Styles
-------------------------------------------------------------- */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* set your base font here, to apply evenly */
  font-family: "Helvetica Neue", Arial, Helvetica, serif;
}
/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */
h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 0.5em 0;
}
h1 { font-size: 2em; }
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #007fbf; }
a:hover { color: #00aaff; }
ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }
/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {
  padding: 15px;
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}
textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */
/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }
/* webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }
/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red;
 -webkit-box-shadow: 0px 0px 5px red;
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }
/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink. */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }
/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {width: auto; overflow: visible;}
/* bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {-ms-interpolation-mode: bicubic;}


/* =Nonsemantic Base Styles
-------------------------------------------------------------- */

span.nowrap { white-space: nowrap; }
/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }
/* Hide only visually, but have it available for screenreaders:
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }
/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }
/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;
}
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }


/* =Structure & Layout
-------------------------------------------------------------- */

html {
  height: 100%;
}
body {
  background: #666;
  position: relative;
  height: 100%;
}
#site-header {
  color: #eee;
  background-color: #777;
  height: 4em;
  padding: 0 1em;
  position: relative;
  z-index: 50;
     -moz-box-shadow: 0 4px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: 0 4px 0 rgba(85, 85, 85, 0.5);
          box-shadow: 0 4px 0 rgba(85, 85, 85, 0.5);
}
#site-header a, #site-header button { white-space: nowrap; }
#site-header a, #site-header a:active, #site-header a:visited,
#site-header button, #site-header button:active, #site-header button:visited { color: #a3c7d9; }
#site-header a:hover, #site-header button:hover { color: #fff; }

/* Logo */
#site-title {
  font-size: 1em;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.5);
  color: #eee;
  float: left;
  margin: 0 0.5em 0 0;
  padding: 0.5em 0;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.has-pages #site-title {
  padding-left: 3em;
}
#site-title a:link,
#site-title a:visited {
  display: block;
  font-size: 2.25em;
  line-height: 1.5;
  text-decoration: none;
  color: #eee;
}
#site-title a:hover {
  color: #fff;
}

/* Primary Menu */
#nav-bttn {
  float: right;
  width: 1.25em;
  font-size: 2em;
  line-height: 1;
  background: #444;
  text-decoration: none;
  text-align: center;
  padding: 0.125em 0;
  margin: 0.4em;
  position: absolute;
  left: 0;
}
#nav-bttn:hover {
  background: #a3c7d9;
}
.access {
  display: none;
  width: 100%;
  margin: 0em -1em 0;
  border: 1em solid #777;
  border-top: 0.5em solid #777;
  font-weight: bold;
  background: #555;
  text-align: center;
  float: left;
  position: relative;
  z-index: 50;
}
.access.expose {
  display: block;
}
.access li {
  position: relative;
  border-bottom: 2px solid transparent;
  font-size: 1.25em;
}
.access li li {
	border-top: 2px solid #777;
	border-bottom: 0;
  font-size: 1em;
}
.access a {
  display: block;
  line-height: 3em;
  padding: 0 1.2em;
  text-decoration: none;
}
.access a:hover {
  background: #00aaff;
  color: #fff;
}

/* User Menu */
.user-menu {
  float: right;
  position: absolute;
  font-size: 1em;
  top: 1em;
  right: 0.5em;
  text-align: right;
}
.user-is-authenticated {
  margin-right: 3.5em;
}
.header-avatar {
  height: 3em;
  width: 3em;
  position: absolute;
  top: -0.5em;
  right: 0;
}
.current-user {
  white-space: nowrap;
}
a.logout-btn {
  display: block;
  font-size: 0.85em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.sign-in-prompt {
  display: block;
  font-size: 0.85em;
  text-transform: uppercase;
  margin: -0.5em 0 0.25em;
  text-align: center;
}
.sign-in-menu-item {
  float: left;
  font-weight: bold;
  margin-left: 0.5em;
}
.auth {
  text-decoration: none;
  display: block;
  padding: 0.25em 0.5em;
}
.auth-inline {
  text-decoration: none;
  display: inline;
  padding: 0.25em 0.5em;
}
a.twitter-btn {
  background-color: #4099FF;
  color: #fff !important;
}
a.facebook-btn {
  background-color: #3b5998;
  color: #fff !important;
}
.or-sign-in {
  display: block;
  padding-top: 0.75em;
}

/* Main (map & content, does not include ticker) */
#main {
}

.noscript {
  padding:1.4em;
  position: relative;
  z-index: 9999;
}

#ajax-error-msg {
  display: none;
  position: absolute;
  top: 10px;
  left: 50px;
  max-width: 300px;
  z-index: 9999;

  padding: 0.6em;
  color: #8D5251;

  border: 1px solid #CFABAB;
  background-color: rgba(242, 206, 206, 0.8);

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* Map */
#map-container {
  background: #eee;
  position: absolute;
  top: 4em; /* must match height of #site-header */
  right: 0;
  bottom: 2em;
  left: 0;
  z-index: 10;
}
#map {
  height: 100%;
}

a.add-place {
  display: none;
  float: left;
  position: fixed;
  right: auto;
  bottom: 20px;
  margin-bottom: 0.8em;
  left: 10px;
  z-index: 1001;
  background-color: #00aaff;
  color: #f0f0f0;
  padding: 0.05em 0.4em 0.2em 0.4em;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px -1px 0 #06A;
     -moz-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
          box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
}
a.add-place:hover {
  color: #fff;
}
a.add-place span {
  display: none;
}
a.add-place:before {
  content: "+";
}

.locate-me {
  width: 20px;
  height: 20px;
  background-image: url(images/locate-me.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  padding: 3px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
  cursor: auto;
  text-align: center;
  background-color: #FFFFFF;
}
.locate-me:hover {
  background-color: #f4f4f4;
}
.locate-me span {
  display:block;
  text-indent: -9999px;
}

.leaflet-touch .locate-me {
	width: 27px;
	height: 27px;
}

#map .leaflet-popup-content-wrapper {
     -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
          border-radius: 0px;
}

#map .leaflet-control-attribution {
  font-size: 9px;
  -webkit-text-size-adjust: none; /* keep iPhone from getting smart with the font sizes */
}

/* Progress Bars */
.progress-bar {
  background: #777;
  background: rgba(85,85,85,0.5);
	height: 20px;
	padding: 0 5px;
	position: relative;
	border-radius: 13px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
.progress-bar span {
  background: #00aaff;
	display: block;
  width: 0%;
	height: 10px;
	position: relative;
	top: 5px;
	overflow: hidden;
	border-radius: 5px;
}
#map-progress {
  position: absolute;
  top: 10px;
  right: 50px;
  bottom: auto;
  left: 50px;
  z-index: 1;
  display:none;
}

/* Center Point: crosshairs and new point icon */
#centerpoint {
  display: none;
  width: 65px;
  height: 65px;
  background: transparent url(images/crosshair.png) 0 0 no-repeat scroll;
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -32px 0 0 -32px;
  pointer-events: none;
  z-index: 11;
  opacity: 0.6;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
a.add-place:hover + #centerpoint,
#centerpoint.dragging {
  opacity: 1;
}
#centerpoint.newpin {
  width: 47px;
  height: 47px;
  background: transparent;
  left: 30%;
  margin: -44px 0 0 -12px;
  opacity: 1;
}
#centerpoint.newpin .x {
  display: block;
  position: absolute;
  width: 18px;
  height: 12px;
  background: transparent url(images/marker-x.png) 0 0 no-repeat scroll;
  left: 4px;
  top: 37px;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
#centerpoint.newpin:hover .x,
#centerpoint.newpin.dragging .x {
  opacity: 1;
}
#centerpoint.newpin .shadow {
  display: block;
  height: 47px;
  width: 47px;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent url(images/marker-shadow.png) 0 3px no-repeat scroll;
  -webkit-transition: opacity 0s, background-position 0.3s ease;
  -moz-transition: opacity 0s, background-position 0.3s ease;
  -o-transition: opacity 0s, background-position 0.3s ease;
  -ms-transition: opacity 0s, background-position 0.3s ease;
  transition: opacity 0s, background-position 0.3s ease;
}
#centerpoint.newpin:hover .shadow,
#centerpoint.newpin.dragging .shadow {
  opacity: 0.2;
  background-image:
    url(images/marker-shadow.png),
    url(images/marker-shadow.png),
    url(images/marker-shadow.png),
    url(images/marker-shadow.png),
    url(images/marker-shadow.png),
    url(images/marker-shadow.png),
    url(images/marker-shadow.png),
    url(images/marker-shadow.png),
    url(images/marker-shadow.png)
    ;
  background-position:
    0px -3px,
    3px -3px,
    6px -3px,
    0px -6px,
    3px -6px,
    6px -6px,
    0px -9px,
    3px -9px,
    6px -9px
  ;
}
#centerpoint.newpin .marker {
  display: block;
  width: 25px;
  height: 41px;
  background: transparent url(images/marker-plus.png) 0 0 no-repeat scroll;
  position: relative;
  top: 3px;
  -webkit-transition: top 0.4s ease;
  -moz-transition: top 0.4s ease;
  -o-transition: top 0.4s ease;
  -ms-transition: top 0.4s ease;
  transition: top 0.4s ease;
}
#centerpoint.newpin:hover .marker,
#centerpoint.newpin.dragging .marker {
  top: -20px;
}

#instructions {
  display: none;
  width: 150px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -58px 0 0 -200px;
  pointer-events: none;
  z-index: 11;
}

.form-spinner {
  float: left;
  margin-top: 25px;
  margin-left: 25px;
}

@media only screen and (min-width: 768px) {
  #instructions.show {
    display: block;
  }
  #add-place.instructionsShowing {
    display: none !important;
  }
}

#instructions p {
  background: white;
  padding: 10px;
  border-radius: 3px;
   -moz-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
-webkit-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
        box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
}

#instructions .arrow {
  position: absolute;
  left: 75px;
  bottom: 0;
  width: 109px;
  height: 47px;
  background: transparent url(images/arrow.png) 0 0 no-repeat scroll;
}

/* Content */
#content {
  background: #fff;
  line-height: 20px;
  position: relative;
  z-index: 40;
  display: none;
     -moz-box-shadow: 0 4px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: 0 4px 0 rgba(85, 85, 85, 0.5);
          box-shadow: 0 4px 0 rgba(85, 85, 85, 0.5);
}
#content > article {
  position: relative;
  padding: 1.5em 1em 3em;
}
a.close-bttn {
  color: #ff5e99;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  top: 0.75em;
  left: 0.25em;
  padding: 0.75em;
  line-height: 2;
  display: inline-block;
  z-index: 2;
}
a.close-bttn:hover {
  color: #dd3c77;
}
a.close-bttn span {
  font-size: 85%;
  font-weight: normal;
  text-transform: uppercase;
  margin-left: 0.375em;
}

#content p {
  margin-bottom: 1.2em;
  max-width: 50em;
}
#content ul,
#content ol {
  margin-bottom: 0.6em;
}
#content ul li,
#content ol li {
  padding-bottom: 0.6em;
}
#content dl {
  margin-bottom: 0.6em;
}
#content dt,
#content dd {
}
#content dt {
  font-weight: 700;
}
#content dd {
  margin-left: 1.8em;
  padding-bottom: 0.6em;
}

/* Images */
img {
  max-width: 100%; /* When images are too wide for containing element, force them to fit. */
  height: auto; /* Override height to match resized width for correct aspect ratio. */
}
img.alignleft {
  margin-right: 1em;
}
img.alignright {
  margin-left: 1em;
}

/* Forms */
fieldset {
  padding-bottom: 1.2em;
}
label {
  color: #888;
  display: block;
  font-weight: bold;
}
input[type=text],
input[type=number],
textarea {
  background-color: rgba(255,255,255,0);
  border: 1px solid #999;
  padding: 1em;
}
input[type=text],
input[type=number] {
  width: 80%;
}
input[type=number]::-webkit-outer-spin-button { display: none; }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  width: 100%;
  height: 6.5em;
  resize: vertical;
}
.required {
  color: #cc0033;
}
.bttn, a.bttn:active, a.bttn:visited {
  display: inline-block;
  background-color: #00aaff;
  color: #f0f0f0;
  padding: 0.75em 1em;
  border: 0;
  margin: 0 0 0.667em;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  text-shadow: 1px -1px 0 #06A;
  box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
  border-radius: 0;
  -webkit-appearance: none;
}
.bttn:hover, a.bttn:hover {
  color: #fff;
}
.fileinput-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 0.75em 1em;
  border: 0;
  margin: 0 0 0.75em;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: -1px 1px 0 #fff;
  background-color: #eee;
  color: #007fbf;
  box-shadow: -2px 2px 0 rgba(85, 85, 85, 0.25);
}
.fileinput-container:hover {
  color: #00aaff;
}
.fileinput-container input {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 100%;

  opacity: 0;
  cursor: pointer;
}
.fileinput-name {
  display: inline-block;
}
.fileinput-container.disabled {
  background-color: #e0e0e0;
  color: #f0f0f0;
}

/* Voting & Sharing */
.promotion {
  background: #eee;
  background: rgba(88,88,88,0.1);
  margin: -0.5em -1em 1em -1em;
  padding: 0.6em;
}

/* Social Links */
.social {
  float: right;
}
.sharing {
  list-style: none;
}
.share-link {
  float: left;
  padding: 0 !important;
}
.share-link a {
  display: block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  text-indent: -9999px;
}
.share-twitter a {
  background: url(images/twitter-32.png) 0 0 no-repeat scroll;
}
.share-facebook a {
  background: url(images/facebook-32.png) 0 0 no-repeat scroll;
}

#user_support {
  position: relative;
  float: left;
}
#user_support label {
  padding: 10px 10px 10px 30px;
  line-height: 1.2;
  background: transparent url(images/heart-empty.png) 10px 10px no-repeat scroll;
  background-color: #fff;
  color: #007fbf;
     -moz-box-shadow: -2px 2px 0 rgba(85, 85, 85, 0.25);
  -webkit-box-shadow: -2px 2px 0 rgba(85, 85, 85, 0.25);
          box-shadow: -2px 2px 0 rgba(85, 85, 85, 0.25);
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
#user_support:hover label {
  color: #00aaff;
}
#user_support input[type=checkbox] {
  cursor: pointer;
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  zoom: 1;
}
#user_support input[type=checkbox]:checked ~ label {
  background-image: url(images/heart.png);
}

/* Feature Point */
.place-header {
  margin-bottom: 1em;
}
.place-submission-details {
  display: block;
  padding-left: 3.75em;
}
.point-submitter .avatar {
  width: 3.25em;
  height: 3.25em;
  float: left;
  margin-left: -3.75em;
}
.response-date {
  display: block;
  text-transform: uppercase;
  color: #888;
  font-size: 0.85em;
}
.description {
  font-size: 16px;
  line-height: 26px;
}

/* Survey */
.survey {
  position: relative;
}
.survey-header {
  border-bottom: 1px solid #A8A8A8;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  font-size: 1.25em;
}
a.reply-link {
  background: #A3C7D9;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 0.5em;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 85%;
}
a.reply-link:hover {
  background: #00aaff;
}
ol.responses {
  list-style: none;
  margin-left: 0;
}
.responses .response {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 1em;
}
.responses .children {
  list-style: none;
  margin-left: 2em;
  margin-bottom: 0;
}
.responses .children .response {
  padding-top: 2em;
  padding-bottom: 0;
}
.responses .bypostauthor {
  background: #f7f7f7;
  padding: 0.5em  0.5em  2.5em;
  margin: 0 -0.5em;
}
article.response {
  display: block;
}
.response-header {
  padding-left: 3.75em;
  margin: 0 0 0 1em;
  position: absolute;
  bottom: 0;
  left: 0;
}
.response-submitter {}
.response-submitter .avatar {
  width: 3.25em;
  height: 3.25em;
  float: left;
  margin-left: -3.75em;
}
.response-meta {}
.response-body {
  margin: 0 0 1em;
  padding: 1em;
  border-top: 1px solid #a8a8a8;
  border-right: 1px solid #c8c8c8;
  border-bottom: 0;
  border-left: 1px solid #c8c8c8;
  background: #eee;
  border-radius: 1em;
  position: relative;
}
.response-body:after {
  content: '';
  height: 0;
  width: 0;
  border: 1em solid transparent;
  border-top-color: #eee;
  position: absolute;
  top: 100%;
  left: 20px;
}
.response-label-comment {
  display: none;
}
.response-value-comment {
  margin-bottom: 0.5em !important;
}

article.response footer {
  text-align: right;
}
.survey-reply-link {
  color: #999;
  background: #eee;
  padding: 0.5em 0.75em;
  text-decoration: none;
  font-weight: bold;
}
.survey-reply-link:hover {
  background: #607890;
  color: #fff;
}
.reply-header {
}
#reply .survey-form-response label {
  display: none;
}
#reply p {
}
#reply p.response-box {
}
.response-box label {
  display: none;
}

.submit-bttn {
  float: left;
  margin: 0 0.75em 0 0;
}
.signed-in-as {
  float: left;
  white-space: nowrap;
  padding-top: 0.75em;
  line-height: 1.5;
}
.signed-in-as .avatar {
  height: 1.5em;
  width: auto;
  position: relative;
  top: 0.5em;
}
.signed-in-as a {
  font-weight: bold;
  font-size: 0.85em;
  text-transform: uppercase;
}

/* Ticker */
#ticker {
  display: none;
  position: absolute;
  top: 5em; /* must match height of #site-header */
  right: 0;
  bottom: 0;
  border-bottom: 4.75em solid #5D5D5D;
  left: auto;
  width: 18em;
  overflow: auto;
  z-index: 15;
     -moz-box-shadow: -4px 0 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -4px 0 0 rgba(85, 85, 85, 0.5);
          box-shadow: -4px 0 0 rgba(85, 85, 85, 0.5);
}
ul.recent-points {
  list-style: none;
  margin: 0;
  color: #ddd;
}
.recent-points li {
  position: relative;
  border-bottom: 3px solid #5D5D5D;
}
.recent-points li:hover {
  background: #606060;
}
.recent-points a {
  float: left;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  width: 100%;
  padding: 10px 10px 10px 50px;
  color: #ddd;
  text-decoration: none;
  position: relative;
  z-index: 5;
}
.recent-points a:hover {
  color: #fff;
}
.recent-points .avatar {
  width: 30px;
  height: 30px;
  float: left;
  margin-left: -40px;
}
.recent-points .badge {
  background: transparent url(images/ticker-point.png) 0 0 no-repeat scroll;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 30px;
  left: 4px;
}
.recent-points .submission {
  background-image: url(images/ticker-submission.png);
}
.recent-points .vote {
  background-image: url(images/heart.png);
}

/* Powered By */
#powered-by {
  color: #ddd;
  background-color: #777;
  text-align: center;
  line-height: 2em;
  height: 2em;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 16;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
  opacity: 0;
}
#powered-by.is-loaded {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in 0.2s;
  -moz-transition: opacity 1s ease-in 0.2s;
  -o-transition: opacity 1s ease-in 0.2s;
  -ms-transition: opacity 1s ease-in 0.2s;
  transition: opacity 1s ease-in 0.2s;
}
#powered-by a.shareabouts-logo {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 1.4em;
  color: #a3c7d9;
  font-weight: bold;
  text-decoration: none;
}
#powered-by a.shareabouts-logo:hover {
  color: #fff;
  border-bottom: 1px solid #ccc;
}
#powered-by a.openplans-logo {
  color: #ffb885;
  font-weight: bold;
  text-decoration: none;
}
#powered-by a.openplans-logo:hover {
  color: #fff;
  border-bottom: 1px solid #ccc;
}

/* Footer */
#colophon {
}

/* Unsupported Browser message */
.unsupported-overlay {
  position: absolute;
  top: 0px;
  z-index: 9000;
  background-color: #0AF;
  color: white;
  width: 100%;
  opacity: 0.9;
}

.unsupported-overlay p {
  padding: 1em;
  font-size: 1.25em;
  font-weight: bold;
}

.unsupported-overlay p a {
  color: white;
}

.unsupported-overlay .close-bttn {
  position: static;
  float: right;
  margin-right: 1em;
  margin-top: 1em;

  color: white;
  border: none;
  background: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.unsupported-overlay .close-bttn:hover {
  color: #444;
}

/* =Media Queries for Responsive Layout
-------------------------------------------------------------- */

@media only screen and (min-width: 320px) {
}
@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 480px) and (orientation: portrait) {
  a.add-place {
    padding: 0.6em 1em;
    font-size: 2.5em;
    bottom: 0.75em;
    left: 0.75em;
  }
  a.add-place span {
    font-size: 1em;
    display: inline;
  }
  a.add-place:before {
    content: "";
  }
}
@media only screen and (min-width: 768px) { /* menu is visible */
  a.add-place {
    padding: 0.6em 1em;
    margin-bottom: 0;
    font-size: 2.5em;
    bottom: 1.5em;
    left: 1em;
  }
  a.add-place span {
    font-size: 1em;
    display: inline;
  }
  a.add-place:before {
    content: "";
  }
  #centerpoint {
    opacity: 0.25;
  }
  #content {
    position: absolute;
    top: 5.75em; /* height of #site-header + 1.75em*/
    right: 0.75em;
    bottom: 1.75em;
    left: 50%;
    overflow: visible;
    border: 1px solid #A8A8A8;
       -moz-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
    -webkit-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
            box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
  }
  #content > article {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 1.5em 1em;

    background:
      linear-gradient(white 30%, rgba(255,255,255,0)),
      linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
      radial-gradient(45% 0, farthest-side, rgba(0,0,0,0.25), rgba(0,0,0,0)),
      radial-gradient(45% 100%,farthest-side, rgba(0,0,0,0.25), rgba(0,0,0,0)) 0 100%;
    background:
      -webkit-linear-gradient(white 30%, rgba(255, 255, 255, 0)),
      -webkit-linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
      -webkit-radial-gradient(45% 0, farthest-side, rgba(0, 0, 0, 0.25), transparent),
      -webkit-radial-gradient(45% 100%,farthest-side, rgba(0, 0, 0, 0.25), transparent) 0 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100% 6em, 100% 6em, 110% 1.75em, 110% 1.75em;
    background-attachment: local, local, scroll, scroll;
  }

  /* Modal Close Button */
  a.close-bttn {
    background: #fff;
    text-align: left;
    text-indent: -9999px;
    float: right;
    height: 24px;
    width: 24px;
    position: relative;
    z-index: 5;
    top: -12px;
    right: 100%;
    left: auto;
    padding: 0;
    margin-right: -12px;
    border: 0;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    overflow: hidden;
    -webkit-box-shadow: 0 0 0 2px #eee, -3px 3px 0 2px rgba(85, 85, 85, 0.5);
       -moz-box-shadow: 0 0 0 2px #eee, -3px 3px 0 2px rgba(85, 85, 85, 0.5);
            box-shadow: 0 0 0 2px #eee, -3px 3px 0 2px rgba(85, 85, 85, 0.5);
  }
  a.close-bttn:before,
  a.close-bttn:after {
    content: "\0020";
    position: absolute;
    display: block;
    top: 50%;
    right: 20%;
    bottom: 50%;
    left: 20%;
    margin: -2px;
    background: hotpink;
  }
  a.close-bttn:hover:before, a.close-bttn:hover:after {
    background: #dd3c77;
  }
  a.close-bttn {
    -webkit-transform:rotate(45deg); /* Safari and Chrome */
       -moz-transform:rotate(45deg); /* Firefox */
        -ms-transform:rotate(45deg); /* IE 9 */
         -o-transform:rotate(45deg); /* Opera */
           transform: rotate(45deg);
  }
  a.close-bttn:after {
    -webkit-transform:rotate(90deg); /* Safari and Chrome */
       -moz-transform:rotate(90deg); /* Firefox */
        -ms-transform:rotate(90deg); /* IE 9 */
         -o-transform:rotate(90deg); /* Opera */
           transform: rotate(90deg);
  }

  /* Voting & Sharing */
  .promotion {
    margin: -1.5em -1em;
    margin-bottom: 1em;
    padding: 1em;
    border-bottom: 1px solid #A8A8A8;
  }

  /* Page Menu */
  .has-pages #site-title {
    padding-left: 0;
  }
  #nav-bttn {
    display: none;
  }
  .access {
    display: block;
    background: transparent;
    text-align: left;
    width: auto;
    margin: 1em 0 0;
    border: 0;
  }
  .access li {
    font-size: 1em;
    float: left;
    border: 0;
    border-bottom: 6px solid transparent;
  }
  .access ul ul {
    display: none;
    float: left;
    position: absolute;
    top: 3em;
    left: 0;
    margin-top: 6px;
    z-index: 9999;
       -moz-box-shadow: -4px 4px 0px rgba(85, 85, 85, 0.5);
    -webkit-box-shadow: -4px 4px 0px rgba(85, 85, 85, 0.5);
            box-shadow: -4px 4px 0px rgba(85, 85, 85, 0.5);
  }
  .access ul ul a,
  .access ul ul button {
    background: #666;
    border: none;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    line-height: 2em;
    text-align: left;
    padding: .5em .5em .5em 1em;
    width: 12em;
    height: auto;
  }
  .access a:hover,
  .access button:hover {
    background: #00aaff;
  }
  .access ul li:hover > ul,
  .access ul li:hover > form > ul {
    display: block;
  }

  #map .leaflet-control-attribution {
    font-size: 11px;
  }

  #site-header a,
  #site-header button,
  .close-bttn {
    -webkit-transition: color,background-color 0.1s;
    -moz-transition: color,background-color 0.1s;
    -o-transition: color,background-color 0.1s;
    -ms-transition: color,background-color 0.1s;
    transition: color,background-color 0.1s;
  }
  #ticker li {
    -webkit-transition: color,background-color 0.25s;
    -moz-transition: color,background-color 0.25s;
    -o-transition: color,background-color 0.25s;
    -ms-transition: color,background-color 0.25s;
    transition: color,background-color 0.25s;
  }

}
@media only screen and (min-width: 1024px) { /* ticker is visible */
  #site-header {
    height: 5em;
  }
  #site-title a:link,
  #site-title a:visited {
    font-size: 3.25em;
    line-height: 1.25;
  }
  .access {
    margin-top: 1.75em;
  }
  .activity-enabled .noscript {
    margin-right: 18em; /* width of ticker */
  }
  #map-container {
    top: 5em; /* must match height of #site-header */
  }
  .activity-enabled #map-container {
    bottom: 0;
  }
  #content {
    top: 6.75em; /* height of #site-header + extra 1.75em */
    right: 1.5em;
    left: 55%;
  }
  .activity-enabled #map-container {
    right: 18em; /* width of ticker */
  }
  .activity-enabled #content {
    right: 18.75em; /* width of ticker + extra 0.75em */
    left: 40%;
  }
  #content > article {
    padding: 2em;
  }
  .activity-enabled #ticker {
    display: block;
  }
  .activity-enabled #powered-by {
    bottom: 0;
    line-height: 3em;
    text-align: center;
    width: 18em;
    height: 4.75em;
    right: -4px;
    border-right: 4px solid #777;
    left: auto;
    overflow: hidden;
    box-shadow: 0 -4px 0 rgba(85, 85, 85, 0.5), inset 0 1px 0 rgba(255,255,255,0.25);
  }
  .activity-enabled #powered-by .nowrap {
    display: block;
    margin-top: -1.5em;
  }

  .user-menu {
    top: 1.25em;
  }
  .user-is-authenticated {
    margin-right: 4.75em;
  }
  .header-avatar {
    height: 4em;
    width: 4em;
    top: -0.75em;
  }
  .current-user {
    font-size: 1.25em;
  }
  a.logout-btn {
    margin-top: 0.25em;
  }
  .sign-in-prompt,
  .sign-in-menu {
    margin-right: 1em;
  }
  .promotion {
    margin: -2em -2em 1em -2em;
  }
}
@media only screen and (min-width: 1300px) {
  a.add-place {
    font-size: 2.75em;
  }
  #site-header {
    height: 6em;
    padding: 0 1.5em;
  }
  #site-title a:link,
  #site-title a:visited {
    font-size: 4em;
    line-height: 1.25;
  }
  .user-menu {
    top: 2em;
    right: 1em;
  }
  .access li {
    font-size: 1.25em;
  }
  #user-menu {
    padding-top: 1.5em;
  }
  #map-container,
  #ticker {
    top: 6em; /* must match height of #site-header */
  }
  #content {
    top: 7.75em; /* height of #site-header + extra 1.75em */
  }
}

/* double image resolution for retina displays */
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .share-twitter a {
    background-image: url(images/twitter-32.png);
    background-size: contain;
  }
  .share-facebook a {
    background-image: url(images/facebook-32.png);
    background-size: contain;
  }
  #centerpoint {
    background-image: url(images/crosshair@2x.png);
    background-size: contain;
  }
  .locate-me {
    background-image: url(images/locate-me@2x.png);
    background-size: contain;
  }
  .leaflet-touch .leaflet-control-zoom-in {
    background-image: url(images/zoom-in@2x.png);
    background-size: contain;
  }
  .leaflet-touch .leaflet-control-zoom-out {
    background-image: url(images/zoom-out@2x.png);
    background-size: contain;
  }
}


/* Base Print Styles, inline to save the HTTP request */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; }
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
