/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

/* =Base Typography
-------------------------------------------------------------- */

body, select, input, textarea {
  color: #27292a;
  font-family: Georgia, "Times New Roman", Times;
}


/* =Links
-------------------------------------------------------------- */

a, a:active, a:visited {
/*  color: #ff40ff;*/
}

a:hover {
/*  color: #e500e5;*/
}


/* =The Site Header
-------------------------------------------------------------- */

#site-header {
  color: #fff;
  background-color: #27292a;
}

#site-header a, #site-header a:active, #site-header a:visited {
/*  color: #ff80ff;*/
}

#site-header a:hover {
  /* color: #ffbfff; */
}


/* =Logo
-------------------------------------------------------------- */

/* NOTE: Adjust the #site-title font size in the link
 * (not in the #site-title itself) using the em unit,
 * as to not break it scaling via media queries. */

#site-title {
  font-family: Georgia, "Times New Roman", Times;
  font-weight: normal;
/*  color: #fff;*/
/*  text-shadow: none;*/
}

#site-title a:link,
#site-title a:visited {
  font-size: 0.6em;
/*  color: #fff;*/
}

#site-title a:hover {
/*  color: #fff;*/
}


/* =Mobile Navigation Button
-------------------------------------------------------------- */

/* NOTE: Override the Mobile Navigation Button with caution.
 * The Helvetica stack produces a good icon. */

a#nav-bttn:link,
a#nav-bttn:visited {
  color: #27292a;
  background: #888;
  font-family: "Helvetica Neue", Arial, Helvetica, serif;
}

a#nav-bttn:hover {
  color: #27292a;
  background: #aaa;
}


/* =Navigation Menu
-------------------------------------------------------------- */

.access {
  border: 1em solid #27292a;
  border-top: 0.5em solid #27292a;
  background: #666;
  font-weight: normal;
}

.access li {
  border-bottom: 2px solid #27292a;
}

.access a:visited, .access a:active, .access a:link {
  color: #fff;
}
.access a:hover {
  color: #27292a;
  background: #ffea97;
}


/* =The Big Button to Add A New Point
-------------------------------------------------------------- */

a.add-place {
  background-color: #ffea97;
  color: #555;
  text-shadow: none;
  font-weight: normal;
}

a.add-place:hover {
  background-color: #27292a;
  color: #ffea97;
}


/* =Close Content Button
-------------------------------------------------------------- */

/* NOTE: Override the Close Button font within the span. The link should
 * remain the Helvetica stack, as it produces a good X close icon. */

a.close-bttn {
/*  color: #ff40ff;*/
/*  background-color: #fff;*/
/*  border-color: #ffbfff;*/
/*  font-family: "Helvetica Neue", Arial, Helvetica, serif;*/
}

a.close-bttn:hover {
/*  color: #e500e5;*/
/*  background-color: #fff;*/
/*  border-color: #e500e5;*/
}
a.close-bttn span {
  /*  font-family: Impact, sans-serif;*/
}


/* =Forms
-------------------------------------------------------------- */

label {
/*  color: #806080;*/
}

input[type=text],
textarea {
/*  border: 1px solid #000; */
}

.required {
/*  color: red;*/
}

.bttn {
  background-color: #ffea97;
  color: #555;
  text-shadow: none;
  font-weight: normal;
}
.bttn:hover {
    background-color: #27292a;
    color: #ffea97;
}

a.reply-link {
/*  color: #1e5395;*/
/*  background: #eef8fd;*/
}

a.reply-link:hover {
/*  color: #fff;*/
/*  background-color: #e500e5;*/
}


/* =Voting & Social Promotion
-------------------------------------------------------------- */
.promotion {
/*  background-color: #bf8fbf;*/
}

#user_support label {
/*  color: #ff80ff;*/
/*  background-color: #fff;*/
}

#user_support:hover label,
#user_support label:hover {
/*  color: #e500e5;*/
}


/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background-color: #fff;
}

ul.recent-points {
/*  color: #eee;*/
}

.recent-points li {
  border-bottom: 3px solid #eee;
}

.recent-points li:hover {
  background-color: #ffea97;
}

.recent-points a {
  color: #555;
}

.recent-points li:hover a,
.recent-points a:hover {
  color: #27292a;
}


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) { /* menu is visible */
  .access {
    border: 0;
    background: transparent;
  }
}

@media only screen and (min-width: 1024px) { /* ticker is visible */
}

@media only screen and (min-width: 1300px) {
}