<% if commentable.comments.present? %>
  <h4>Comments</h4>
  <ul>
    <% for comment in commentable.comments %>
      <li>
        <strong>
          <%= time_ago_in_words comment.created_at %> ago:
        </strong> 
        <%= comment.comment %>
      </li>
    <% end %>
  </ul>
<% end %>

<h4>Add a Comment</h4>
<%= render "comments/new", :commentable => commentable %>