<ul>
  <li>
    <%= link_to "permalink", feature_point_url(shareable), :class => "link" %>
  </li>
  <li>
    <%= tweet t("feature.sharing.twitter.status", :place => "place", :url => feature_point_url(shareable)) -%>
  </li>
  <li>
    <%= mail_to "", "email", :subject => t("sharing.email.subject", :place => "place"), :body => t("feature.sharing.email.body", :place => "place", :url => feature_point_url(shareable)), :class => "email" -%>
  </li>
  <li>
    <%= facebook_share_feature shareable -%>
  </li>

</ul>