<span>
  <%= pluralize  supportable.votes.count, t("labels.voter_description") %>
</span>

<br>

<% if supported? supportable %>
  you supported this location!   
<% else %>
  <%= render "votes/new", :supportable => supportable %>
<% end %>