@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('http://www.fontsquirrel.com/utils/load_demo_font.php?font=816/League_Gothic-webfont.eot');
    src: url('http://www.fontsquirrel.com/utils/load_demo_font.php?font=816/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.fontsquirrel.com/utils/load_demo_font.php?font=816/League_Gothic-webfont.woff') format('woff'),
         url('http://www.fontsquirrel.com/utils/load_demo_font.php?font=816/League_Gothic-webfont.ttf') format('truetype'),
         url('http://www.fontsquirrel.com/utils/load_demo_font.php?font=816/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
}
body, select, input, textarea {
}
a, a:active, a:visited {
  color: #1e5395;
}
a:hover {
  color: #1e5395;
}

#site-header {
  color: #eee;
  background: #8fafbf url(images/nosur-logo-sm.png) 0.5em center no-repeat scroll;
}
#site-header a, #site-header a:active, #site-header a:visited {
  color: #fff;
}
#site-header a:hover {
}
#site-title {
  text-shadow: none;
}
#site-title a:link,
#site-title a:visited {
  display: block;
  width: 154px;
  text-indent: -9999px;
  position: relative;
  left: -0.125em;
}
#site-title a:hover {
}

a#nav-bttn,
a#nav-bttn:visited {
  background: #cce4f0;
  color: #148fcc;
}
a#nav-bttn:hover {
  background: #fff;
  color: #148fcc;
}
.access {
  border-color: #8fafbf;
  top: 0.25em;
}
.access li {
}
.access a {
  font-family: 'LeagueGothicRegular';
  font-weight: normal;
  font-size: 1.5em;
}
.access a:hover {
  background-color: #ff99bb;
}

a.add-place {
  font-family: 'LeagueGothicRegular';
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff99bb;
  text-shadow: 1px -1px 0 #cc7a96;
  border-top: 1px solid #ffccdd;
  border-right: 1px solid #ffccdd;
     -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
          border-radius: 0.4em;
}
a.add-place:hover {
  background-color: #ff80aa;
  text-shadow: 1px -1px 0 #cc6688;
}
.add-place span {
  font-size: 1.25em;
}
a.close-bttn {
  color: #ff99bb;
  /* This should always be a Helvetica stack */
  font-family: "Helvetica Neue", Arial, Helvetica, serif;
}
a.close-bttn:hover {
  color: #cc6688;
}
label {
}
input[type=text],
textarea {
}
.required {
}
.bttn {
  color: #fff;
  background-color: #ff99bb;
  text-shadow: 1px -1px 0 #cc7a96;
  font-family: 'LeagueGothicRegular';
  font-weight: normal;
  font-size: 2em;
  padding: 0.5em 0.75em;
     -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
          border-radius: 0.4em;
}
.bttn:hover {
  background-color: #ff80aa;
  text-shadow: 1px -1px 0 #cc6688;
}
a.reply-link {
  background: #cce4f0;
  color: #728c99;
}
a.reply-link:hover {
  background-color: #cc6688;
  color: #fff;
}

.promotion {
  display: none;
}
#user_support label {
}
#user_support:hover label,
#user_support label:hover {
}

#ticker {
  background-color: #406a80;
}
ul.recent-points {
}
.recent-points li {
  border-bottom: 3px solid #395f73;
}
.recent-points li:hover {
  background: #148fcc;
}
.recent-points a {
  color: #daeaf2;
}
.recent-points li:hover a,
.recent-points a:hover {
  color: #fff;
}


.place-item-surcharge {
  font-size: 1.75em;
  font-weight: bold;
}
    /* clearfix */
    .place-item-surcharge:before, .place-item-surcharge:after {
      content: "\0020"; display: block; height: 0; visibility: hidden;
    }
    .place-item-surcharge:after { clear: both; }
    .place-item-surcharge { zoom: 1; }

.place-label-surcharge,
.place-value-surcharge {
  float: left;
  background-color: #ffe5ee;
  padding: 0.5em 0.6em;
}
.place-label-surcharge {
  padding-right: 0;
}
.place-value-surcharge {
  padding-left: 0;
}

/* =Zendesk
-------------------------------------------------------------- */
#zenbox_tab {
  visibility: hidden;
  top: 40% !important;
  opacity: 0.7;
}

/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) { /* menu is visible */
  #zenbox_tab {
    visibility: visible;
  }

  .access {
    top: 0;
  }
  .access a {
    font-family: 'LeagueGothicRegular';
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.75em;
    padding: 0 1em;
       -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
            border-radius: 0.4em;
  }

  /* NOTE: The background-color is the X's color. The pseudo elements' border-color and
   * inset shadow color should match to mask the X shape */
  a.close-bttn {
/*    background: white;*/
/*    -webkit-box-shadow: 0 0 0 2px white, -4px 4px 0 2px rgba(85, 85, 85, 0.5), inset 0 0 0 0.25em pink;*/
/*       -moz-box-shadow: 0 0 0 2px white, -4px 4px 0 2px rgba(85, 85, 85, 0.5), inset 0 0 0 0.25em pink;*/
/*            box-shadow: 0 0 0 2px white, -4px 4px 0 2px rgba(85, 85, 85, 0.5), inset 0 0 0 0.25em pink;*/
  }
  a.close-bttn:hover { 
/*    background: purple; */
  }
  a.close-bttn:before { 
/*    border-right-color: pink; */
  }
  a.close-bttn:after { 
/*    border-left-color: pink; */
  }
  a.close-bttn span:before { 
/*    border-top-color: pink; */
  }
  a.close-bttn span:after { 
/*    border-bottom-color: pink; */
  }
}

@media only screen and (min-width: 1024px) { /* ticker is visible */
  #site-header {
    background-image: url(images/nosur-logo-med.png);
  }
  #site-title a:link,
  #site-title a:visited {
    width: 176px;
  }
}

@media only screen and (min-width: 1300px) {
  #site-header {
    background-image: url(images/nosur-logo.png);
  }
  #site-title a:link,
  #site-title a:visited {
    width: 210px;
  }
}