{% extends "manager/base.html" %}
{% load url from future %}

{% block content %}

<h1>Login</h1>

{% if form.errors %}
  <div class="alert alert-error">Your username and password didn't match. Please try again.</div>
{% endif %}

<form method="post" class="form-horizontal" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}

  <div class="control-group">
    <label class="control-label" for="id_username">Username</label>
    <div class="controls">
      {{ form.username }}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="id_password">Password</label>
    <div class="controls">
      {{ form.password }}
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Log in</button>
    </div>
  </div>
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock content %}
