/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

COLOR PALETTE...

CGDYellow   #FFCC00
CGDRed      #EA1113
CGDGreen    #40B132

Dark blue   #042A5E
Medium blue #1D4578
Light blue  #A3C0DD
Pin blue    #255EE6

CrowdSpot Red #FF1609
CrowdSpot Green #45BA00
CrowdSpot Grey (text) #585A59
*/





/* =Base Styles
-------------------------------------------------------------- */

/* Buttons */
.btn,
.btn:visited,
.btn:link {
  font-weight: 600;
  border: 0;
}

.btn-primary,
.btn-primary:visited,
.btn-primary:link {
  background-color: #E80028;
  color: #fff;
}
.btn-primary:hover {
  background-color: #585A59;
}
.btn-secondary,
.btn-secondary:visited,
.btn-secondary:link {
/*  background-color: #ccc;*/
/*  color: #007fbf;*/
}
.btn-secondary:hover {
/*  background-color: #007fbf;*/
/*  color: #fff;*/
}

/* =Header
-------------------------------------------------------------- */

#site-header {
  border-top: #E80028 3px solid
}

#site-header {
  background-color: #EBECEB;
  box-shadow: 0 5px 10px rgba(85, 85, 85, 0.5), inset 0 -3px 0
}

#site-title {
  background: url('images/cgdwalk_header2.png') no-repeat 
center;
  background-size: contain;
  width: 400px;
  text-indent: -133337px;
}

.site-name {
  font-size: 0.45em;
  float: left;
  line-height: 1.1;
  background-color: #26A0DA;
  position: relative;
  top: -0.6em;
}

.has-pages #site-title {
  margin-left: -0.75em;
}

.access {
  font-size: 1.1em;
}

/* Navigation Button */
#nav-btn {
  background: #6f6f6f;
  color: #bbb;
  font-size: 2em;
  line-height: 0.7;
  text-decoration: none;
  text-align: center;
  text-shadow: -1px 1px 1px rgba(0,0,0,0.25);
  float: left;
  width: .8em;
  padding: 0.125em 0;
  position: absolute;
  border-radius: 2.5px;
  left: 0.25em;
  top: 0.25em;
}

/* =Colophon
-------------------------------------------------------------- */

#colophon {
  box-shadow: inset 0 5px 10px rgba(85, 85, 85, 0.25);
}  

/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background: #EBECEB;
  box-shadow: -5px 0 10px rgba(85, 85, 85, 0.5);
}


/* =Content: Pages & Places
-------------------------------------------------------------- */

#content {
  background: #fff;
}

/* Close Button */
a.close-btn {
  background: #fff;
}



/* =List View
-------------------------------------------------------------- */

#list-container {
  background: #eee;
}

.list-toggle-btn,
  .list-toggle-btn:visited,
  .list-toggle-btn:link {
    background-color: #EC4C1A;
 }
 
.list-toggle-btn:hover {
    background-color: #585A59;
    color: #fff;
  }   
  

/* =Map
-------------------------------------------------------------- */

/* Drag Marker Instructions (for adding a new place) */
.drag-marker-instructions,
.drag-marker-warning {
  background-color: #3E74BF;
  color: #fff;
  text-shadow: none;
}
.drag-marker-warning {
  background-color: #FF1609;
  color: #fff;
  text-shadow: none;
}

/* =Existing Spots
-------------------------------------------------------------- */


.place-value-frequency {
  display: none;
}

.place-value-reason {
  display: none;
}

.place-value-other_reason {
  display: none;
}

.place-value-time {
  display: none;
}

.place-value-with_who {
  display: none;
}

.place-value-age {
  display: none;
}

.place-value-gender {
  display: none;
}

/* =Hiding questions in new forms
-------------------------------------------------------------- */

.place-form label[for=place-why_like],
  .place-form [name=why_like]{
  display: none;
}

.place-form.like label[for=place-why_like],
  .place-form.like [name=why_like] {
  display: block;
}

.place-form label[for=place-why_issue],
  .place-form [name=why_issue]{
  display: none;
}

.place-form.issue label[for=place-why_issue],
  .place-form.issue [name=why_issue] {
  display: block;
}

.place-form label[for=place-why_issue_other],
  .place-form [name=why_issue_other]{
  display: none;
}

.place-form.issue label[for=place-why_issue_other],
  .place-form.issue [name=why_issue_other] {
  display: block;
}

.place-form label[for=place-why_idea],
  .place-form [name=why_idea]{
  display: none;
}

.place-form.idea label[for=place-why_idea],
  .place-form.idea [name=why_idea] {
  display: block;
}


/* =Hiding idea spot questions
-------------------------------------------------------------- */

.place-form label[for=place-other_reason],
  .place-form [name=other_reason]{
  display: none;
}

.place-form label[for=place-frequency],
  .place-form [name=frequency]{
  display: none;
}

.place-form label[for=place-reason],
  .place-form [name=reason]{
  display: none;
}

.place-form label[for=place-time],
  .place-form [name=time]{
  display: none;
}

.place-form label[for=place-with_who],
  .place-form [name=with_who]{
  display: none;
}

.place-form label[for=place-age],
  .place-form [name=age]{
  display: none;
}

.place-form label[for=place-gender],
  .place-form [name=gender]{
  display: none;
}




.place-form.like label[for=place-other_reason],
  .place-form.like [name=other_reason] {
  display: block;
}

.place-form.like label[for=place-frequency],
  .place-form.like [name=frequency] {
  display: block;
}

.place-form.like label[for=place-reason],
  .place-form.like [name=reason] {
  display: block;
}

.place-form.like label[for=place-time],
  .place-form.like [name=time] {
  display: block;
}

.place-form.like label[for=place-with_who],
  .place-form.like [name=with_who] {
  display: block;
}

.place-form.like label[for=place-age],
  .place-form.like [name=age] {
  display: block;
}

.place-form.like label[for=place-gender],
  .place-form.like [name=gender] {
  display: block;
}




.place-form.issue label[for=place-other_reason],
  .place-form.issue [name=other_reason] {
  display: block;
}

.place-form.issue label[for=place-frequency],
  .place-form.issue [name=frequency] {
  display: block;
}

.place-form.issue label[for=place-reason],
  .place-form.issue [name=reason] {
  display: block;
}

.place-form.issue label[for=place-time],
  .place-form.issue [name=time] {
  display: block;
}

.place-form.issue label[for=place-with_who],
  .place-form.issue [name=with_who] {
  display: block;
}

.place-form.issue label[for=place-age],
  .place-form.issue [name=age] {
  display: block;
}

.place-form.issue label[for=place-gender],
  .place-form.issue [name=gender] {
  display: block;
}


/* =Hiding (optional) in survey form
-------------------------------------------------------------- */

label small {
  text-transform: none;
  display: none;
}

/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}