# RVM bootstrap
$:.unshift(File.expand_path('./lib', ENV['rvm_path']))
require 'rvm/capistrano'
set :rvm_ruby_string, '1.9.2-p290'

# bundler bootstrap
require 'bundler/capistrano'
require 'delayed/recipes'

# main details
set :application, "shareabouts.dev.openplans.org"
set :domain, "shareabouts.dev.openplans.org"

# Roles are servers. Yup.
# Web is the server that runs the front end, eg apache.
role :web, domain
# App is the server that runs the application layer, ie rails.
role :app, domain
# Db is the server where where migrations get run.
role :db,  domain, :primary => true


# Server details
default_run_options[:pty] = true
set :deploy_to, "/var/www/shareabouts.dev.openplans.org"
set :deploy_via, :remote_cache
set :use_sudo, false

# SSH config
ssh_options[:forward_agent] = true
ssh_options[:port] = 22
set :user, "passenger"


# Repo details
set :scm, :git
set :repository, "git@github.com:openplans/shareabouts.git"
set :branch, "master"
set :git_enable_submodules, 1

# Tasks
namespace :deploy do
  task :start, :roles => :app do
    run "touch #{current_path}/tmp/restart.txt"
  end

  task :stop, :roles => :app do
    # Do nothing.
  end

  desc "Restart Application"
  task :restart, :roles => :app do
    run "touch #{current_path}/tmp/restart.txt"
  end
end

namespace :delayed_job do 
  desc "Restart the delayed_job process"
  task :restart, :roles => :app do
    run "cd #{current_path} && RAILS_ENV=production script/delayed_job restart"
  end
end

namespace :db do
  task :symlink, :except => { :no_release => true } do
    run "ln -nfs #{shared_path}/config/database.yml #{release_path}/config/database.yml"
  end
end

namespace :devise do
  task :symlink, :except => { :no_release => true } do
    run "ln -nfs #{shared_path}/config/initializers/devise.rb #{release_path}/config/initializers/devise.rb"
  end
end

namespace :assets do
  task :precompile do
    run "cd #{release_path} && RAILS_ENV=production bundle exec rake assets:precompile"
  end
end

after "deploy:finalize_update", "db:symlink"
after 'deploy:update_code', "devise:symlink"
after 'deploy:update_code', "assets:precompile"
#after "deploy:update_code", "delayed_job:restart"
