body {
  background: #EEF8FD;
}
body, select, input, textarea {
  color: #000;
  font-family: Arial, sans-serif;
}
a, a:active, a:visited { 
  color: #1e5395; 
}
a:hover { 
  color: #1e5395;
}

#site-header {
  color: #d8d8d8;
  background-color: #000;
}
#site-header a, #site-header a:active, #site-header a:visited { 
  color: #fff;
}
#site-header a:hover { 
/*  color: red;*/
}
#site-title {
  font-family: Arial, sans-serif;
  color: #fff;
  text-shadow: none;
}
#site-title a:link,
#site-title a:visited {
  /* setting #site-title font size here works with media queries*/
  font-size: 0.75em;
  color: #fff;
}
#site-title a:hover {
  color: #fff;
}
a#nav-bttn {
  background: #b2c045;
}
a#nav-bttn:hover {
  background: #fff;
  color: #b2c045;
}
#access {
  border: 1em solid #b2c045;
  border-top: 0.5em solid #b2c045;
  background: #e2d795;
}
#access li {
  border-bottom: 2px solid #b2c045;
}
#access a:hover {
  background: #b2c045;
  color: #1e5395;
}

a.add-place {
  background-color: #b2c045;
  color: #000;
  text-shadow: none;
}
a.add-place:hover {
  color: #fff;
}
a.close-bttn {
  color: #e2d795;
  border-color: #e2d795;
  /* This should always be a Helvetica stack */
  font-family: "Helvetica Neue", Arial, Helvetica, serif;
}
a.close-bttn:hover {
  background-color: #e2d795;
  color: #1e5395;
}
label {
  color: #000;
}
input[type=text],
textarea {
/*  border: 1px solid purple;*/
}
.required {
  color: red;
}
.bttn {
  background-color: #e2d795;
  color: #000;
  text-shadow: none;
}
.bttn:hover {
  background-color: #b2c045;
  color: #fff;
}
a.reply-link {
  background: #eef8fd;
  color: #1e5395; 
}
a.reply-link:hover {
  background-color: #e2d795; 
  color: #fff;
}
.submissions .bypostauthor {
}
.promotion {
  background-color: #b2c045;
  border-bottom: 0.5em solid #e2d795;
}
#user_support label {
  background-color: #eef8fd;
  color: #1e5395; 
}
#user_support:hover label,
#user_support label:hover {
  color: #000;
}
#ticker {
  background-color: #54718f;
}
ul.recent-points {
  color: #eef8fd;
}
.recent-points li {
  border-bottom: 3px solid #456280;
}
.recent-points li:hover {
  background: #203e5a;
}
.recent-points a {
  color: #eef8fd;
}
.recent-points li:hover a,
.recent-points a:hover {
  color: #fff;
}