<!-- no analytics on shareabouts day. -->



<!-- controlling what shows up in the data view -->
<script type="text/javascript">

  $(Shareabouts).on('panelshow', function(evt, app, path) {
    
    // turn off some select items
    $("#place-location_type>option:eq(0)").prop('disabled', true);
    
    // hide pointless location type label
    //$("label[for=place-location_type]").hide();  

    // add some classes to make selections easier...

    $("[id*=traffic]").addClass("traffic");
    $("label[for*=traffic]").addClass("traffic checkbox-label").hide();
    
    $("[id*=sidewalk]").addClass("sidewalk");
    $("label[for*=sidewalk]").addClass("sidewalk checkbox-label").hide();

    $("[id*=publicspace]").addClass("publicspace");
    $("label[for*=publicspace]").addClass("publicspace checkbox-label").hide();

    $("[id*=lighting]").addClass("streetlight");
    $("label[for*=lighting]").addClass("streetlight checkbox-label").hide();

    $("[id*=drain]").addClass("drain");
    $("label[for*=drain]").addClass("drain checkbox-label").hide();


    //add a label to the name and submit boxes
    $("[id*=place-submitter]").addClass("existing problem new");
    $("label[for*=place-submitter]").addClass("existing problem new");
    $("#save-place-btn").addClass("existing problem new");

    //now hide everything...
    $(".traffic,.sidewalk,.publicspace,.streetlight,.drain").hide();

    $("#place-location_type").change(function() {

      // set everything to have hidden class
    $(".traffic,.sidewalk,.publicspace,.streetlight,.drain").hide();

      // choose what will show up
      var chosen = $("#place-location_type").val();

      switch (chosen)
      {
        case "no-choice":
          break;
        case "TrafficIssue":
          $(".traffic").show();
          break;
        case "SidewalkCrosswalks":
          $(".sidewalk").show();
          break;
        case "PublicSpace":
          $(".publicspace").show();
          break;
        case "Lighting":
          $(".streetlight").show();
          break;
        case "Drainage":
          $(".drain").show();
          break;
        default:
          break;            
      }

    });
     
  });
</script>