<!-- no analytics on shareabouts day. -->



<!-- controlling what shows up in the data view -->
<script type="text/javascript">

  $(Shareabouts).on('panelshow', function(evt, app, path) {
    
    // turn off some select items
    $("#place-location_type>option:eq(0)").prop('disabled', true);
    
    // hide pointless location type label
    //$("label[for=place-location_type]").hide();  

    // add some classes to make selections easier...

    // traffic issues
    $("[id*=traffic]").addClass("traffic");
    $("label[for*=traffic]").addClass("traffic checkbox-label").hide();
    
    // pedestrian issues
    $("[id*=pedestrian]").addClass("pedestrian");
    $("label[for*=pedestrian]").addClass("pedestrian checkbox-label").hide();

    // public space issues
    $("[id*=publicspace]").addClass("publicspace");
    $("label[for*=publicspace]").addClass("publicspace checkbox-label").hide();

    // bike traffic issues
    $("[id*=bike]").addClass("bike");
    $("label[for*=bike]").addClass("bike checkbox-label").hide();

    //add a label to the name and submit boxes
    $("[id*=place-submitter]").addClass("existing problem new");
    $("label[for*=place-submitter]").addClass("existing problem new");
    $("#save-place-btn").addClass("existing problem new");

    //now hide everything...
    $(".traffic,.pedestrian,.publicspace,.bike").hide();

    $("#place-location_type").change(function() {

      // set everything to have hidden class
    $(".traffic,.pedestrian,.publicspace,.bike").hide();

      // choose what will show up
      var chosen = $("#place-location_type").val();

      switch (chosen)
      {
        case "no-choice":
          break;
        case "Autos":
          $(".traffic").show();
          break;
        case "Pedestrians":
          $(".pedestrian").show();
          break;
        case "PublicSpace":
          $(".publicspace").show();
          break;
        case "Bikes":
          $(".bike").show();
          break;
        default:
          break;            
      }

    });
     
  });
</script>