@import url(http://fonts.googleapis.com/css?family=Oleo+Script:400,700);

/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

/* =Base Typography
-------------------------------------------------------------- */

body, select, input, textarea {
}


/* =Links
-------------------------------------------------------------- */

a, a:active, a:visited {
  color: #9966CC;
}

a:hover {
  color: #663399;
}


/* =The Site Header
-------------------------------------------------------------- */

#site-header {
  background-color: #666699;
}

#site-header a, #site-header a:active, #site-header a:visited {
}

#site-header a:hover {
}


/* =Logo
-------------------------------------------------------------- */

/* NOTE: Adjust the #site-title font size in the link
 * (not in the #site-title itself) using the em unit,
 * as to not break it scaling via media queries. */

#site-title {
  font-family: 'Oleo Script', Helvetica, sans-serif;
/*  text-shadow: none;*/
}

#site-title a:link,
#site-title a:visited {
/*  font-size: 0.75em;*/
/*  color: #fff;*/
}

#site-title a:hover {
/*  color: #fff;*/
}


/* =Mobile Navigation Button
-------------------------------------------------------------- */

/* NOTE: Override the Mobile Navigation Button with caution.
 * The Helvetica stack produces a good icon. */

a#nav-bttn:link,
a#nav-bttn:visited {
  color: #fff;
  background: #9966CC;
  box-shadow: -2px 2px 0 rgba(0,0,0,0.1);
}

a#nav-bttn:hover {
  background: #aa77dd;
}


/* =Navigation Menu
-------------------------------------------------------------- */

.access {
  border: 1em solid #666699;
  border-top: 0.5em solid #666699;
  background: #9966CC;
}

.access li {
  border-bottom: 2px solid #666699;
}

.access a:hover {
  color: #fff;
  background: #aa77dd;
}

.access a:visited, .access a:active, .access a:link {
  color: #fff;
}


/* =The Big Button to Add A New Point
-------------------------------------------------------------- */

a.add-place {
  font-family: 'Oleo Script', Helvetica, sans-serif;
  border-radius: 10px;
  background-color: #9966CC;
  text-shadow: 1px -1px 0 rgba(0,0,0,0.25);
  color: #eee;
}

a.add-place:hover {
}


/* =Forms
-------------------------------------------------------------- */

label {
/*  color: #806080;*/
}

input[type=text],
textarea {
/*  border: 1px solid #000; */
}

.required {
/*  color: red;*/
}

.bttn {
  border-radius: 10px;
  background-color: #96C;
  text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.25);
}

.bttn:hover {
/*  color: #fff;*/
/*  background-color: #e500e5;*/
}

.fileinput-container {
    border-radius: 4px;
    padding-left: 3.25em;
    color: #9966CC;
}
.fileinput-container:hover {
    color: #663399;
}
.fileinput-container span:before {
  content: "\0020";
  position: absolute;
  display: block;
  background: #bbb;
  top: 50%;
  left: 1.2em;
  height: 0.25em;
  width: 0.5em;
  margin-top: -0.5em;
}
.fileinput-container:before {
  content: "\0020";
  position: absolute;
  display: block;
  background: #bbb;
  top: 50%;
  left: 1.875em;
  height: 1em;
  width: 1.75em;
  margin-left: -0.875em;
  margin-top: -0.375em;
}
.fileinput-container:after {
  content: "\0020";
  position: absolute;
  display: block;
  background: #eee;
  top: 50%;
  left: 1.875em;
  height: 0.75em;
  width: 0.75em;
  margin-top: -0.2em;
  margin-left: -0.375em;
  border-radius: 0.375em;
}

a.reply-link {
/*  color: #1e5395;*/
/*  background: #eef8fd;*/
}

a.reply-link:hover {
/*  color: #fff;*/
/*  background-color: #e500e5;*/
}


/* =Voting & Social Promotion
-------------------------------------------------------------- */
.promotion {
/*  background-color: #bf8fbf;*/
}

#user_support label {
/*  color: #ff80ff;*/
/*  background-color: #fff;*/
}

#user_support:hover label,
#user_support label:hover {
/*  color: #e500e5;*/
}


/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background-color: #555577;
}

ul.recent-points {
/*  color: #eee;*/
}

.recent-points li {
  border-bottom: 3px solid #505070;
}

.recent-points li:hover {
  background: #444455;
}

.recent-points a {
  color: #eee;
}

.recent-points li:hover a,
.recent-points a:hover {
/*  color: #fff;*/
}

/* =Zendesk
-------------------------------------------------------------- */
#zenbox_tab {
  visibility: hidden;
  top: 40% !important;
  opacity: 0.7;
}

/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) { /* menu is visible */
  #zenbox_tab {
    visibility: visible;
  }

  .access {
    border: 0;
    background: transparent;
  }

  /* NOTE: The background-color is the X's color. The pseudo elements' border-color and
   * inset shadow color should match to mask the X shape */
  a.close-bttn {
/*    background: white;*/
/*    -webkit-box-shadow: 0 0 0 2px white, -4px 4px 0 2px rgba(85, 85, 85, 0.5), inset 0 0 0 0.25em pink;*/
/*       -moz-box-shadow: 0 0 0 2px white, -4px 4px 0 2px rgba(85, 85, 85, 0.5), inset 0 0 0 0.25em pink;*/
/*            box-shadow: 0 0 0 2px white, -4px 4px 0 2px rgba(85, 85, 85, 0.5), inset 0 0 0 0.25em pink;*/
  }
  a.close-bttn:hover {
/*    background: purple; */
  }
  a.close-bttn:before {
/*    border-right-color: pink; */
  }
  a.close-bttn:after {
/*    border-left-color: pink; */
  }
  a.close-bttn span:before {
/*    border-top-color: pink; */
  }
  a.close-bttn span:after {
/*    border-bottom-color: pink; */
  }

}

@media only screen and (min-width: 1024px) { /* ticker is visible */
}

@media only screen and (min-width: 1300px) {
}