/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

/* =Base Typography
-------------------------------------------------------------- */

body, select, input, textarea {
  color: #303a40;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: -0.1em;
}


/* =Links
-------------------------------------------------------------- */

a, a:active, a:visited {
  color: #53acc0;
}

a:hover {
  color: #00bbe5;
}


/* =The Site Header
-------------------------------------------------------------- */

#site-header {
  color: #737b80;
  background: #fff2e5 url(images/sister-cities-logo-sm.gif) left center no-repeat scroll;
}

#site-header a, #site-header a:active, #site-header a:visited {
  color: #474766;
}

#site-header a:hover {
   color: #fff2e5;
}


/* =Logo
-------------------------------------------------------------- */

/* NOTE: Adjust the #site-title font size in the link
 * (not in the #site-title itself) using the em unit,
 * as to not break it scaling via media queries. */

#site-title {
/*  font-family: Impact, sans-serif;*/
/*  color: #fff;*/
/*  text-shadow: none;*/
}

#site-title a:link,
#site-title a:visited {
/*  font-size: 0.75em;*/
/*  color: #a66c6c;*/
  display: block;
  width: 243px;
  text-indent: -9999px;
  position: relative;
  left: -0.25em;
}

#site-title a:hover {
/*  color: #fff;*/
}


/* =Mobile Navigation Button
-------------------------------------------------------------- */

a#nav-bttn:link,
a#nav-bttn:visited {
  font-family: Arial, sans-serif;
  color: #e5c3c3;
  background: #a66c6c;
}

a#nav-bttn:hover {
  color: #a66c6c;
  background: #e5c3c3;
}


/* =Navigation Menu
-------------------------------------------------------------- */

.access {
  border-color: #fff2e5;
  border-top: 0.5em solid #fff2e5;
  background: #fff2e5;
}

.access li {
  border-bottom: 2px solid #fff2e5;
  background: #e5dacf;
}

.access a:hover {
  color: #fff2e5;
  background: #a66c6c;
}


/* =The Big Button to Add A New Point
-------------------------------------------------------------- */

a.add-place {
/*  background-color: #ff40ff;*/
/*  color: #eee;*/
/*  text-shadow: none;*/
}

a.add-place:hover {
/*  background-color: #e500e5;*/
/*  color: #fff;*/
}


/* =Close Content Button
-------------------------------------------------------------- */

/* NOTE: The font should be overridden with caution.
 * This Helvetica stack produces a good X close icon. */

a.close-bttn {
  color: #a66c6c;
/*  background-color: #fff;*/
/*  border-color: #ffbfff;*/
  font-family: "Helvetica Neue", Arial, Helvetica, serif;
}

a.close-bttn:hover {
  color: #8c4d4d;
/*  background-color: #fff;*/
/*  border-color: #e500e5;*/
}

a.close-bttn span {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}


/* =Forms
-------------------------------------------------------------- */

label {
  color: #a66c6c;
}

input[type=text],
textarea {
/*  border: 1px solid #000; */
}

.required {
/*  color: red;*/
}

.bttn {
/*  color: #eee;*/
  background-color: #52aabe;
  text-shadow: 1px -1px 0 #3a92a6;
}

.bttn:hover {
/*  color: #fff;*/
  background-color: #3a92a6;
  text-shadow: 1px -1px 0 #23798c;
}

a.reply-link {
/*  color: #1e5395;*/
  background: #52aabe;
}

a.reply-link:hover {
/*  color: #fff;*/
  background-color: #8c4d4d;
}

/* =Place Details
-------------------------------------------------------------- */
.place-submission-details {
  display: none;
}

/* =Voting & Social Promotion
-------------------------------------------------------------- */
.promotion {
  /* Not supported in this app */
  display: none;
}

#user_support label {
  color: #3a92a6;
/*  background-color: #fff;*/
}

#user_support:hover label,
#user_support label:hover {
  color: #23798c;
}


/* =The Map
-------------------------------------------------------------- */

#map {
  background-color: #737b80;
}


/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background-color: #e5dacf;
}

ul.recent-points {
/*  color: #fff;*/
}

.recent-points li {
  border-bottom: 2px solid #ccc2b8;
}

.recent-points li:hover {
/*  background: #bf60bf;*/
}

.recent-points a {
  color: #737b80;
}

.recent-points li:hover a,
.recent-points a:hover {
  background-color: #8c4d4d;
  color: #fff;
}

/* =Zendesk
-------------------------------------------------------------- */
#zenbox_tab {
  visibility: hidden;
  top: 40% !important;
  opacity: 0.7;
}

/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) { /* menu is visible */
  #zenbox_tab {
    visibility: visible;
  }

  .access {
    border-top: 0;
  }
  .access li {
    border-bottom: 0;
    background: transparent;
  }

  /* NOTE: The background-color is the X's color. The pseudo elements' border-color and
   * inset shadow color should match to mask the X shape */
  a.close-bttn {
/*    background: white;*/
/*    -webkit-box-shadow: 0 0 0 2px white, -4px 4px 0 2px rgba(85, 85, 85, 0.5), inset 0 0 0 0.25em pink;*/
/*       -moz-box-shadow: 0 0 0 2px white, -4px 4px 0 2px rgba(85, 85, 85, 0.5), inset 0 0 0 0.25em pink;*/
/*            box-shadow: 0 0 0 2px white, -4px 4px 0 2px rgba(85, 85, 85, 0.5), inset 0 0 0 0.25em pink;*/
  }
  a.close-bttn:hover { 
/*    background: purple; */
  }
  a.close-bttn:before { 
/*    border-right-color: pink; */
  }
  a.close-bttn:after { 
/*    border-left-color: pink; */
  }
  a.close-bttn span:before { 
/*    border-top-color: pink; */
  }
  a.close-bttn span:after { 
/*    border-bottom-color: pink; */
  }
}

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  #site-header {
    background-image: url(images/sister-cities-logo-sm-x2.gif);
    background-size: 252px 52px;
    background-size: contain;
  }
}

@media only screen and (min-width: 1024px) { /* ticker is visible */
  #site-header {
    background-image: url(images/sister-cities-logo-med.gif);
  }
  #site-title a:link,
  #site-title a:visited {
    width: 443px;
  }
}

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  #site-header {
    background-image: url(images/sister-cities-logo-med-x2.gif);
    background-size: 461px 78px;
    background-size: contain;
  }
}

