<% url_help = Shareabouts::Application.routes.url_helpers %>
 
$(function() {
  var locate_feature   = $("#locate_feature"),
      finalize_feature = $("#finalize_feature");
  
  var shareaboutsCfg = {
    map : {
      tileUrl         : 'http://otile1.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
      tileAttribution : 'Tiles Courtesy of <a href="http://www.mapquest.com/" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png">',
      newMarkerIcon   : L.Icon.extend({
          iconUrl: '<%= image_path("marker-plus.png") %>',
          iconSize: new L.Point(25, 41),
          iconAnchor: new L.Point(12, 41),
          // shadowUrl: 'my-icon-shadow.png',
          // shadowSize: new L.Point(68, 95),
          popupAnchor: new L.Point(13, -14)
      })
    },
    callbacks : {
      onready : function(something) {
        locate_feature.show();
        finalize_feature.hide();
      },
      onload : function() {
        if (window.shareabouts && window.shareabouts.feature) {
          $("#map").shareabout("viewFeature", window.shareabouts.feature)
        }
      }
    },
    featuresUrl : '<%= url_help.feature_points_path %>',
    featureUrl : '<%= url_help.feature_point_path("FEATURE_ID") %>'
  };
  
  var positionSuccess = function (position) {
    var here = new L.LatLng(position.coords.latitude, position.coords.longitude);
    initShareabouts(here);
  };
  
  var positionError = function (message) {
    var greenpoint = new L.LatLng(40.727857, -73.947151);
    initShareabouts(greenpoint);
  };
  
  var initShareabouts = function (mapCenter) {
    $.extend( true, shareaboutsCfg, { map : { center : mapCenter} } );
    
    $("#map").shareabout(shareaboutsCfg);
     
    locate_feature.click( function(event) { 
      $("#map").shareabout("locateNewFeature");
      $(this).hide();
      finalize_feature.show();
    });
     
    finalize_feature.click( function(event) { 
      $("#map").shareabout("loadNewFeatureForm", {
        url : '<%= url_help.new_feature_point_path %>' 
      });
      
      $(this).hide();
    });
    
    $("form#new_feature_point").live("submit", function(e){
      e.preventDefault();

      var newFeature = $("#map").shareabout("getNewFeatureMarker");
      
      var ajaxOptions = { 
        data : $(this).serialize() + "&latitude=" + newFeature.getLatLng().lat + "&longitude=" + newFeature.getLatLng().lng, 
        url : $(this).attr("action") 
      };
      
      $("#map").shareabout("submitNewFeature", ajaxOptions);
    });
    
    // <IE9 does not support live detection of submit event and leaflet steals clicks within a popup.
    // Thus, registering click event on popup's forms via SidePopup, who fires event on popup click.
    $("#map").shareabout("addClickEventListenerToPopup", "form input:submit", function(mouseEvent, target){
      mouseEvent.preventDefault();
      
      var input = $(mouseEvent.target),
          form  = input.closest("form");
          
      $.post( form.attr("action"), form.serialize(), function(data) {
          form.closest(".shareabouts-side-popup-content").html(data.view);
        }, "json" );
    });
  };
  
  navigator.geolocation ? 
    navigator.geolocation.getCurrentPosition(positionSuccess, positionError) : 
    positionError('not supported');  
});