<% url_help = Shareabouts::Application.routes.url_helpers %>

var shareabouts;

$(function() {
  var locate_feature   = $("#locate_feature"),
      finalize_feature = $("#finalize_feature");
  
  var shareaboutsCfg = {
    map : {
      tileUrl            : 'http://otile1.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
      tileAttribution    : 'Tiles Courtesy of <a href="http://www.mapquest.com/" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png">',
    },
    callbacks : {
      onready : function(something) {
        locate_feature.show();
        finalize_feature.hide();
      }
    },
    dataUrl : '<%= url_help.points_path %>'
  };
  
  var positionSuccess = function (position) {
    var here = new L.LatLng(position.coords.latitude, position.coords.longitude);
    initShareabouts(here);
  };
  
  var positionError = function (message) {
    var greenpoint = new L.LatLng(40.727857, -73.947151);
    initShareabouts(greenpoint);
  };
  
  var initShareabouts = function (mapCenter) {
    $.extend( true, shareaboutsCfg, { map : { center : mapCenter} } );
    
    shareabouts    = new Shareabouts(shareaboutsCfg);
    var state = shareabouts.state();
    
    locate_feature.click( function(event) { 
      state.locateFeature();
      $(this).hide();
      finalize_feature.show();
    });

    finalize_feature.click( function(event) { 
      state.finalizeFeature({
        url : '<%= url_help.new_point_path %>' 
      });
      $(this).hide();
    });
    
    History.Adapter.bind(window,'statechange',function(){
      var State = History.getState();
      if (State.data.featureId) {
        $.get( '<%= url_help.point_path("CHANGEME") %>'.replace(/CHANGEME/, State.data.featureId), function(data){
          shareabouts.viewFeature(State.data.featureId, data.view);
        }, "json");
      }
    });
  };
  
  navigator.geolocation ? 
    navigator.geolocation.getCurrentPosition(positionSuccess, positionError) : 
    positionError('not supported');  
});