/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

/* =Base Typography
-------------------------------------------------------------- */

body, select, input, textarea {
  color: #444;
  font-family: Futura, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}


/* =Links
-------------------------------------------------------------- */

a, a:active, a:visited {
  color: #00994d;
}

a:hover {
  color: #00cc66;
}


/* =The Site Header
-------------------------------------------------------------- */

#site-header {
  color: #444;
  background-color: #eee;
}

#site-header a, #site-header a:active, #site-header a:visited {
  color: #00994d;
}

#site-header a:hover {
   color: #00cc66;
}


/* =Logo
-------------------------------------------------------------- */

/* NOTE: Adjust the #site-title font size in the link
 * (not in the #site-title itself) using the em unit,
 * as to not break it scaling via media queries. */

#site-title {
  font-family: Futura, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
/*  color: #fff;*/
  text-shadow: none;
}

#site-title a:link,
#site-title a:visited {
  font-size: 0.75em;
  color: #00cc66;
}

#site-title a:hover {
  color: #00994d;
}


/* =Mobile Navigation Button
-------------------------------------------------------------- */

/* NOTE: Override the Mobile Navigation Button with caution.
 * The Helvetica stack produces a good icon. */

a#nav-bttn:link,
a#nav-bttn:visited {
  color: #fff;
  background: #bbb;
  font-family: "Helvetica Neue", Arial, Helvetica, serif;
}

a#nav-bttn:hover {
  color: #fff;
  background: #777;
}


/* =Navigation Menu
-------------------------------------------------------------- */

.access {
  border: 1em solid #eee;
  border-top: 0.5em solid #eee;
  background: #fff;
}

.access li {
  border-bottom: 2px solid #eee;
}

.access a:visited, .access a:active, .access a:link {
  color: #00994d;
}

.access a:hover {
  color: #fff;
  background: #00cc66;
}


/* =The Big Button to Add A New Point
-------------------------------------------------------------- */

a.add-place {
  background-color: #00cc66;
  color: #fff;
  text-shadow: none;
}

a.add-place:hover {
  background-color: #00994d;
  color: #fff;
}


/* =Close Content Button
-------------------------------------------------------------- */

/* NOTE: Override the Close Button font within the span. The link should
 * remain the Helvetica stack, as it produces a good X close icon. */

a.close-bttn {
  color: #bbb;
/*  background-color: #fff;*/
/*  border-color: #ffbfff;*/
  font-family: "Helvetica Neue", Arial, Helvetica, serif;
}

a.close-bttn:hover {
  color: #00994d;
/*  background-color: #fff;*/
/*  border-color: #e500e5;*/
}
a.close-bttn span {
  font-family: Futura, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}


/* =Forms
-------------------------------------------------------------- */

label {
/*  color: #806080;*/
}

input[type=text],
textarea {
/*  border: 1px solid #000; */
}

.required {
/*  color: red;*/
}

.bttn {
  color: #fff;
  background-color: #00994d;
  text-shadow: none;
}

.bttn:hover {
  color: #fff;
  background-color: #00cc66;
}

a.reply-link {
  color: #00994d;
  background: #bbb;
}

a.reply-link:hover {
  color: #fff;
  background-color: #00994d;
}


/* =Voting & Social Promotion
-------------------------------------------------------------- */
.promotion {
  background-color: #bbb;
/*  border-bottom: 0.5em solid #806080;*/
}

#user_support label {
  color: #fff;
  background-color: #00994d;
}

#user_support:hover label,
#user_support label:hover {
  color: #00994d;
  background-color: #fff;
}


/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background-color: #ddd;
}

ul.recent-points {
/*  color: #eee;*/
}

.recent-points li {
  border-bottom: 3px solid #ccc;
}

.recent-points li:hover {
  background: #777;
}

.recent-points a {
  color: #444;
}

.recent-points li:hover a,
.recent-points a:hover {
  color: #fff;
}


/* =Zendesk
-------------------------------------------------------------- */
#zenbox_tab {
  visibility: hidden;
  top: 40% !important;
  opacity: 0.7;
}

/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) { /* menu is visible */
  #zenbox_tab {
    visibility: visible;
  }

  .access {
    border: 0;
    background: transparent;
  }
  .access li {
    border-bottom: 6px solid transparent;
  }
  .access ul ul a {
    background-color: #eee;
  }

  /* NOTE: The background-color is the X's color. The pseudo elements' border-color and
   * inset shadow color should match to mask the X shape */
  a.close-bttn {
/*    background: white;*/
/*    -webkit-box-shadow: 0 0 0 2px white, -4px 4px 0 2px rgba(85, 85, 85, 0.5), inset 0 0 0 0.25em pink;*/
/*       -moz-box-shadow: 0 0 0 2px white, -4px 4px 0 2px rgba(85, 85, 85, 0.5), inset 0 0 0 0.25em pink;*/
/*            box-shadow: 0 0 0 2px white, -4px 4px 0 2px rgba(85, 85, 85, 0.5), inset 0 0 0 0.25em pink;*/
  }
  a.close-bttn:hover { 
/*    background: purple; */
  }
  a.close-bttn:before { 
/*    border-right-color: pink; */
  }
  a.close-bttn:after { 
/*    border-left-color: pink; */
  }
  a.close-bttn span:before { 
/*    border-top-color: pink; */
  }
  a.close-bttn span:after { 
/*    border-bottom-color: pink; */
  }

}


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) { /* menu is visible */
  .access {
/*    border: 0;*/
/*    background: transparent;*/
  }
}

@media only screen and (min-width: 1024px) { /* ticker is visible */
}

@media only screen and (min-width: 1300px) {
}
