/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

/* =Base Typography
-------------------------------------------------------------- */

body, select, input, textarea {
  font-family: 'OpenSansRegular', sans-serif;
}


/* =Links
-------------------------------------------------------------- */

a, a:active, a:visited {
  color: #00afdb;
}

a:hover {
  color: #0087a8;
}


/* =The Site Header
-------------------------------------------------------------- */

#site-header {
  color: #fff;
  background-color: #181818;
  box-shadow: 0 5px 10px rgba(85, 85, 85, 0.5), inset 0 -3px 0 #00afdb, inset 0 3px 0 #dbef16;
}

#site-header a, #site-header a:active, #site-header a:visited {
  color: #fff;
}

#site-header a:hover {
}


/* =Logo
-------------------------------------------------------------- */

#site-title {
  height: 4em;
  font-size: 1em;
  text-indent: -9999px;
  width: 270px;
  margin-left: -45px;
  background: url(images/ourmiami-logo-sm.png) center center no-repeat scroll;
}

#site-title a:link,
#site-title a:visited {
}

#site-title a:hover {
}


/* =Mobile Navigation Button
-------------------------------------------------------------- */

a#nav-bttn:link,
a#nav-bttn:visited,
a#nav-bttn:hover {
  color: #fff;
  background: #555;
  font-family: "Helvetica Neue", Arial !important;
}


/* =Navigation Menu
-------------------------------------------------------------- */

.access {
  border-color: #181818;
  font-family: 'OpenSansBold';
  font-weight: normal;
  text-transform: uppercase;
}

.access li {
  border-bottom: 2px solid #181818;
}

#site-header .access a:hover {
  background: #dbef16; 
  color: #181818;
}

#site-header .access a:visited, .access a:active, .access a:link {
  background: #dbef16; 
  color: #181818;
}


/* =The Big Button to Add A New Point
-------------------------------------------------------------- */

a.add-place,
a.add-place:hover {
  background-color: #dbef16;
  color: #000;
  text-shadow: none;
  font-family: 'DINBlackRegular', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  box-shadow: -3px 3px 10px rgba(85, 85, 85, 0.5);
}

/* regular buttons */
.bttn, a.bttn:active, a.bttn:visited {
  background-color: #00afdb;
  color: #fff;
  text-shadow: none;
  box-shadow: none;
  font-family: 'DINBlackRegular', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}


/* =Forms
-------------------------------------------------------------- */

.fileinput-container {
  text-shadow: none;
  background-color: #00afdb;
  color: #fff;
  box-shadow: none;
  font-family: 'DINBlackRegular', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
.fileinput-container:hover {
  color: #fff;
}

a.reply-link {
  color: #fff;
  background: #181818;
}

a.reply-link:hover {
  color: #fff;
  background-color: #181818;
}

label {
  font-family: 'DINBoldRegular', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}


/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background: #fff url("http://ourmiami.org/wp-content/themes/engage/img/background.png") center bottom repeat scroll;
  box-shadow: -5px 0 10px rgba(85, 85, 85, 0.5);
}

ul.recent-points {
  color: #181818;
}

.recent-points li {
  border-bottom: 3px solid #f5f5f5;
}

.recent-points li:hover {
  background: #181818;
}

.recent-points a {
  color: #00afdb;
}

.recent-points li:hover a,
.recent-points a:hover {
  color: #fff;
}

.openplans-logo {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 480px) {
  #site-title {
    margin-left: 0;
  }
}

@media only screen and (min-width: 768px) { /* menu is visible */
  #site-header .access a:link, 
  #site-header .access a:visited {
    background: #181818; 
    color: #fff;
  }
  #site-header .access a:hover {
    background: #dbef16; 
    color: #181818;
  }
  .access {
    margin-top: 0.5em;
  }
  #content {
    box-shadow: -3px 3px 10px rgba(85, 85, 85, 0.5);
  }
  a.close-bttn {
    box-shadow: 0 0 5px 2px rgba(85, 85, 85, 0.5);
  }
}

@media only screen and (min-width: 1024px) { /* ticker is visible */
  .access {
    margin-top: 1.25em;
  }
  #site-title {
    height: 5em;
  }
}

@media only screen and (min-width: 1300px) {
  #site-title {
    height: 6em;
    width: 280px;
  }
}