/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

/* =Base Typography
-------------------------------------------------------------- */

body, select, input, textarea {
  font-family: 'OpenSansRegular', sans-serif;
}


/* =Links
-------------------------------------------------------------- */

a, a:active, a:visited {
  color: #00afdb;
}

a:hover {
  color: #0087a8;
}


/* =The Site Header
-------------------------------------------------------------- */

#site-header {
  color: #181818;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(85, 85, 85, 0.5), inset 0 -3px 0 #00afdb, inset 0 3px 0 #dbef16;
}

#site-header a, #site-header a:active, #site-header a:visited {
  color: #fff;
}

#site-header a:hover {
}


/* =Logo
-------------------------------------------------------------- */

#site-title {
  height: 4em;
  font-size: 1em;
  -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box; 
          box-sizing: border-box;
  padding: 8px;
}
#site-logo {
  height: 100%;
  width: auto;
}
#site-title a:link,
#site-title a:visited {
}

#site-title a:hover {
}


/* =Mobile Navigation Button
-------------------------------------------------------------- */

a#nav-bttn:link,
a#nav-bttn:visited,
a#nav-bttn:hover {
  color: #fff;
  background: #555;
  font-family: "Helvetica Neue", Arial !important;
}


/* =Navigation Menu
-------------------------------------------------------------- */

.access {
  border-color: #fff;
  font-family: 'OpenSansBold';
  font-weight: normal;
  text-transform: uppercase;
}

.access li {
  border-bottom: 2px solid #fff;
}

#site-header .access a:hover {
  background: #dbef16; 
  color: #181818;
}

#site-header .access a:visited, .access a:active, .access a:link {
  background: #dbef16; 
  color: #181818;
}


/* =The Big Button to Add A New Point
-------------------------------------------------------------- */

a.add-place,
a.add-place:hover {
  background-color: #dbef16;
  color: #000;
  text-shadow: none;
  font-family: 'DINBlackRegular', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  box-shadow: -3px 3px 10px rgba(85, 85, 85, 0.5);
}

/* regular buttons */
.bttn, a.bttn:active, a.bttn:visited {
  background-color: #dbef16;
  color: #000;
  text-shadow: none;
  box-shadow: none;
  font-family: 'DINBlackRegular', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}


/* =Forms
-------------------------------------------------------------- */

.fileinput-container {
  text-shadow: none;
  background-color: #00afdb;
  color: #fff;
  box-shadow: none;
  font-family: 'DINBlackRegular', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
.fileinput-container:hover {
  color: #fff;
}

a.reply-link {
  color: #fff;
  background: #181818;
}

a.reply-link:hover {
  color: #fff;
  background-color: #181818;
}

label {
  font-family: 'DINBoldRegular', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}


/* =Box for ioby logo
-------------------------------------------------------------- */

.ioby {
  float: left;
  padding: 0 !important;
}


/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background: #fff url("http://ourmiami.org/wp-content/themes/engage/img/background.png") center bottom repeat scroll;
  box-shadow: -5px 0 10px rgba(85, 85, 85, 0.5);
}

ul.recent-points {
  color: #181818;
}

.recent-points li {
  border-bottom: 3px solid #f5f5f5;
}

.recent-points li:hover {
  background: #181818;
}

.recent-points a {
  color: #00afdb;
}

.recent-points li:hover a,
.recent-points a:hover {
  color: #fff;
}

.openplans-logo {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 480px) {
  #site-title {
  }
}

@media only screen and (min-width: 768px) { /* menu is visible */
  #site-header .access a:link, 
  #site-header .access a:visited {
    background: #fff; 
    color: #181818;
  }
  #site-header .access a:hover {
    background: #dbef16; 
    color: #181818;
  }
  .access {
    margin-top: 0.5em;
  }
  #content {
    box-shadow: -3px 3px 10px rgba(85, 85, 85, 0.5);
  }
  a.close-bttn {
    box-shadow: 0 0 5px 2px rgba(85, 85, 85, 0.5);
  }
  a.add-place {
    bottom: 3em;
  }
  #powered-by {
    bottom: 0;
    box-shadow: 0 5px 5px rgba(85, 85, 85, 0.5);
  }
  #map-container {
    bottom: 4.75em;
  }
  #site-footer {
    height: 4.75em;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: #f4f6f8;
    z-index: 15;
  }
  .footer-logos {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
  }
  .footer-logo {
    float: left;
    position: relative;
    height: 100%;
  }
  .footer-logo .prompt {
    display: none;
  }
  .footer-logo:hover .prompt {
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0;
    white-space: nowrap;
    background: #f4f6f8;
    margin-bottom: 0.5em;
    padding: 0.5em 0.75em;
  }
  .footer-logo img {
    width: auto;
    height: 100%;
    height: 100%;
    margin: 0 0.75em;
  }
}

@media only screen and (min-width: 1024px) { /* ticker is visible */
  .access {
    margin-top: 1.25em;
  }
  #site-title {
    height: 5em;
  }
}

@media only screen and (min-width: 1300px) {
  #site-title {
    height: 6em;
  }
}