/*
 *
 * Header
 *
 */
#header {
  color: #fff;
  background: #808080 url(header-gradient.png) 0 0 repeat-x scroll;
     -moz-box-shadow: 0 4px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: 0 4px 0 rgba(85, 85, 85, 0.5);
          box-shadow: 0 4px 0 rgba(85, 85, 85, 0.5);
}
#site-title a {
  color: #eee;
  float: left;
  text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.5);
  font-family: 'Dancing Script', cursive;
  text-decoration: none;
  margin-right: 0.5em;
}
#site-title a:hover {
  color: #eee;
}
#pages {
  margin-top: 2.75em;
}
#pages a {
  color: #A3C7D9;
  text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.3);
  margin-right: 1em;
  font-weight: bold;
  text-decoration: none;
}
#pages a:hover {
  color: #fff;
}
#access {
  text-align: right;
  bottom: 1em;
  position: absolute;
  right: 1em;
}
#access a {
  text-decoration: none;
}
#header .meta-separator {
  color: #777;
  margin: 0 0.25em;
}

/*
 *
 * UI Elements
 *
 */
input[type=button],
input[type=submit],
button {
  display: block;
  background-color: #00aaff;
  border: 0;
  margin: 0 0 0.667em;
  padding: 0 1em;
  color: #f7f7f7;
  font-weight: bold;
  font-size: 2.25em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  line-height: 2.25em;
  height: 2.25em;
  text-shadow: 1px -1px 0 #0066aa;
     -moz-box-shadow: -4px 4px 0 rgba(0, 102, 170, 0.75);
  -webkit-box-shadow: -4px 4px 0 rgba(0, 102, 170, 0.75);
          box-shadow: -4px 4px 0 rgba(0, 102, 170, 0.75);
}
input[type=button]:hover,
input[type=submit]:hover,
button:hover {
  color: #fff;
}
input[type=button]:active,
input[type=submit]:active,
button:active {
  position: relative;
  top: 4px;
  right: 4px;
     -moz-box-shadow: 1px -1px 0 #0066aa;
  -webkit-box-shadow: 1px -1px 0 #0066aa;
          box-shadow: 1px -1px 0 #0066aa;
}

/* leaflet */
.leaflet-control-zoom {
  background-color: transparent;
}
.leaflet-control-zoom a {
  height: 27px;
  width: 27px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0;
     -moz-box-shadow: -2px 2px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -2px 2px 0 rgba(85, 85, 85, 0.5);
          box-shadow: -2px 2px 0 rgba(85, 85, 85, 0.5);
}
.leaflet-control-zoom a:active {
  position: relative;
  top: 1px;
  right: 1px;
     -moz-box-shadow: -1px 1px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -1px 1px 0 rgba(85, 85, 85, 0.5);
          box-shadow: -1px 1px 0 rgba(85, 85, 85, 0.5);
}
.leaflet-control-zoom-in {
  background-image: url(zoom-in.gif);
}
.leaflet-control-zoom-out {
  background-image: url(zoom-out.gif);
}

/*
 *
 * Content & General Styles
 *
 */
#content {
  background-color: #fff;
}
table {
  text-align: left;
}
tr {
  border-bottom: 1px solid #fff;
  background-color: #eee;
}
tr:hover {
  background-color: #e9e9e9;
}
td, th {
  padding: 0.667em 1.5em 0.667em 10px;
}
th {
  background-color: #bbb;
  font-size: 0.667em;
  text-transform: uppercase;
}
table.regions {
}

/* Crosshair for touch screen */
#crosshair {
  position : absolute;
  z-index  : 10000;
}

/* InformationPanel for Mobile, move to small screen */
div.information-panel {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

div.information-panel-content-wrap {
  position : relative;
  background-color: white;
  border-radius: .5em;
  border: 1px solid #CCC;
  z-index:10000;
  overflow-y:scroll;
  height:100%;
}

div.information-panel-content {
  padding : 1em;
}

div.information-panel .close {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 0.8em;
  z-index: 10001;
}

div.information-panel .popup-tip-wrapper {
  margin: -1px auto 0;
	width: 40px;
	height: 16px;
	position: relative;
	overflow: hidden;
	z-index: 10002;
}

div.information-panel .popup-tip {
  background: white;
  width: 15px;
	height: 15px;
	padding: 1px;

	margin: -11px auto 0;

	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);

	box-shadow: 0 1px 10px #888;
	-moz-box-shadow: 0 1px 10px #888;
	-webkit-box-shadow: 0 1px 14px #999;
}

/*
 *
 * Feature Popup Content
 *
 */
.feature  textarea {
  width : 98%;
}

.feature div{
  margin-bottom: 10px;
}

.feature h6 {
  margin-bottom: 5px;
}

.feature.show .meta ul {
  margin : 0;
}

.feature.show .meta ul li {
  list-style: none;
  display: inline;
}

.feature.show .meta ul li:before {
	content: "|";
}

.feature.show .meta ul li.first:before {
	content: " ";
}

.feature.show .weak {
  color : #888;
}

.feature.show .sharing {
  clear: both;
  height : 20px;
}

.feature.show .sharing,
.feature.show .sharing ul {
  margin: 0;
}

.feature.show .sharing li {
  display : inline;
  float: left;
  margin: 0 0.6em 0 0;
}

.feature.show .sharing li a {
  display: block;
  width : 16px;
  height : 16px;
  text-indent: -10000px;
}

.feature.show .sharing li a.twitter {
  background: url("twitter-16.png") no-repeat scroll 0 0 transparent;
}

.feature.show .sharing li a.facebook {
  background: url("facebook-16.png") no-repeat scroll 0 0 transparent;
}

.feature.show .sharing li a.email {
  background: url("email-16.png") no-repeat scroll 0 0 transparent;
}

.feature.show .sharing li a.link {
  background: url("chain-16.png") no-repeat scroll 0 0 transparent;
}

.feature.show  div.support_button,
.feature.show form#new_vote button[type=submit] {
  background-color: #e4e4e4;
  color: #444;
  font-weight: normal;
  font-size: auto;
  font-size: 1em;
  text-shadow: none;

  border-radius : 6px;
  -moz-border-radius : 6px;
  -webkit-border-radius : 6px;

  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.feature.show  div.support_button {
  height: 2.25em;
  line-height: 2.25em;
  margin: 0 0 0.667em;
  padding: 0 1.3em 0 1.5em;
  text-align: center;
  white-space: nowrap;
  display : block;
  float: left;
}

.feature.show div.support_button span,
.feature.show form#new_vote button[type=submit] span {
  font-weight: bold;
  color: red;
}

.feature.show div.support_button span:before,
.feature.show form#new_vote button[type=submit] span:before {
  content: "♡ ";
}

.feature.show div.support_button span.supported:before,
.feature.show form#new_vote button[type=submit] span.supported:before {
  content: "♥  ";
}

.feature.show div.discussion ul {
  margin-left: 0;
}

.feature.show div.discussion ul li {
  background   : transparent url('user.png') no-repeat scroll top left;
  padding-left : 30px;
  min-height   : 25px;
}

.feature.show div.discussion input[type=submit] {
  font-size: 1.1em;
  margin-top: 0.5em;
}

.feature.show .feature-admin {
  border : 1px dashed red;
  padding: 10px;
  background-color: #F8F8FF;
}

.feature.show .feature-admin *[type=submit] {
  font-size: 1em;
}

/*
 *
 * News Ticker
 *
 */
#ticker {
  display : none;
     -moz-box-shadow: -4px 0 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -4px 0 0 rgba(85, 85, 85, 0.5);
          box-shadow: -4px 0 0 rgba(85, 85, 85, 0.5);
}

#content.ticker_on #map {
  right : 14em;
}

#content.ticker_on #ticker {
  display  : block;
  position : absolute;
  width    : 14em;
  bottom   : 0;
  right    : 0;
  top      : 0;
  z-index  : 10000;
  background-color : #666666;
  overflow : auto;
}

#ticker ul {
  padding-top: 4px;
  margin: 0;
}

#ticker ul a {
  color           : #fff;
  text-decoration : none;
  display         : block;
  float : left;
  width : 12em;
}

#ticker li {
  padding       : 0.8em;
  min-height    : 25px;
  border-bottom : 3px solid #5d5d5d;
  font-size     : 0.8em;
  margin-bottom : 0;
}

#ticker .avatar {
  width      : 35px;
  height     : 35px;
  position   : relative;
  float      : left;
  background : transparent url('user.png') no-repeat scroll top right;
  margin-right : 0.5em;
}

#ticker div.badge {
  width : 16px;
  height : 16px;
  bottom : 0;
  left : 0;
  position : absolute;
}

#ticker div.badge.feature_point {
  background : transparent url('ticker-point.png') no-repeat scroll top left;
}

#ticker div.badge.vote {
  background : transparent url('ticker-heart.png') no-repeat scroll top left;
}

#ticker div.badge.comment {
  background : transparent url('ticker-comment.png') no-repeat scroll top left;
}

/*
 *
 * Media Queries for Layout & Style Overrides
 *
 */

/* smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  #wrapper { font-size: 10px; }
  #header {
    height: 4em;
  }
  #content {
    top: 4em;
  }
  #site-title {
    font-size: 2.25em;
  }
  #access {
    margin-top: 1.5em;
  }
  #footer {
    bottom: 4.5em;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 200;
  }
  #footer button {
    display: inline;
  }
}

/* smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
}

/* smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
}

/* desktops and laptops ----------- */
@media only screen
and (min-width : 640px) {
  #wrapper { font-size: 15px; }
}

/* large screens ----------- */
@media only screen
and (min-width : 1025px) {
  #wrapper { font-size: 16px; }
}

/* extra-large screens ----------- */
@media only screen
and (min-width : 1824px) {
  #wrapper { font-size: 18px; }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
}

/* ----------- end Media Queries (NOTE: THESE SHOULD COME LAST) ----------- */
