/*
 *
 * General Styles
 *
 */
#content {
  background-color: #fff;
}

/* Forms, Inputs, & Buttons */
label {
  color: #888;
  font-size: 0.8em;
  display: block;
}
input[type=button],
input[type=submit],
button {
  display: block;
  background-color: #00aaff;
  border: 0;
  margin: 0 0 0.667em;
  padding: 0 1em;
  color: #f3f3f3;
  font-weight: bold;
  font-size: 2.25em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  line-height: 2.25em;
  height: 2.25em;
  text-shadow: 1px -1px 0 #0066aa;
     -moz-box-shadow: -4px 4px 0 rgba(0, 102, 170, 0.75);
  -webkit-box-shadow: -4px 4px 0 rgba(0, 102, 170, 0.75);
          box-shadow: -4px 4px 0 rgba(0, 102, 170, 0.75);
}
input[type=button]:hover,
input[type=submit]:hover,
button:hover {
  color: #fff;
}
input[type=button]:active,
input[type=submit]:active,
button:active {
  background-color: #00AEF2;
  color: #fff;
     -moz-box-shadow: -3px 3px 0 rgba(0, 102, 170, 0.75);
  -webkit-box-shadow: -3px 3px 0 rgba(0, 102, 170, 0.75);
          box-shadow: -3px 3px 0 rgba(0, 102, 170, 0.75);
}
#locate_feature,
#finalize_feature {
  margin-bottom: 0;
}

/* Tables */
table {
  text-align: left;
}
tr {
  border-bottom: 1px solid #fff;
  background-color: #eee;
}
tr:hover {
  background-color: #e9e9e9;
}
td, th {
  padding: 0.667em 1.5em 0.667em 10px;
}
th {
  background-color: #bbb;
  font-size: 0.667em;
  text-transform: uppercase;
}
table.regions {
}

/* Global */
.avatar {
  background : transparent url('user.png') no-repeat scroll top right;
  width      : 26px;
  height     : 25px;
  position   : relative;
  float      : left;
}

/*
 *
 * Header
 *
 */
#header {
  color: #fff;
  background: #808080 url(header-gradient.png) 0 0 repeat-x scroll;
     -moz-box-shadow: 0 4px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: 0 4px 0 rgba(85, 85, 85, 0.5);
          box-shadow: 0 4px 0 rgba(85, 85, 85, 0.5);
}
#pages a {
  color: #A3C7D9;
  text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  text-decoration: none;
}
#pages a:hover {
  color: #fff;
}
#site-title {
  float: left;
}
#site-title a {
  color: #eee;
  text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.5);
  font-family: 'Dancing Script', cursive;
  text-decoration: none;
  margin-right: 0.5em;
  line-height: 1.5;
}
#site-title a:hover {
  color: #fff;
}
#header .meta-separator {
  color: #777;
  margin: 0 0.25em;
}
#access {
  float:right;
  margin-top: 0.5em;
  padding-top: 0.5em;
}
#access > span {
  text-transform: uppercase;
  font-size: 0.7em;
  display: block;
}

#access .account,
#access .account .my-points,
#access .account .my-supports,
#access .menu {
  float: left;
  font-size: 0.9em;
}
#access .account span {
  padding-left: 1em;
  font-size: 1.8em;
  font-weight: bold;
}
#access .account > div {
  margin-right: 1em;
}
#access .account .my-points span {
  background: transparent url('feature-point.png') no-repeat scroll center left;
  color: lightblue;
}
#access .account .my-supports span {
  background: transparent url('support-heart.png') no-repeat scroll center left;
  color: pink;
}
#access .menu a {
  padding: 0 0.5em;
  font-weight: normal;
  margin: 0;
  font-size: 0.8em;
}
#access .menu img {
  height: 3em;
  vertical-align: middle;
}
#access .menu span.arrow-s {
  font-size: 0.5em;
  border-top-color: #444;
  margin: 0 0.5em;
}
#access .menu li {
  background-color: #666;
  border-style: solid;
  border-color: #5D5D5D;
  border-width: 2px 0;
  display: none;
}
#access .menu:hover li {
  display:block;
}
#access .menu li:first-child {
  display: block;
  border: 0;
  line-height:0px;
}
.sign-in-text {
  float: left;
  color: #888;
  font-size: 0.8em;
  line-height: 2;
}
.sign-in {
  float: left;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  margin: 0.25em 0 0 0.25em;
}
.facebook-login {
  background: url("facebook-login-16.gif") no-repeat scroll 0 0 transparent;
}
.twitter-login {
  background: url("twitter-login-16.gif") no-repeat scroll 0 0 transparent;
}
#access .sign-in {
  width: 32px;
  height: 32px;
  text-indent: -9999px;
}
#access .facebook-login {
  background: url("facebook-login-32.png") no-repeat scroll 0 0 transparent;
}
#access .twitter-login {
  background: url("twitter-login-32.png") no-repeat scroll 0 0 transparent;
}

/*
 *
 * Map Zoom Controls
 *
 */
.leaflet-control-zoom {
  background-color: transparent;
}
.leaflet-control-zoom a {
  height: 27px;
  width: 27px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0;
     -moz-box-shadow: -2px 2px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -2px 2px 0 rgba(85, 85, 85, 0.5);
          box-shadow: -2px 2px 0 rgba(85, 85, 85, 0.5);
}
.leaflet-control-zoom a:active {
  position: relative;
  top: 1px;
  right: 1px;
     -moz-box-shadow: -1px 1px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -1px 1px 0 rgba(85, 85, 85, 0.5);
          box-shadow: -1px 1px 0 rgba(85, 85, 85, 0.5);
}
.leaflet-control-zoom-in {
  background-image: url(zoom-in.gif);
}
.leaflet-control-zoom-out {
  background-image: url(zoom-out.gif);
}

/*
 *
 * Feature Popup
 *
 */
.information-panel-content .feature,
.information-panel-content .page {
  background-color: white;
  border: 1px solid #a8a8a8;
  padding: 1.5em;
     -moz-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
          box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
}
.information-panel-content {
  line-height: 1.5;
}
.overflowing .information-panel-content:after {
  content: "";
  height: 5px;
  background: url("popup-overflow.png") repeat-x scroll 0 0 transparent;
  position: absolute;
  right: 1em;
  bottom: 1px;
  left: 1em;
  border-bottom: 0.75em solid #fff;
  z-index: 100;
}

/* Feature Popup - Content */
.feature .name {
  margin: 0 0 0.25em;
}
.feature-header > .avatar {
  width: 48px;
  height: 48px;
  margin-right : 0.8em;
}
.feature .description {
  clear: both;
}
.feature-submitter {
}
.feature.show .weak {
  color : #888;
}
.feature textarea {
  width : 90%;
}
.feature div {
  margin-bottom: 1em;
}
.feature.show .meta ul {
  margin : 0;
}
.feature.show .meta ul li {
  list-style: none;
  display: inline;
}
.feature.show .meta ul li:before {
  content: "|";
}
.feature.show .meta ul li.first:before {
  content: " ";
}

/* Discussion */
.discussion {
  position: relative;
  margin-top: 2em;
  padding-bottom: 2em;
}
.discussion-header {
  margin: 1em 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ddd;
}
a.reply-link {
  background: #A3C7D9;
  color: #fff;
  font-size: 0.75em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 0.5em;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}
a.reply-link:hover {
  background: #00aaff;
}
.discussion ul {
  margin-left: 0;
}
.discussion ul li {
  margin: 0 0 1em 0;
  padding: 0 0 0.5em 40px;
  min-height: 25px;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.comment-header {
  line-height: 1.2;
}
.comment-header .avatar {
  position: absolute;
  top: 0;
  left: 0;
}
.comment-header .avatar img {
  width: 26px;
}
.comment-submitter {
  display: block;
}
.comment-date {
  font-size: 0.8em;
}
.comment-body {
  font-size: 0.8em;
}
#reply.hide {
  display: none;
}
.reply-header {
  margin: 1.5em 0 1em;
}
#reply div {
  margin: 0 0 0.5em;
}
#reply input[type=submit] {
  font-size: 1.1em;
  margin-top: 1em;
}

/* Feature Popup - Admin */
.feature.show .feature-admin {
  border : 1px dashed red;
  padding: 10px;
  background-color: #F8F8FF;
}
.feature.show .feature-admin *[type=submit] {
  font-size: 1em;
}

/* Feature Popup - Flash Messages */
.flash {
  font-weight: bold;
  text-align: center;
  background-color: #fdf9e5;
  border: 1px solid #e4d2b7;
  position: relative;
  padding: 0.75em 2em 0.75em 3.5em;
}
.flash.notice:after,
.flash.error:after {
  font-size: 2em;
  text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff;
  margin-top: -0.9em;
  position: absolute;
  top: 50%;
  left: 0.5em;
}
.flash.notice:after {
  content: "✔";
  color: #00aaff;
}
.flash.error:after {
  content: "☠";
  color: #F61359;
}

/* Feature Popup - Social Buttons */
.information-panel .social {
     -moz-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
          box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
}
.social form.vote button[type=submit] {
  background-color: #e4e4e4;
  color: #444;
  border: 1px solid #a8a8a8;
  font-weight: normal;
  font-size: auto;
  font-size: 1em;
  height: 2.5em;
  line-height: 2.5em;
  margin: 15px;
  padding: 0 1.2em;
  text-align: center;
  white-space: nowrap;
  float: left;
  text-shadow: none;
     -moz-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
          box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
}
.social form.vote button[type=submit] span {
  font-weight: bold;
  color: #f61359;
}
.social form.vote button[type=submit] span {
  background : transparent url(support-heart-empty.png) no-repeat scroll top left;
  padding    : 0 0 0 18px;
}
.social form.vote button[type=submit].supported span {
  background : transparent url(support-heart.png) no-repeat scroll top left;
  padding    : 0 0 0 18px;
}

.social .sharing {
  float: left;
  width: 140px;
  margin: 1em 0 0 0;
}
.social .sharing ul,
.social .sharing li {
  margin: 0;
}
.social .sharing li a {
  float: left;
  width: 22px;
  height: 20px;
  margin: 0 10px 5px 0;
  text-indent: -10000px;
}
.social .sharing li a.twitter {
  background: url("twitter.gif") no-repeat scroll 0 0 transparent;
  width: 62px;
}
.social .sharing li a.facebook {
  background: url("facebook.gif") no-repeat scroll 0 0 transparent;
  width: 92px;
}
.social .sharing li a.email {
  background: url("mail.png") no-repeat scroll 0 0 transparent;
  clear: left;
}
.social .sharing li a.link {
  background: url("link.png") no-repeat scroll 0 0 transparent;
}

.social .sharing .copy-link-container {
  position: relative;
}

.social .sharing .copy-link {
  z-index: 10002;
  position: absolute;
  color: #444;
  border: 1px solid #DDD;
  font-size: 0.8em;
  left: 32px;
  width:150px;
  top: -1px;
  padding: 3px;
  outline-width: 0;
  display: none;
}

.social .sharing .copy-link:before {
  content: "";
  border-color: transparent #DDD transparent transparent;
  border-style: solid;
  border-width: 6px;
  height:0;
  width:0;
  position:absolute;
  top:4px;
  left:-13px;
}
.social .sharing .copy-link:after {
  content: "";
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 6px;
  height:0;
  width:0;
  position:absolute;
  top:4px;
  left:-12px;
}


/*
 *
 * News Ticker
 *
 */
#ticker {
  display : none;
     -moz-box-shadow: -4px 0 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -4px 0 0 rgba(85, 85, 85, 0.5);
          box-shadow: -4px 0 0 rgba(85, 85, 85, 0.5);
}
#content.ticker_on #map-container {
  right : 14em;
}
#content.ticker_on #ticker {
  display: block;
  position: absolute;
  width: 14em;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 10000;
  background-color: #666666;
  overflow: auto;
}
#ticker ul {
  padding-top: 4px;
  margin: 0;
}
#ticker ul a {
  color: #ddd;
  text-decoration: none;
  display: block;
  padding: 10px 10px 10px 45px;
  position: relative;
  z-index: 10;
}
#ticker ul a:hover {
  color: #fff;
}
#ticker li {
  padding: 0;
  min-height: 25px;
  border-bottom: 3px solid #5d5d5d;
  font-size: 0.8em;
  margin-bottom: 0;
  position: relative;
}
#ticker li:hover {
  background-color: #626262;
}
#ticker li.loading > div {
  margin : 1em auto;
  width  : 13px;
}
#ticker .avatar {
  width: 28px;
  height: 28px;
  text-align: right;
  margin: 10px 0 10px 10px;
  z-index: 5;
}
#ticker .avatar img {
  width: 28px;
}
#ticker div.badge {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 20px;
  right: 18px;
}
#ticker div.badge.feature_point {
  background : transparent url('ticker-point.png') no-repeat scroll center center;
}
#ticker div.badge.vote {
  background : transparent url('ticker-heart.png') no-repeat scroll center center;
}
#ticker div.badge.comment {
  background : transparent url('ticker-comment.png') no-repeat scroll center center;
}

/* HiderSlider Widget */
.ui-hiderslider-container .ui-widget-content { background: #eeeeee 50% top repeat-x; }
.ui-hiderslider-container .ui-state-default, .ui-hiderslider-container .ui-widget-content .ui-state-default, .ui-hiderslider-container .ui-widget-header .ui-state-default { background: #f6f6f6 50% 50% repeat-x; }

.ui-hiderslider-container {
  background: #fff url('ticker-heart.png') 10px center no-repeat scroll;
  padding: 0 30px;
  font-size: 0.8em;
  font-weight: bold;
     -moz-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
          box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
}
.ui-hiderslider-title {
}
.ui-hiderslider-content {
}
.ui-hiderslider-inner {
}
.ui-hiderslider-slider {
}
.ui-hiderslider-close {
  display: none;
  width: 14px;
  height: 14px;
  background: url("close-bttn.png") no-repeat scroll 0 0 transparent;
  text-indent: -9999px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px !important;
  cursor: pointer;
}
.ui-hiderslider-container .ui-hiderslider-close:hover {
  background-position: bottom left;
}

/*
 *
 * Media Queries for Layout & Style Overrides
 *
 */

/* smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  #wrapper { font-size: 10px; }
  #header {
    height: 4em;
    padding: 0 0.5em 0 1em;
  }
  #content {
    top: 4em;
  }
  #site-title {
    font-size: 2.75em;
  }
  #footer {
    bottom: 4.5em;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 200;
  }
  #footer button {
    display: inline;
  }
  #access {
    margin: 0.25em 0 0;
    padding: 0;
  }
  #access > span {
    display: none;
  }
  #pages {
    margin: 0.5em 0 0 0.5em;
    float: right;
    background: url(mobile-pages.gif) center center no-repeat scroll;
    width: 28px;
    height: 28px;
    overflow: visible;
  }
  #pages ul {
    display: none;
    background: #666666;
    position: absolute;
    top: 4em;
    left: 0;
    right: 0;
    text-align: center;
       -moz-box-shadow: 0 4px 0 rgba(85, 85, 85, 0.5);
    -webkit-box-shadow: 0 4px 0 rgba(85, 85, 85, 0.5);
            box-shadow: 0 4px 0 rgba(85, 85, 85, 0.5);
  }
  #pages ul.active {
    display: block;
  }
  #pages li {
    display: block;
    float: none;
    font-size: 2em;
    border-top: 2px solid #5D5D5D;
    margin: 0;
  }
  #pages a {
    display: block;
    padding: 0.5em 0;
  }
  #pages:hover a {
    display: block;
  }

  #access .account { display:none; }

  .leaflet-control-attribution {
    font-size:1.0em !important;
  }
  .leaflet-control-attribution img {
    display:none;
  }

  .social .sharing .copy-link {
    font-size: 1.2em;
    width:90px;
  }

}

/* smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
}

/* smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
}

/* desktops and laptops ----------- */
@media only screen
and (min-width : 640px) {
  #wrapper { font-size: 15px; }
}

/* large screens ----------- */
@media only screen
and (min-width : 1025px) {
  #wrapper { font-size: 16px; }
}

/* extra-large screens ----------- */
@media only screen
and (min-width : 1824px) {
  #wrapper { font-size: 18px; }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
}

/* ----------- end Media Queries (NOTE: THESE SHOULD COME LAST) ----------- */
