/*
 * Structure & Layout
 */
html, body, #wrapper {
  height: 100%;
}
#wrapper {
  position: relative;
}
#header {
  height: 5em;
  padding: 0 1em;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 300;
}
#content {
  position: absolute;
  top: 5em;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}
#content-wrapper {
  padding: 2em;
}
#footer {
  color: #fff;
  position: absolute;
  bottom: 50px;
  left: 40px;
  z-index: 200;
}

/*
 * Polularity Filter (SliderHider)
 */
.ui-sliderhider-container {
  overflow: auto;
  position: absolute;
  right: 40px;
  bottom: 50px;
}
.ui-sliderhider-container > div {
  float: right;
}
.ui-sliderhider-title {
  padding: 10px;
}
.ui-sliderhider-content {
  padding: 10px 0;
  overflow: hidden;
}
.ui-sliderhider-inner {
}
.ui-sliderhider-inner > div {
  float: left;
  margin: 0 10px;
}
.ui-sliderhider-slider {
  width: 200px;
}
.ui-sliderhider-close {
}

/* The Map */
#map-container {
  position : absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  z-index: 50;
}
#map {
  position : absolute;
  top:0;
  bottom:0;
  width:100%;
}

/* Crosshair for touchscreens */
#crosshair {
  position : absolute;
  z-index  : 10000;
}
