/*
 * Structure & Layout
 */
html, body, #wrapper {
  height: 100%;
}
#wrapper {
  position: relative;
}
#header {
  height: 5em;
  padding: 0 1em;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 300;
}
#pages {
  margin-top: 2.75em;
  float : left;
}
#pages ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#pages li {
  float: left;
  margin-right: 1em;
}
#content {
  position: absolute;
  top: 5em;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}
#content-wrapper {
  padding: 2em;
}
#footer {
  color: #fff;
  position: absolute;
  bottom: 50px;
  left: 40px;
  z-index: 200;
}

/*
 * Polularity Filter (SliderHider)
 */
.ui-sliderhider-container {
  overflow: visible;
  position: absolute;
  right: 40px;
  bottom: 50px;
  z-index: 5;
}
.ui-sliderhider-container > div {
  float: left;
}
.ui-sliderhider-title {
  padding: 0 10px;
  line-height:33px;
  vertical-align: middle;
  cursor: pointer;
}
.ui-sliderhider-content {
  position: relative;
  padding: 10px 0;
  overflow: hidden;
  width:1px;
}
.ui-sliderhider-slider {
  width:167px;
  margin:0 10px;
}
.ui-sliderhider-close {}

/* The Map */
#map-container {
  position : absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  z-index: 50;
}
#map {
  position : absolute;
  top:0;
  bottom:0;
  width:100%;
}

/* Crosshair for touchscreens */
#crosshair {
  position : absolute;
  z-index  : 10000;
}
