/*
 *
 * Base Typography 
 *
 */
body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

/*
 *
 * Base Styles 
 *
 */
body, select, input, textarea { 
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
  color: #444;
  /* set your base font here, to apply evenly */
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; line-height: 1.5; }
h1 { font-size: 3.375em; }
h2 { font-size: 2.25em; }
h3 { font-size: 2.25em; font-weight: normal; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.5em; font-weight: normal; }
h6 { font-size: 1; }
/* always force a scrollbar in non-IE */ 
/* html { overflow-y: scroll; } */
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #00eeff; }
a:hover { color: #66ffff; }
p { margin-bottom: 1.2em; }
ul, ol { margin-left: 1.8em; margin-bottom: 0.6em; }
ol { list-style-type: decimal; }
li { margin-bottom: 0.6em; }
/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre { 
  padding: 15px; 
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}
textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */
/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type      = "radio"] { vertical-align: text-bottom; }
input[type      = "checkbox"] { vertical-align: bottom; }
.ie7 input[type = "checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }
label { font-weight: bold; }
/* webkit browsers add a 2px margin outside the chrome of form elements */  
button, input, select, textarea { margin: 0; }
/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }
/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 
/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 
/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {width: auto; overflow: visible;}
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {-ms-interpolation-mode: bicubic;}

/*
 *
 * Nonsemantic Base Styles 
 *
 */
/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 
/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }
/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }
/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }

/*
 *
 * Structure & Layout
 *
 */
html, body, #wrapper {
  height: 100%;
}
#wrapper {
  position: relative;
  background-color: #555;
}
#header {
  color: #fff;
  background-color: rgba(85, 85, 85, 0.5);
  height: 5em;
  padding: 0 1em;
  position: absolute;
  top: 4px;
  right: 0;
  left: 0;
  z-index: 300;
}
#content {
  background-color: #fff;
  position: absolute;
  top: 5em;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}
#content-wrapper {
  padding: 2em;
}
#footer {
  color: #fff;
  position: absolute;
  bottom: 4.5em;
  left: 3em;
  z-index: 200;
}
#map {
  position : absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
}

/*
 *
 * Header
 *
 */
#site-title {
  color: #f7f7f7;
  float: left;
  text-shadow: 1px -1px 0 #000;
}
#access {
  text-align: right;
  bottom: 1em;
  position: absolute;
  right: 1em;
}
#access a {
  text-decoration: none;
}
#header .meta-separator {
  color: #777;
  margin: 0 0.25em;
}

/*
 *
 * UI Elements
 *
 */
input[type=button], 
input[type=submit], 
button {
  display: block;
  background-color: #00aaff; 
  border: 0;
  margin: 0 0 0.667em;
  padding: 0 1em;
  color: #f7f7f7;
  font-weight: bold;
  font-size: 2.25em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  line-height: 2.25em;
  height: 2.25em;
  text-shadow: 1px -1px 0 #0066aa;
     -moz-box-shadow: -4px 4px 0 rgba(0, 102, 170, 0.75);
  -webkit-box-shadow: -4px 4px 0 rgba(0, 102, 170, 0.75);
          box-shadow: -4px 4px 0 rgba(0, 102, 170, 0.75);
}
input[type=button]:hover, 
input[type=submit]:hover, 
button:hover {
  color: #fff; 
}
input[type=button]:active, 
input[type=submit]:active, 
button:active {
  position: relative;
  top: 4px;
  right: 4px;
     -moz-box-shadow: 1px -1px 0 #0066aa;
  -webkit-box-shadow: 1px -1px 0 #0066aa;
          box-shadow: 1px -1px 0 #0066aa;
}

/* leaflet */
.leaflet-control-zoom {
  background-color: transparent;
}
.leaflet-control-zoom a {
  height: 27px;
  width: 27px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0;
     -moz-box-shadow: -2px 2px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -2px 2px 0 rgba(85, 85, 85, 0.5);
          box-shadow: -2px 2px 0 rgba(85, 85, 85, 0.5);
}
.leaflet-control-zoom a:active {
  position: relative;
  top: 1px;
  right: 1px;
     -moz-box-shadow: -1px 1px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -1px 1px 0 rgba(85, 85, 85, 0.5);
          box-shadow: -1px 1px 0 rgba(85, 85, 85, 0.5);
}
.leaflet-control-zoom-in {
  background-image: url(zoom-in.gif);
}
.leaflet-control-zoom-out {
  background-image: url(zoom-out.gif);
}
  
/*
 *
 * Content & General Styles
 *
 */
table { 
  text-align: left; 
}
tr {
  border-bottom: 1px solid #fff;
  background-color: #eee;
}
tr:hover { 
  background-color: #e9e9e9; 
}
td, th { 
  padding: 0.667em 1.5em 0.667em 10px; 
}
th { 
  background-color: #bbb; 
  font-size: 0.667em; 
  text-transform: uppercase; 
}
table.regions {
}

/*
 *
 * Media Queries for Layout & Style Overrides
 *
 */

/* smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  #wrapper { font-size: 10px; }
  #header {
    height: 4em;
  }
  #content {
    top: 4em;
  }
  #site-title {
    font-size: 2.25em;
  }
  #access {
    margin-top: 1.5em;
  }
  #footer {
    bottom: 4.5em;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 200;
  }
  #footer button {
    display: inline;
  }
}

/* smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
}

/* smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
}

/* desktops and laptops ----------- */
@media only screen
and (min-width : 640px) {
  #wrapper { font-size: 15px; }
}

/* large screens ----------- */
@media only screen
and (min-width : 1025px) {
  #wrapper { font-size: 16px; }
}

/* extra-large screens ----------- */
@media only screen
and (min-width : 1824px) {
  #wrapper { font-size: 18px; }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
}

/* Crosshair for touch screen */
#crosshair {
  position : absolute;
  z-index  : 10000;
}

/* InformationPanel for Mobile, move to small screen */ 
div.information-panel {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

div.information-panel-content-wrap {
  position : relative;
  background-color: white;
  border-radius: .5em;  
  border: 1px solid #CCC;
  z-index:10000;
  overflow-y:scroll;
  height:100%;
}

div.information-panel-content {
  padding : 1em;
}

div.information-panel .close {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 0.8em;
  z-index: 10001;
}

div.information-panel .popup-tip-wrapper {
  margin: -1px auto 0;
	width: 40px;
	height: 16px;
	position: relative;
	overflow: hidden;
	z-index: 10002;
}

div.information-panel .popup-tip {
  background: white;
  width: 15px;
	height: 15px;
	padding: 1px;
	
	margin: -11px auto 0;
	
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	
	box-shadow: 0 1px 10px #888;
	-moz-box-shadow: 0 1px 10px #888;
	-webkit-box-shadow: 0 1px 14px #999;
}

/*
 * 
 * Feature Popup Content
 *
 */
.feature  textarea {
  width : 98%;
} 

.feature div{
  margin-bottom: 10px;
}

.feature h6 {
  margin-bottom: 5px;
}

.feature.show .meta ul {
  margin : 0;
}

.feature.show .meta ul li {
  list-style: none;
  display: inline;
}

.feature.show .meta ul li:before {
	content: "|";
}
	
.feature.show .meta ul li.first:before {
	content: " ";
}

.feature.show .weak {
  color : #888;
}

.feature.show .sharing {
  clear: both;
  height : 20px;
}

.feature.show .sharing,
.feature.show .sharing ul {
  margin: 0;
}

.feature.show .sharing li {
  display : inline;
  float: left;
  margin: 0 0.6em 0 0;
}

.feature.show .sharing li a {
  display: block;
  width : 16px;
  height : 16px;
  text-indent: -10000px;
}

.feature.show .sharing li a.twitter {
  background: url("twitter-16.png") no-repeat scroll 0 0 transparent;
}

.feature.show .sharing li a.facebook {
  background: url("facebook-16.png") no-repeat scroll 0 0 transparent;
}

.feature.show .sharing li a.email {
  background: url("email-16.png") no-repeat scroll 0 0 transparent;
}

.feature.show .sharing li a.link {
  background: url("chain-16.png") no-repeat scroll 0 0 transparent;
}

.feature.show  div.support_button, 
.feature.show form#new_vote button[type=submit] {
  background-color: #e4e4e4; 
  color: #444;
  font-weight: normal;
  font-size: auto;
  font-size: 1em;
  text-shadow: none;
    
  border-radius : 6px;
  -moz-border-radius : 6px;
  -webkit-border-radius : 6px;
  
  box-shadow: none;
  -moz-box-shadow: none; 
  -webkit-box-shadow: none; 
}

.feature.show  div.support_button {  
  height: 2.25em;
  line-height: 2.25em;
  margin: 0 0 0.667em;
  padding: 0 1.3em 0 1.5em; 
  text-align: center;
  white-space: nowrap;
  display : block;
  float: left;
}

.feature.show div.support_button span, 
.feature.show form#new_vote button[type=submit] span {
  font-weight: bold;
  color: red;
}

.feature.show div.support_button span:before, 
.feature.show form#new_vote button[type=submit] span:before {
  content: "♡ ";
}

.feature.show div.support_button span.supported:before, 
.feature.show form#new_vote button[type=submit] span.supported:before {
  content: "♥  ";
}

.feature.show div.discussion ul {
  margin-left: 0;
}

.feature.show div.discussion ul li {
  background   : transparent url('user.png') no-repeat scroll top left;
  padding-left : 30px;
  min-height   : 25px;
} 

.feature.show div.discussion input[type=submit] {
  font-size: 1.1em;
  margin-top: 0.5em;
}

.feature.show .feature-admin {
  border : 1px dashed red;
  padding: 10px;
  background-color: #F8F8FF;
}

.feature.show .feature-admin *[type=submit] {
  font-size: 1em;
}