<!DOCTYPE html>
<html>
<head>
  <title>Calico</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header"></div>

<div id="content">
  <%= yield %>  
</div>

<div id="footer"></div>

</body>
</html>
