<div id="map-container">
  <div id="map"></div>
  <div id="popup"></div>
</div>

<div id="ticker"></div>

<% content_for :javascript do %>
<script type="text/javascript" charset="utf-8">
  if (!window.shareabouts) window.shareabouts = {};
  <% if @feature_point.present? %>
    window.shareabouts.initialFeatureId = <%= @feature_point.id %>;
  <% end %>
</script>
<% end %>

<% content_for :footer do %>
<div class="alpha60 padding10 center rounded-top">
  <button type="button" id="locate_feature" style="display:none;"><%= t 'map_controls.locate_feature' %></button>
  <button type="button" id="finalize_feature" style="display:none;"><%= t 'map_controls.finalize_feature' %></button>
</div>
<% end %>