<div id="map"></div>
<div id="ticker" class="closed"></div>

<% content_for :javascript do %>
<script type="text/javascript" charset="utf-8">
  if (!window.shareabouts) window.shareabouts = {};
  <% if @feature_point.present? %>
    window.shareabouts.feature = <%= @feature_point.as_geo_json.to_json.html_safe %>;
  <% end %>
</script>
<% end %>

<% content_for :footer do %>
<div class="alpha60 padding10 center rounded-top">
  <button type="button" id="locate_feature" style="display:none;"><%= t 'map_controls.locate_feature' %></button>
  <button type="button" id="finalize_feature" style="display:none;"><%= t 'map_controls.finalize_feature' %></button>
</div>
<% end %>